				<div class="card fluid" id="about">
					<h2>About<a href="#about">¶</a></h2>
					<p>DivestOS is a full-time passion project (not a company) maintained solely by Tad (SkewedZeppelin) since <a href="index.php?page=history">2014</a>. It has many goals, but primarily: prolonging the life-span of discontinued devices, enhancing user privacy, and providing a modest increase of security where/when possible. The devices DivestOS supports are not fully free (<a href="https://www.gnu.org/philosophy/free-sw.html" target="_blank" rel="nofollow noopener noreferrer">as-in-freedom</a>) and there are many security issues we cannot solve such as insecure proprietary blobs, insecure firmware, insecure bootloaders, and insecure ancient kernels. We are also fully aware of our "off-the-rails" approach, however mostly attribute it to the sheer effectiveness provided by <a href="https://en.wikipedia.org/wiki/Pareto_principle" target="_blank" rel="nofollow noopener noreferrer">"80%"</a> solutions instead of mulling around and not doing anything. We genuinely believe that what DivestOS offers is something unlike any other project, especially with regards to the project scope and our persistence. We hope you find some benefit in our fruits, and remind you to have fun!</p>
					<div class="section" id="donate">
						<h3>Donations<a href="#donate">¶</a></h3>
						<p>Please consider contributing in the form of testing, promoting, bug reports, code review, merge requests, translations, mirrors, and financially to ensure the project's longevity.</p>
						<ul>
							<li>All donation options <a href="https://divested.dev/donate" target="_blank" rel="nofollow noopener noreferrer">here</a></li>
							<li>Liberapay: <a href="https://liberapay.com/Tad" target="_blank" rel="nofollow noopener noreferrer">Tad</a></li>
							<li>BTC: <a href="bitcoin:bc1qkjtp2k7cc4kuv8k9wjdlxkeuqczenrpv5mwasl">bc1qkjtp2k7cc4kuv8k9wjdlxkeuqczenrpv5mwasl</a></li>
							<li>Monero: <a href="monero:41hwY8KL7ZW4LockC5ZzoR52LdVAoV2VjewGaXay8NRNFsxWwx2a1FCb1Q3HyzSBrvTbkg941hrkkK3d7EagF99MSD9iYHH">41hwY8KL7ZW4LockC5ZzoR52LdVAoV2VjewGaXay8NRNFsxWwx2a1FCb1Q3HyzSBrvTbkg941hrkkK3d7EagF99MSD9iYHH</a></li>
							<li><noscript>Stripe option requires JavaScript</noscript>
							<div class="section hidden" id="nameYourPrice">
								<p>Stripe:
								<input type="radio" id="radPriceOne" name="radPrice">
								<label for="radPriceOne">$1</label>
								<input type="radio" id="radPriceFive" name="radPrice">
								<label for="radPriceFive">$5</label>
								<input type="radio" id="radPriceTen" name="radPrice">
								<label for="radPriceTen">$10</label>
								<input type="radio" id="radPriceFifteen" name="radPrice">
								<label for="radPriceFifteen">$15</label>
								<a href="javascript:checkoutProxy()" class="button primary" id="btnDonate">Donate</a></p>
							</div>
							<p id="lblThanks" hidden>Thank you for your contribution!</p>
							</li>
						</ul>
					</div>
					<div class="section" id="credits">
						<h3>Attributions and Credits<a href="#credits">¶</a></h3>
						<p>The following do not necessarily have any direct involvement in DivestOS. If you would like to be added or removed please create an issue on either the GitHub or GitLab website repository. Information to financially support the below projects/people is also listed.</p>
						<h4 id="creditsSystem">DivestOS System<a href="#creditsSystem">¶</a></h4>
						<ul>
							<li><a href="https://en.wikipedia.org/wiki/Google" target="_blank" rel="nofollow noopener noreferrer">Google</a> and the <a href="https://source.android.com" target="_blank" rel="nofollow noopener noreferrer">Android Open Source Project</a></li>
							<li><a href="https://lineageos.org" target="_blank" rel="nofollow noopener noreferrer">LineageOS</a> (and <a href="https://wiki.lineageos.org/contributors.html" target="_blank" rel="nofollow noopener noreferrer">contributors</a>) - Donate: <a href="https://lineageos.org/about/" target="_blank" rel="nofollow noopener noreferrer">12aDckQC6YHEn75zReQWxXFCivBBNXfRjM (BTC)</a> / <a href="https://www.patreon.com/LineageOS" target="_blank" rel="nofollow noopener noreferrer">Patreon</a> / <a href="https://www.paypal.me/LineageOS" target="_blank" rel="nofollow noopener noreferrer">PayPal</a></li>
							<li><a href="https://web.archive.org/web/20161222043753/http://cyanogenmod.org/" target="_blank" rel="nofollow noopener noreferrer">CyanogenMod</a></li>
							<li><a href="https://github.com/GrapheneOS" target="_blank" rel="nofollow noopener noreferrer">GrapheneOS</a> - Donate: <a href="https://grapheneos.org/donate" target="_blank" rel="nofollow noopener noreferrer">bc1qy6fhm8p00p3h3w5rrcp2h2wejeeqn7x6y7xs2p (BTC)</a> / <a href="https://github.com/sponsors/thestinger" target="_blank" rel="nofollow noopener noreferrer">GitHub Sponsors</a> / <a href="https://paypal.me/DanielMicay" target="_blank" rel="nofollow noopener noreferrer">PayPal</a></li>
							<li><a href="https://github.com/AndroidHardeningArchive" target="_blank" rel="nofollow noopener noreferrer">AndroidHardening</a></li>
							<li><a href="https://www.codeaurora.org" target="_blank" rel="nofollow noopener noreferrer">Code Aurora Forum</a></li>
							<li><a href="https://calyxos.org/" target="_blank" rel="nofollow noopener noreferrer">CalyxOS</a> - Donate: <a href="https://members.calyxinstitute.org/donate" target="_blank" rel="nofollow noopener noreferrer">Calyx Institute</a></li>
						</ul>
						<h4 id="creditsASB">ASB Backports<a href="#creditsASB">¶</a></h4>
						<ul>
							<li><a href="https://github.com/basilgello" target="_blank" rel="nofollow noopener noreferrer">Basil Gello (vasek.gello)</a></li>
							<li><a href="https://github.com/haggertk" target="_blank" rel="nofollow noopener noreferrer">Kevin Haggerty (haggertk)</a></li>
							<li><a href="https://github.com/MSe1969" target="_blank" rel="nofollow noopener noreferrer">Markus (MSe1969)</a></li>
							<li><a href="https://github.com/syphyr" target="_blank" rel="nofollow noopener noreferrer">syphyr</a></li>
							<li><a href="https://github.com/timschumi" target="_blank" rel="nofollow noopener noreferrer">Tim Schumacher (timschumi)</a></li>
							<li><a href="https://github.com/grzwolf" target="_blank" rel="nofollow noopener noreferrer">Wolf-Dieter Enders (grzwolf)</a></li>
						</ul>
						<h4 id="creditsHardening">System Hardening<a href="#creditsHardening">¶</a></h4>
						<ul>
							<li><a href="https://github.com/thestinger" target="_blank" rel="nofollow noopener noreferrer">Daniel Micay (strcat)</a></li>
							<li><a href="https://github.com/MSe1969" target="_blank" rel="nofollow noopener noreferrer">Markus (MSe1969)</a></li>
						</ul>
						<h4 id="creditsKernel">Kernel<a href="#creditsKernel">¶</a></h4>
						<ul>
							<li><a href="https://kernel.org" target="_blank" rel="nofollow noopener noreferrer">Linux</a></li>
							<li><a href="https://www.redhat.com/en/about/company" target="_blank" rel="nofollow noopener noreferrer">Red Hat</a></li>
							<li><a href="https://wiki.debian.org/DebianKernel" target="_blank" rel="nofollow noopener noreferrer">Debian Kernel Team</a></li>
							<li><a href="https://launchpad.net/~ubuntu-security" target="_blank" rel="nofollow noopener noreferrer">Ubuntu Security Team</a></li>
							<li><a href="https://www.cip-project.org/about" target="_blank" rel="nofollow noopener noreferrer">Civil Infrastructure Platform</a></li>
							<li><a href="https://en.wikipedia.org/wiki/Project_Zero_(Google)" target="_blank" rel="nofollow noopener noreferrer">Project Zero</a></li>
							<li><a href="https://github.com/haggertk" target="_blank" rel="nofollow noopener noreferrer">Kevin Haggerty (haggertk)</a></li>
							<li><a href="https://github.com/github-cygwin" target="_blank" rel="nofollow noopener noreferrer">Corinna Vinschen (cygwin)</a></li>
							<li><a href="https://github.com/android-linux-stable" target="_blank" rel="nofollow noopener noreferrer">Nathan Chancellor (nathanchance)</a></li>
						</ul>
						<h4 id="creditsIncludedApps">Included Apps<a href="#creditsIncludedApps">¶</a></h4>
						<ul>
							<li><a href="https://f-droid.org" target="_blank" rel="nofollow noopener noreferrer">F-Droid</a> (and community) - Donate: <a href="https://f-droid.org/en/donate/" target="_blank" rel="nofollow noopener noreferrer">All options</a> / <a href="https://opencollective.com/f-droid" target="_blank" rel="nofollow noopener noreferrer">Open Collective</a> / <a href="https://liberapay.com/F-Droid-Data" target="_blank" rel="nofollow noopener noreferrer">Liberapay</a></li>
							<li><a href="https://gitlab.com/relan" target="_blank" rel="nofollow noopener noreferrer">Andrew Nayenko (relan)</a> - base for Mull-Fenix - Donate: <a href="https://liberapay.com/relan" target="_blank" rel="nofollow noopener noreferrer">Liberapay</a></li>
							<li><a href="https://opencamera.sourceforge.io" target="_blank" rel="nofollow noopener noreferrer">Mark Harman</a> - OpenCamera</li>
							<li><a href="https://github.com/GrapheneOS/Camera/" target="_blank" rel="nofollow noopener noreferrer">GrapheneOS Camera</a></li>
							<li><a href="https://simplemobiletools.com" target="_blank" rel="nofollow noopener noreferrer">Tibor Kaputa</a> - Gallery - Donate: <a href="https://www.simplemobiletools.com/donate/" target="_blank" rel="nofollow noopener noreferrer">All options</a></li>

							<li><a href="https://github.com/stevesoltys" target="_blank" rel="nofollow noopener noreferrer">Steve Soltys</a> - SeedVault</li>
							<li><a href="https://github.com/arkenfox/user.js" target="_blank" rel="nofollow noopener noreferrer">arkenfox user.js (Thorin-Oakenpants)</a> - used by Mull and Brace</li>
							<li><a href="https://www.mozilla.org/en-US/foundation" target="_blank" rel="nofollow noopener noreferrer">Mozilla Foundation</a></li>
						</ul>
						<h4 id="creditsPreviousIncludedApps">Previously Included Apps<a href="#creditsPreviousIncludedApps">¶</a></h4>
						<ul>
							<li><a href="https://github.com/microG" target="_blank" rel="nofollow noopener noreferrer">microG/UnifeidNlp</a> (mar-v-in) - Donate: <a href="https://liberapay.com/microG" target="_blank" rel="nofollow noopener noreferrer">Liberapay</a> / <a href="https://github.com/sponsors/mar-v-in" target="_blank" rel="nofollow noopener noreferrer">GitHub Sponsors</a></li>
							<li><a href="https://github.com/SilenceIM/Silence" target="_blank" rel="nofollow noopener noreferrer">Silence</a> - Donate: <a href="https://github.com/SilenceIM/Silence#donate" target="_blank" rel="nofollow noopener noreferrer">1LoKZXg3bx6kfwAhEFQqS9pgeCE1CFMEJb (BTC)</a> / <a href="https://liberapay.com/Silence" target="_blank" rel="nofollow noopener noreferrer">Liberapay</a></li>
							<li><a href="https://github.com/vanilla-music/vanilla" target="_blank" rel="nofollow noopener noreferrer">Vanilla Music</a> - Donate: <a href="https://github.com/vanilla-music/vanilla#donations" target="_blank" rel="nofollow noopener noreferrer">1adrianERDJusC4c8whyT81zAuiENEqub (BTC)</a></li>
							<li><a href="https://github.com/M66B" target="_blank" rel="nofollow noopener noreferrer">Marcel Bokhorst</a> - FairEmail - Donate: <a href="https://github.com/sponsors/M66B" target="_blank" rel="nofollow noopener noreferrer">GitHub Sponsors</a>, <a href="https://email.faircode.eu/donate/" target="_blank" rel="nofollow noopener noreferrer">All options</a></li>
							<li><a href="https://github.com/n76" target="_blank" rel="nofollow noopener noreferrer">Tod Fitch</a> - Déjà Vu NLP Backends</li>
							<li><a href="https://github.com/dschuermann" target="_blank" rel="nofollow noopener noreferrer">Dominik Schürmann</a></li>
							<li><a href="https://github.com/csagan5" target="_blank" rel="nofollow noopener noreferrer">Carl</a> - extra patches for Mulch - Donate: <a href="https://www.bromite.org/" target="_blank" rel="nofollow noopener noreferrer">bc1qlx7h0lj9z88g2xfeuwsrtfs77sxuhrxf2t28sw (BTC)</a></li>
						</ul>
						<h4 id="creditsPatches">Patches<a href="#creditsPatches">¶</a></h4>
						<ul>
							<li><a href="https://github.com/be-neth" target="_blank" rel="nofollow noopener noreferrer">be-neth</a> - signature spoofing - never included</li>
							<li><a href="https://github.com/MSe1969" target="_blank" rel="nofollow noopener noreferrer">Markus (MSe1969)</a> - various</li>
							<li><a href="https://gitlab.com/accountForIssues" target="_blank" rel="nofollow noopener noreferrer">R Raj (accountForIssues)</a> - GMapsWV open from support</li>
							<li><a href="https://gitlab.com/godbless96" target="_blank" rel="nofollow noopener noreferrer">godbless96</a> - IR Remote improvements and fixes</li>
							<li>Device Overclocks: anarkia1976, Andrew Miyaguchi (XDleader555), bhb27, Dan Sneddon (dsneddon), Evisceration, Felipe de Leon (fglfgl27), flar2 (asegaert), Francisco Franco (franciscofranco), hellsgod, Mathieu Maret (mmaret), nguyenquangduc2000, nikhil18, Omar Einea (eineao), Paul Reioux (reioux), savoca, Stratos Karafotis, Tectas, WedyDQ10, XileForce</li>
						</ul>
						<h4 id="creditsGraphics">Graphics<a href="#creditsGraphics">¶</a></h4>
						<ul>
							<li><a href="https://gitlab.com/iNtEgraIR2021" target="_blank" rel="nofollow noopener noreferrer">Petra Mirelli (iNtEgraIR2021)</a></li>
							<li>Geran de Klerk - Tad's old profile picture</li>
							<li>Maurice Geßwein (zerpixelung) - homepage splash</li>
							<li>Victor Stuber - old homepage splash</li>
							<li><a href="https://unsplash.com/@pawel_czerwinski" target="_blank" rel="nofollow noopener noreferrer">Pawel Czerwinski</a> - default wallpaper - Donate: <a href="https://paypal.me/pmcze" target="_blank" rel="nofollow noopener noreferrer">PayPal</a></li>
							<li><a href="https://unsplash.com/@pgreen1983" target="_blank" rel="nofollow noopener noreferrer">Paul Green</a> - Mulch feature graphic backdrop</li>
							<li><a href="https://gitlab.com/W1nst0n" target="_blank" rel="nofollow noopener noreferrer">W1nst0n</a> - Favicon SVG Conversion</li>
							<li>Wallpapers: Adam Kool, Alex Holzreiter, Anton Repponen, Anton Sharov, Dan Carlson, Jakub Gorajek, Joshua Sortino, Luca Bravo, Nathan Anderson, Omendra Singh, Riccardo Chiarini, Sam Ferrara, Sean Afnan, Wil Stewart, <a href="https://unsplash.com" target="_blank" rel="nofollow noopener noreferrer">Unsplash</a></li>
						</ul>
						<h4 id="creditsTranslations">Translations<a href="#creditsTranslations">¶</a></h4>
						<ul>
							<li><a href="https://gitlab.com/iNtEgraIR2021" target="_blank" rel="nofollow noopener noreferrer">Petra Mirelli (iNtEgraIR2021)</a></li>
							<li>Jean-Luc Tibaux</li>
							<li>Dante (dantecpu)</li>
							<li>inkhorn</li>
							<li><a href="https://github.com/q1011" target="_blank" rel="nofollow noopener noreferrer">q1011</a></li>
							<li><a href="https://gitlab.com/sguinetti" target="_blank" rel="nofollow noopener noreferrer">Diego Sanguinetti</a></li>
							<li><a href="https://gitlab.com/iphukan" target="_blank" rel="nofollow noopener noreferrer">Oswald van Ginkel</a></li>
							<li><a href="https://gitlab.com/huuhaa" target="_blank" rel="nofollow noopener noreferrer">huuhaa</a></li>
							<li><a href="https://gitlab.com/mkljczk" target="_blank" rel="nofollow noopener noreferrer">Marcin Mikołajczak</a></li>
							<li><a href="https://gitlab.com/senpai33" target="_blank" rel="nofollow noopener noreferrer">senpai33</a></li>
							<li>ruanon</li>
							<li><a href="https://forum.xda-developers.com/m/js-xda.9384875/" target="_blank" rel="nofollow noopener noreferrer">js-xda</a></li>
						</ul>
						<h4 id="creditsMisc">Miscellaneous<a href="#creditsMisc">¶</a></h4>
						<ul>
							<li><a href="https://minicss.org" target="_blank" rel="nofollow noopener noreferrer">mini.css</a> - website CSS - Donate: <a href="https://github.com/sponsors/Chalarangelo" target="_blank" rel="nofollow noopener noreferrer">GitHub Sponsors</a></li>
							<li><a href="https://github.com/erfanoabdi" target="_blank" rel="nofollow noopener noreferrer">Erfan Abdi</a>, <a href="https://github.com/filipepferraz" target="_blank" rel="nofollow noopener noreferrer">filipepferraz</a>, and <a href="https://github.com/Lanchon/Flashize" target="_blank" rel="nofollow noopener noreferrer">Lanchon</a> - copy partitions script</li>
							<li><a href="https://github.com/b3pio" target="_blank" rel="nofollow noopener noreferrer">b3pio</a> - Pixel 2 XL device donation</li>
							<li><a href="https://github.com/fossdd" target="_blank" rel="nofollow noopener noreferrer">fossdd</a> - app suggestions</li>
							<li><a href="https://github.com/AkechiShiro" target="_blank" rel="nofollow noopener noreferrer">Samy Lahfa</a> - various tweaks</li>
							<li><a href="https://github.com/PatrykMis" target="_blank" rel="nofollow noopener noreferrer">Patryk Miś</a> - app maintenance</li>
							<li>fossys - device testing</li>
							<li>mjk - messenger comparisons work</li>
							<li>*IM* - messenger comparisons work</li>
							<li><a href="https://github.com/mimi89999" target="_blank" rel="nofollow noopener noreferrer">Michel Le Bihan (mimi89999)</a></li>
							<li><a href="https://github.com/nvllsvm" target="_blank" rel="nofollow noopener noreferrer">nvllsvm</a> - freecyngn</li>
							<li><a href="https://github.com/p4block" target="_blank" rel="nofollow noopener noreferrer">p4block</a> - AOSP pkgbuild</li>
							<li><a href="https://github.com/brandsimon" target="_blank" rel="nofollow noopener noreferrer">Simon Brand</a></li>
							<li><a href="http://animista.net" target="_blank" rel="nofollow noopener noreferrer">Animista</a> - website animations</li>
							<li><a href="https://stackexchange.com" target="_blank" rel="nofollow noopener noreferrer">Stack Exchange Network</a></li>
						</ul>
						<p>Also a huge thanks to <a href="https://github.com/thestinger" target="_blank" rel="nofollow noopener noreferrer">Daniel Micay</a>; DivestOS utilizes many hardening patches from GrapheneOS and the AndroidHardening CM-12.1/13.0 archive. <a href="/images/screenshots/CopperheadOS-bacon.png" target="_blank" integrity="sha384-0GtD9trLYltunJkulhMsrwpsKKZUEM99CtHWmS/yage0fJki/SHsQhkx6E3h2itb">Time flies.</a></p>
					</div>
					<div class="section" id="notices">
						<h3>Notices<a href="#notices">¶</a></h3>
						<ul>
							<!-- http://tmsearch.uspto.gov -->
							<li>Linux is a trademark of Linus Torvalds</li>
							<li>Android is a trademark of Google LLC</li>
							<li>LineageOS is a trademark of LineageOS LLC (87714781)</li>
							<li>GrapheneOS is a trademark of the GrapheneOS Project</li>
							<li>Mozilla Firefox is a trademark of The Mozilla Foundation</li>
							<li>Tor is a trademark of The Tor Project, Inc. (3465432)</li>
							<li>Divested Computing Group is not affiliated with Google, AOSP, LineageOS, Mozilla, Cisco, The Linux Foundation, or The Tor Project</li>
							<li>DivestOS is not sponsored or endorsed by Google, AOSP, or LineageOS</li>
							<li>Mull is not sponsored or endorsed by Mozilla</li>
							<li>Mulch is not sponsored or endorsed by Google</li>
							<li>GMaps WV is not sponsored or endorsed by Google</li>
							<li>Hypatia is not sponsored or endorsed by Cisco</li>
							<li>AOSP source code is available <a href="https://android.googlesource.com" target="_blank" rel="nofollow noopener noreferrer">here</a></li>
							<li>LineageOS source code is available <a href="https://github.com/LineageOS" target="_blank" rel="nofollow noopener noreferrer">here</a></li>
							<li>Linux source code is available <a href="https://www.kernel.org" target="_blank" rel="nofollow noopener noreferrer">here</a></li>
							<li>Firefox source code is available <a href="https://hg.mozilla.org" target="_blank" rel="nofollow noopener noreferrer">here</a></li>
							<li>Chromium source code is available <a href="https://chromium.googlesource.com" target="_blank" rel="nofollow noopener noreferrer">here</a></li>
							<li>All product names, logos, and brands are property of their respective owners. Use of these names, logos, and brands does not imply sponsorship or endorsement.</li>
						</ul>
					</div>
					<div class="section" id="contributing">
						<h3>Contributing<a href="#contributing">¶</a></h3>
						<p>Effective July 29th 2021 all contributions to DivestOS and related projects must be signed-off as per the DCO:</p>
<blockquote cite="https://developercertificate.org">
Developer Certificate of Origin
<pre>
Version 1.1

Copyright (C) 2004, 2006 The Linux Foundation and its contributors.

Everyone is permitted to copy and distribute verbatim copies of this
license document, but changing it is not allowed.


Developer's Certificate of Origin 1.1

By making a contribution to this project, I certify that:

(a) The contribution was created in whole or in part by me and I
    have the right to submit it under the open source license
    indicated in the file; or

(b) The contribution is based upon previous work that, to the best
    of my knowledge, is covered under an appropriate open source
    license and I have the right under that license to submit that
    work with modifications, whether created in whole or in part
    by me, under the same open source license (unless I am
    permitted to submit under a different license), as indicated
    in the file; or

(c) The contribution was provided directly to me by some other
    person who certified (a), (b) or (c) and I have not modified
    it.

(d) I understand and agree that this project and the contribution
    are public and that a record of the contribution (including all
    personal information I submit with it, including my sign-off) is
    maintained indefinitely and may be redistributed consistent with
    this project or the open source license(s) involved.
</pre>
</blockquote>
					</div>
					<div class="section" id="contributions">
						<h3>Our Contributions Back<a href="#contributions">¶</a></h3>
						<ul>
							<li>Option to enable Save-Data HTTP header: <a href="https://github.com/scoute-dich/browser/pull/237" target="_blank" rel="nofollow noopener noreferrer">FOSS Browser</a>, <a href="https://github.com/anthonycr/Lightning-Browser/pull/728" target="_blank" rel="nofollow noopener noreferrer">Lightning</a>, <a href="https://github.com/mozilla-mobile/focus-android/pull/4113" target="_blank" rel="nofollow noopener noreferrer">Klar (WIP)</a></li>
							<li>Reduced APK size: <a href="https://github.com/n76/DejaVu/pull/19" target="_blank" rel="nofollow noopener noreferrer">DejaVu</a>, <a href="https://github.com/SufficientlySecure/offline-calendar/pull/62" target="_blank" rel="nofollow noopener noreferrer">Offline Calendar</a>, <a href="https://github.com/TobiasBielefeld/Simple-Solitaire/pull/135" target="_blank" rel="nofollow noopener noreferrer">Simple Solitaire</a>, <a href="https://github.com/SecUSo/privacy-friendly-netmonitor/pull/58" target="_blank" rel="nofollow noopener noreferrer">Net Monitor (pending)</a>, <a href="https://github.com/microg/NominatimGeocoderBackend/pull/27" target="_blank" rel="nofollow noopener noreferrer">NominatimGeocoder (pending)</a></li>
							<li>Switched OpenWeatherMap API URLs to HTTPS: <a href="https://github.com/martykan/forecastie/pull/252" target="_blank" rel="nofollow noopener noreferrer">Forecastie</a>, <a href="https://github.com/scoute-dich/Weather/pull/21" target="_blank" rel="nofollow noopener noreferrer">FOSS Weather</a>, <a href="https://github.com/SecUSo/privacy-friendly-weather/pull/53" target="_blank" rel="nofollow noopener noreferrer">Privacy Friendly Weather</a>, <a href="https://github.com/sanderbaas/WeatherWidget/pull/15" target="_blank" rel="nofollow noopener noreferrer">Weather Widget</a>, <a href="https://github.com/Kestutis-Z/World-Weather/pull/37" target="_blank" rel="nofollow noopener noreferrer">World Weather</a>, <a href="https://github.com/thuryn/your-local-weather/pull/1" target="_blank" rel="nofollow noopener noreferrer">Your Local Weather</a>, <a href="https://github.com/Sparker0i/Weather/pull/28" target="_blank" rel="nofollow noopener noreferrer">Simple Weather (declined)</a>, <a href="https://github.com/code-crusher/EasyWeather/pull/10" target="_blank" rel="nofollow noopener noreferrer">Easy Weather (pending)</a>, <a href="https://github.com/qqq3/good-weather/pull/41" target="_blank" rel="nofollow noopener noreferrer">Good Weather (pending)</a>, <a href="https://github.com/Antonis427/veterondo/pull/3" target="_blank" rel="nofollow noopener noreferrer">Veterondo (pending)</a>, <a href="https://github.com/GrahamBlanshard/WiseRadar/pull/5" target="_blank" rel="nofollow noopener noreferrer">WiseRadar (pending)</a></li>
							<li>Conversations: <a href="https://github.com/iNPUTmice/Conversations/pull/4103" target="_blank" rel="nofollow noopener noreferrer">Tor A/V Reminder (pending)</a>, <a href="https://gist.github.com/SkewedZeppelin/109a3e35c3008b78988d08cb03f85993" target="_blank" rel="nofollow noopener noreferrer">Restart Orbot Snackbar (WIP)</a></li>
							<li>DNS66: <a href="https://github.com/julian-klode/dns66/pull/273" target="_blank" rel="nofollow noopener noreferrer">Support loading settings from /system (pending rewrite)</a></li>
							<li>Fennec F-Droid: <a href="https://gitlab.com/relan/fennecbuild/-/merge_requests?scope=all&state=all&author_username=IratePorcupine" target="_blank" rel="nofollow noopener noreferrer">misc. fixes</a></li>
							<li>F-Droid Metadata: <a href="https://gitlab.com/fdroid/fdroiddata/-/merge_requests?scope=all&state=all&author_username=IratePorcupine" target="_blank" rel="nofollow noopener noreferrer">various</a></li>
							<li>GrapheneOS: <a href="https://github.com/GrapheneOS/Camera/pull/219" target="_blank" rel="nofollow noopener noreferrer">Camera workaround for OnePlus 6 series</a></li>
							<li>KISS Launcher: <a href="https://github.com/Neamar/KISS/pull/1858" target="_blank" rel="nofollow noopener noreferrer">Memory leak fix</a></li>
							<li>LineageOS: <a href="https://github.com/LineageOS/android_device_htc_msm8974-common/commit/c3bc8c744e81f65fe4f15ec94c5dfb8c66971510" target="_blank" rel="nofollow noopener noreferrer">m8 RIL fix</a>, <a href="https://github.com/LineageOS/android_device_samsung_jf-common/commit/b61e93a07de7092e5ea064e3442089b9f7c2595c" target="_blank" rel="nofollow noopener noreferrer">jf* script fix</a>, <a href="https://github.com/LineageOS/android_kernel_google_yellowstone/commit/3e837b46cbabf5e6c3c1d203117f489d5f41a7a4" target="_blank" rel="nofollow noopener noreferrer">yellowstone compile fix</a>, <a href="https://github.com/LineageOS/android_vendor_lineage/commit/b1d3f65ac2663a8effbf363b3b31a587c13cda00" target="_blank" rel="nofollow noopener noreferrer">extract-utils script fix</a>, <a href="https://github.com/LineageOS/android_device_essential_mata/commit/71905b226ebaa8778b7a4d5803fa38985168af58" target="_blank" rel="nofollow noopener noreferrer">mata usb fix</a>, <a href="https://github.com/voron00/android_device_lge_mako/commit/644b4ff104183005419a77ac1e3747939a0df235" target="_blank" rel="nofollow noopener noreferrer">mako sepolicy breakage fix</a></li>
							<li>Mozilla Firefox: <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1419581" target="_blank" rel="nofollow noopener noreferrer">Initial patches to fix building without Google Play Services</a></li>
							<li>Orbot: Exposed <a href="https://github.com/guardianproject/orbot/pull/80" target="_blank" rel="nofollow noopener noreferrer">IsolateDestAddr</a>, <a href="https://github.com/guardianproject/orbot/pull/97" target="_blank" rel="nofollow noopener noreferrer">ConnectionPadding</a>, <a href="https://github.com/guardianproject/orbot/pull/190" target="_blank" rel="nofollow noopener noreferrer">IPv6</a>, <a href="https://github.com/guardianproject/orbot/pull/270" target="_blank" rel="nofollow noopener noreferrer">CircuitPadding</a>, and <a href="https://github.com/guardianproject/orbot/pull/44" target="_blank" rel="nofollow noopener noreferrer">more country (declined)</a> options</li>
							<li>Privacy Browser: (upstream declined) Added Tor support, DNT support, extra search engines, and extra user agents. <a href="https://gist.github.com/SkewedZeppelin/4ec24520c6a463b9d03d7b87c727e6bb" target="_blank" rel="nofollow noopener noreferrer">Patches here</a></li>
							<li>Privacy Friendly Weather: <a href="https://github.com/SecUSo/privacy-friendly-weather/pull/47" target="_blank" rel="nofollow noopener noreferrer">Fix Celsius to Fahrenheit conversion</a></li>
							<li>RadioDroid: <a href="https://github.com/segler-alex/RadioDroid/pull/143" target="_blank" rel="nofollow noopener noreferrer">Switched API requests to HTTPS</a>, <a href="https://github.com/segler-alex/RadioDroid/pull/144" target="_blank" rel="nofollow noopener noreferrer">Added an option to not download station icons</a>, and <a href="https://github.com/segler-alex/RadioDroid/pull/145" target="_blank" rel="nofollow noopener noreferrer">Split proprietary Google Play Service libraries into its own flavor</a></li>
							<li>RedReader: <a href="https://github.com/QuantumBadger/RedReader/pull/296" target="_blank" rel="nofollow noopener noreferrer">Added Tor support</a> and <a href="https://github.com/QuantumBadger/RedReader/pull/323" target="_blank" rel="nofollow noopener noreferrer">clearing WebView cookies</a></li>
							<li>SuperTuxKart: <a href="https://github.com/supertuxkart/stk-code/pull/3007" target="_blank" rel="nofollow noopener noreferrer">Use a lower internal rendering resolution (broken)</a></li>
							<li>Tutanota: <a href="https://github.com/tutao/tutanota/pull/3779" target="_blank" rel="nofollow noopener noreferrer">Set FLAG_SECURE (PoC)</a></li>
							<li>CIP Kernel CVE Tracker: <a href="https://gitlab.com/cip-project/cip-kernel/cip-kernel-sec/-/merge_requests/70" target="_blank" rel="nofollow noopener noreferrer">Added AOSP branches</a></li>
							<li>Firejail: <a href="https://github.com/netblue30/firejail/commit/8638519a4a0d66263d4b198252f6964c226829c9" target="_blank" rel="nofollow noopener noreferrer">Profile for OS compilation</a></li>
						</ul>
						<p>Minor help/suggestions/tips:</p>
						<ul>
							<li>CVE patcher integration: <a href="https://gitlab.com/divested-mobile/cve_checker/-/blob/master/README.md#implementation-discussions" target="_blank" rel="nofollow noopener noreferrer">links here</a></li>
							<li>Briar: <a href="https://code.briarproject.org/briar/briar/-/merge_requests/961" target="_blank" rel="nofollow noopener noreferrer">System default theme</a>, <a href="https://code.briarproject.org/briar/briar/-/merge_requests/1320" target="_blank" rel="nofollow noopener noreferrer">IPv6-only</a></li>
							<li>CalyxOS: <a href="https://gitlab.com/CalyxOS/calyxos/-/issues/618" target="_blank" rel="nofollow noopener noreferrer">no IMSI to SUPL</a></li>
							<li>Cheeseburger build guide: <a href="https://gist.github.com/brandsimon/01f98627e8f8ba67b36141e7ec3c648f" target="_blank" rel="nofollow noopener noreferrer">Signing help</a></li>
							<li>GrapheneOS: <a href="https://github.com/AndroidHardeningArchive/legacy_bugtracker/issues/624" target="_blank" rel="nofollow noopener noreferrer">blob removal</a>, <a href="https://github.com/GrapheneOS/platform_frameworks_base/pull/87" target="_blank" rel="nofollow noopener noreferrer">no IMSI to SUPL</a></li>
							<li>LeOS-GSI: <a href="https://forum.f-droid.org/t/who-ships-f-droid-roms-repos-forks-etc/14185/20" target="_blank" rel="nofollow noopener noreferrer">impetus to release sources</a></li>
							<li>LineageOS: <a href="https://review.lineageos.org/q/topic:%22n-netd%22" target="_blank" rel="nofollow noopener noreferrer">impetus to merge</a>, <a href="https://github.com/LineageOS/android_device_oneplus_msm8998-common/commit/34156937b80ff1d90e9d8fe875a099483dd3421c" target="_blank" rel="nofollow noopener noreferrer">pointing out oneplus5 compile fix</a>, <a href="https://github.com/LineageOS/android_bootable_recovery/commit/c07fbfc6338a3b331fc2b55fb841f945fa360eef" target="_blank" rel="nofollow noopener noreferrer">pointing out recovery sideload cache issue</a></li>
							<li>Magisk DRM Disabler: <a href="https://gitlab.com/Atrate/magisk-drm-disabler/-/commit/532f93a17abc43df242820934a654e2e87faf651" target="_blank" rel="nofollow noopener noreferrer">Related work on the removal of proprietary blobs</a></li>
							<li>postmarketOS: <a href="https://gitlab.com/postmarketOS/pmaports/-/issues/213" target="_blank" rel="nofollow noopener noreferrer">blob removal</a></li>
							<li>Replicant: Related work for the removal of the proprietary AmbientSDK blob <a href="https://lists.osuosl.org/pipermail/replicant/2020-November/003138.html" target="_blank" rel="nofollow noopener noreferrer">email</a> and resulting <a href="https://git.replicant.us/replicant/packages_apps_Contacts/tag/?h=cm-13-before-ambientsdk" target="_blank" rel="nofollow noopener noreferrer">commit</a></li>
							<li>Universal Android Debloater: <a href="https://gitlab.com/W1nst0n/universal-android-debloater/-/issues/67" target="_blank" rel="nofollow noopener noreferrer">blob corrections</a></li>
						</ul>
						<p>Work that we never attempted to upstream:</p>
						<ul>
							<li>Remove proprietary libraries: <a href="https://gist.github.com/SkewedZeppelin/504bfde878ab6f195f3b75c427828c8c" target="_blank" rel="nofollow noopener noreferrer">AnySoftKeyboard</a>, <a href="https://gist.github.com/SkewedZeppelin/0f7fe63664f8dc6adf8b5e49c45dbb11" target="_blank" rel="nofollow noopener noreferrer">D-Sub</a>, <a href="https://gist.github.com/SkewedZeppelin/b82fb2969139a525af6df7d4ed555882" target="_blank" rel="nofollow noopener noreferrer">Meshtastic</a>, Muzei, <a href="https://gist.github.com/SkewedZeppelin/123d4551ecc7a6e4c95692f696b69984" target="_blank" rel="nofollow noopener noreferrer">Substratum</a></li>
							<li>RedReader: <a href="https://gist.github.com/SkewedZeppelin/9b2a63e7cc6c68f873e85a0cbbf26609" target="_blank" rel="nofollow noopener noreferrer">WebView hardening</a></li>
							<li>Signal: <a href="https://gist.github.com/SkewedZeppelin/680a86187fe43fd27fd53b8085647c18" target="_blank" rel="nofollow noopener noreferrer">Force WebSocket mode even when Google Play Services is detected</a></li>
							<li>Twelf: Additional icons</li>
						</ul>
					</div>
				</div>
				<script defer type="text/javascript" src="/assets/js/purchase.js" integrity="sha384-OAZV2KpYfERtCMcmejXpc54p2QROsxz6JCMKdufjS6/oxFuEpapPGnxwUd6uz6dW"></script>
				<script defer type="text/javascript" src="/assets/js/donate.js" integrity="sha384-9OwvarR+vLR0zjFwvP6JiSGUBx4NBEd1dVbVMc64m1f126BfJOv8Y1B5ZnEsQiNf"></script>
