				<div class="card fluid">
					<h2>Known Issues</h2>
					<p>This page documents known problems, along with workarounds if available, for the system and apps. See also the <a href="index.php?page=functionality_tables">functionality tables</a> page and the <a href="index.php?page=bug_reporting">bug reporting</a> page if necessary.</p>
					<div class="section" id="appIssues">
						<h3>Apps<a href="#appIssues">¶</a></h3>
						<h4 id="mull">Mull<a href="#mull">¶</a></h4>
						<ul>
							<li>On DivestOS 19.1 and 20.0 the initial install of Mull will not have Internet access, go to its `App info` screen then `Mobile data & Wi-Fi` and enable `Allow network access`.</li>
							<li>Dark mode for websites is disabled due to resist fingerprinting. Please do not disable RFP.</li>
							<li>Refresh rate is capped to 60hz due to resist fingerprinting. Please do not disable RFP.</li>
							<li>If audio/video content fails to play in private tabs navigate to <code>about:config</code> and change <code>browser.privatebrowsing.forceMediaMemoryCache</code> to false, this is however a privacy risk.</li>
							<li>Mull has strict certificate revocation checks. The CA revocation servers are frequently down/blocked/inaccessible and will result in a "Secure Connection Failed" error. Navigate to <code>about:config</code> and change <code>security.OCSP.require</code> to false, this is however a security and privacy risk.</li>
							<li>Mull has strict certificate pinning. If you are using a proxy or VPN that does HTTPS manipulation you'll encounter a "Secure Connection Failed" error. Navigate to <code>about:config</code> and change <code>security.cert_pinning.enforcement_level</code> from 2 to 1, this is however a security and privacy risk.</li>
							<li>Mull has stripped referrers. This often breaks loading of images on websites with hotlink protection. Navigate to <code>about:config</code> and change <code>network.http.referer.XOriginPolicy</code> from 2 to 1, this is however a privacy risk.</li>
							<li>Mull has WebAssembly disabled by default. This is often used for web apps. Navigate to <code>about:config</code> and change <code>javascript.options.wasm</code> to true if needed, this is however a security risk.</li>
							<li>Mull has WebGL disabled by default. This is often used for games and maps. Navigate to <code>about:config</code> and change <code>webgl.disabled</code> to false if needed, this is however a privacy risk.</li>
							<li>Mull has WebRTC disabled by default. This is often used for audio/video calls. Navigate to <code>about:config</code> and change <code>media.peerconnection.enabled</code> to true if needed, this is however a privacy risk.</li>
							<li>If the button to "Accept the risk & continue" doesn't work: navigate to <code>about:config</code> and change <code>browser.ssl_override_behavior</code> from 1 to 2.</li>
							<li>If you want to access Onions using Mull and Orbot: navigate to <code>about:config</code> and change <code>network.dns.blockDotOnion</code> to false. Tor Browser for Android however should be preferred.</li>
							<li>Upstream issues: <a href="https://github.com/mozilla-mobile/fenix/issues/26220" target="_blank" rel="nofollow noopener noreferrer">background timers</a>, <a href="https://github.com/mozilla-mobile/fenix/issues/417" target="_blank" rel="nofollow noopener noreferrer">bookmark import/export</a>, <a href="https://github.com/mozilla-mobile/fenix/issues/12711" target="_blank" rel="nofollow noopener noreferrer">disable images</a>, <a href="https://github.com/mozilla-mobile/fenix/issues/9956" target="_blank" rel="nofollow noopener noreferrer">duplicate tab</a>, <a href="https://gitlab.com/relan/fennecbuild/-/issues/34" target="_blank" rel="nofollow noopener noreferrer">FIDO</a>, <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1610822" target="_blank" rel="nofollow noopener noreferrer">Fission</a>, <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1565196" target="_blank" rel="nofollow noopener noreferrer">isolatedProcess</a>, <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1765375" target="_blank" rel="nofollow noopener noreferrer">language issues</a>, <a href="https://github.com/mozilla-mobile/fenix/issues/1327" target="_blank" rel="nofollow noopener noreferrer">open .html file</a>, <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1801733" target="_blank" rel="nofollow noopener noreferrer">RFP canvas exception</a>, <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1810741" target="_blank" rel="nofollow noopener noreferrer">Sync broken by RFP</a>, <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1800567" target="_blank" rel="nofollow noopener noreferrer">touch gestures</a></li>
						</ul>
						<h4 id="others">Others<a href="#others">¶</a></h4>
						<ul>
							<li>F-Droid will not suggest updates for Mull if the version on the official F-Droid repo is older than the DivestOS repo. Enable "Unstable updates" in its Settings for faster updates.</li>
							<li>F-Droid will reset its database on the second start in many cases. [upstream]</li>
							<li>F-Droid will sometimes crash when downloading large apps. [upstream]</li>
							<li>To use gmail.com with FairEmail you must use an App Password.</li>
							<li>Silence will crash if first started without a SIM-card inserted. [upstream]</li>
							<li>Simple Gallery will fail to render images on select older devices. Disable 'deep zooming' in its settings to workaround. [hardware limitations]</li>
						</ul>
					</div>
					<div class="section" id="system">
						<h3>System<a href="#system">¶</a></h3>
						<h4 id="unsupported">Not Supported<a href="#unsupported">¶</a></h4>
						<ul>
							<li>Changing device identifiers like the IMEI is NOT supported.</li>
							<li>Encryption cannot be disabled.</li>
							<li>eSIMs are not supported.</li>
							<li>Fonts cannot be easily added to the system.</li>
							<li>Google Apps or microG or Sandboxed Play Services are NOT supported.</li>
							<li>Other WebView providers such as Bromite are not currently supported. They were briefly supported in the past but caused boot issues on 15.1 for unknown reasons.</li>
							<li>Remote desktop host apps like AnyDesk and TeamViewer are not supported. They rely on special system permissions enabled by vendors signing helper apps on their behalf.</li>
							<li>Root is <a href="index.php?page=faq#rootSupport">NOT supported</a>.</li>
							<li>SELinux is always enforcing and cannot be set permissive or disabled.</li>
							<li>Signature spoofing is NOT supported.</li>
							<li>Torrents will not be offered for downloads/updates. They don't work well on mobile and they leak IP addresses of users.</li>
						</ul>
						<h4 id="notes">Notes<a href="#notes">¶</a></h4>
						<ul>
							<li>16.0 and higher will warn when running an app that is not targeting Android 9.0 API for the first time.</li>
							<li>17.1 and higher will warn when running a 32-bit app for the first time on a 64-bit device. Sometimes this warning is not accurate.</li>
							<li>Compiling is non-trivial and has many undocumented steps.</li>
							<li>Devices using 'encryptable=footer' in their fstab will not be encrypted by default. These devices typically are unable to be encrypted on the very first boot.</li>
							<li>If your device is not detected by your computer use a USB 2.0 port. If you don't have any USB 2.0 ports use a USB 2.0 hub. If that still doesn't work try another cable.</li>
							<li>IMS/VoLTE <a href="index.php?page=faq#volte">may or may not work</a>. [upstream? deblobber? carrier?]</li>
							<li>Incremental updates will often fail to successfully apply on non <a href="index.php?page=faq#incrementalSupport">update-engine</a> devices. [releasetools]</li>
							<li>It is strongly recommended to leave OEM unlocked enabled to allow for recovery if unbootable and locked.</li>
							<li>Sensors Off toggle on 17.1/18.1 also turns off the camera and microphone.</li>
							<li>'Storage Manager' is non-functional in some cases.</li>
							<li>The ADB toggle in developer options has absolutely zero effect on whether or not you can use ADB in recovery.</li>
							<li>The default password for Android encryption is `defaultpassword`.</li>
							<li>The DivestOS recovery is automatically installed on supported devices each successful boot. If you externally change it, you must not boot the system to use it.</li>
							<li>The 'enable native code debugging'/ptrace_scope toggle does nothing on devices without stacked YAMA, ie. kernels before 3.10.</li>
							<li>The Updater may not show very recent updates due to the server's 2 hour cache.</li>
							<li>The Updater will show the currently installed update, this is expected.</li>
							<li>When sideloading a final percent of 90-94% is expected and not signs of failure.</li>
							<li>You can quickly access the default keyboard settings by long pressing on the comma key.</li>
						</ul>
						<h4 id="papercuts">Papercuts<a href="#papercuts">¶</a></h4>
						<ul>
							<li>Block encrypted devices will fail to shutdown from secure boot screen on 18.1. Force power off via power button to workaround.</li>
							<li>Bluetooth phone calls may not work.</li>
							<li>Devices with less than 2GB of RAM *will* likely out-of-memory more often than usual. [various]</li>
							<li>Disabling Storage Manager is strongly recommended, it may choose to delete your old files after 90 days otherwise.</li>
							<li>Fingerprint readers may work inconsistently, this is usually not actually caused by DivestOS.</li>
							<li>If `fastboot update` fails on identifying device you can try the force option, otherwise extract the zip and `fastboot flash` each partition manually.</li>
							<li>If Seedvault is set to backup to a USB flash drive and it is later plugged in, the automatically started backup may fail. If so, you must invoke the backup manually. [upstream]</li>
							<li>If you have banking or game apps that do not work, ensure the `Enable native code debugging` toggle is enabled in Settings > Security. Such apps use ptrace as a form of crude anti-tamper mechanism.</li>
							<li>MediaProvider error toast on some boots of <=16.0. [permission issue?]<a href="https://gitlab.com/divested-mobile/divestos-build/-/issues/3" target="_blank" rel="nofollow noopener noreferrer">[tracking]</a></li>
							<li>Most devices may take up to the full 12.5 minutes to acquire a GPS lock. Locks will often be quicker, especially if recently locked. Please test using GPSTest app with *clear* and *direct* line of sky. [deblobber]<a href="https://f-droid.org/en/packages/com.android.gpstest.osmdroid" target="_blank" rel="nofollow noopener noreferrer">[link]</a></li>
							<li>Mull is not installed by default, only an empty shim/placeholder is. F-Droid will prompt you to "update" it on first run which will install it.</li>
							<li>Phone call audio is distorted sometimes until speaker phone is toggled. [deblobber?]</li>
							<li>Recovery will not be updated on each boot on 14.1. [upstream]</li>
							<li>The OLED screen protection mechanism may push the clock off the screen for a minute every now and then.</li>
							<li>The changelog link in the Updater links to the LineageOS changelog for your device. However devices Lineage no longer compiles for don't have such a page.</li>
							<li>The secondary user logout button on the lockscreen will overlap the unlock icon on some devices.</li>
							<li>Trebuchet, the launcher, on older versions will randomly enter a half-broken state where you cannot long press any apps. Force stop Trebuchet from Settings or reboot to fix.</li>
							<li>TWRP (which isn't supported) often cannot decrypt/unlock /data due to it being incompatible/outdated.</li>
							<li>Updater JSON parsing error on 14.1. [upstream?]<a href="https://gitlab.com/divested-mobile/divestos-build/-/issues/2" target="_blank" rel="nofollow noopener noreferrer">[tracking]</a></li>
							<li>When `Private DNS` is enabled for the system, Chromium based browsers will automatically handle DNS themself bypassing the /etc/hosts based blocking function. Disable `Secure DNS` to work around.</li>
							<li>When `Private DNS` is disabled for the system, using anything in the VPN slot will likely bypass the /etc/hosts based blocking function. <a href="index.php?page=faq#privateDNS">Read here</a> for more information.</li>
						</ul>
						<h4 id="bugs">Bugs<a href="#bugs">¶</a></h4>
						<ul>
							<li>Flutter-based apps may show graphical artifacting on older (msm8974 era) devices.</li>
							<li>Older Unity engine games will likely crash on 16.0+ due to the hardened memory allocator. A workaround is to install the 32-bit variant of the app. [Unity engine bug]<a href="https://issuetracker.unity3d.com/issues/android-il2cpp-empty-project-crashes-on-launch-with-using-memoryadresses-from-more-than-16gb-of-memory-messages" target="_blank" rel="nofollow noopener noreferrer">[tracking]</a></li>
							<li>Select older devices running 17.1/10 or higher will fail to connect to 802.11w (optional/required) enabled Wi-Fi networks due to lack of PMF support. [hardware]</li>
							<li>Special permissions of apps may be randomly reset after reboots on 19.1 and higher. This is an unknown and widespread issue affecting many other operating systems. [upstream]</li>
							<li><strike>'Developer options' will crash on 15.1 due to null PDB handle. Likely fixed in late 2022-02 builds</strike></li>
							<li><strike>Fenix based browsers such as a 'Mull' or 'Fennec F-Droid' might cause a reboot on launch. Please report your device if it does to be fixed.</strike></li>
						</ul>
					</div>
					<div class="section" id="devices">
						<h3>Devices<a href="#devices">¶</a></h3>
						<p>Devices listed as "Tested/Reported Working" on Downloads page will not be listed here if they are fully working as expected and do not have any quirks.</p>
						<h4 id="hdx-common">apollo/thor<a href="#hdx-common">¶</a></h4>
						<ul>
							<li>Encryption is not supported. [upstream blobs]</li>
						</ul>
						<h4 id="beryllium">beryllium<a href="#beryllium">¶</a></h4>
						<ul>
							<li>(confirmed report) Camera is non-functional. [kernel]</li>
						</ul>
						<h4 id="clark">clark<a href="#clark">¶</a></h4>
						<ul>
							<li>Camera is very slow to start and sometimes won't start at all. [upstream]</li>
							<li>Camera can be very slow to take pictures at higher resoutions. [???]</li>
						</ul>
						<h4 id="d852">d852<a href="#d852">¶</a></h4>
						<ul>
							<li>Sensors will not work unless you have a hybrid v220k modem which requires an a10b bootloader. [firmware]</li>
						</ul>
						<h4 id="dragon">dragon<a href="#dragon">¶</a></h4>
						<ul>
							<li>(reported) Will bootloop if a pin/password/pattern is not set or is unset. [???]</li>
						</ul>
						<h4 id="fp4">FP4<a href="#fp4">¶</a></h4>
						<ul>
							<li>Do <strong>NOT</strong> attempt to lock the bootloader if <code>fastboot flashing get_unlock_ability</code> returns zero or else it will brick. EDL access is not available on this device and you will have to send it in for service. [upstream]<a href="https://forum.fairphone.com/t/trapped-in-fastboot-mode-with-locked-bootloader-and-corrupted-custom-rom/80985" target="_blank" rel="nofollow noopener noreferrer">[forum thread]</a></li>
						</ul>
						<h4 id="g3-common">d850/d851/d852/d855/f400/ls990/vs985/G3<a href="#g3-common">¶</a></h4>
						<ul>
							<li>Wi-Fi tethering may not work. [???]</li>
							<li>Bluetooth likely won't start due to missing MAC address. [hwaddrs selinux? /misc corrupt?]</li>
							<li>Device will often fail on reboot and become unresponsive, requiring the battery to be pulled. [hardware]</li>
						</ul>
						<h4 id="g5-common">h830/h850/rs988/G5<a href="#g5-common">¶</a></h4>
						<ul>
							<li>Bluetooth likely won't start due to missing MAC address. [hwaddrs selinux? /misc corrupt?]</li>
							<li>(unconfirmed) NFC doesn't work. [???]</li>
							<li>(unconfirmed) GPS doesn't work. [???]</li>
							<li>(unconfirmed) Torch doesn't work. [???]</li>
						</ul>
						<h4 id="davinci">davinci<a href="#davinci">¶</a></h4>
						<ul>
							<li>FM radio causes reboot on headphone plug/unplug, app can be disabled as workaround. [???]</li>
						</ul>
						<h4 id="op6-common">enchilada/fajita<a href="#op6-common">¶</a></h4>
						<ul>
							<li>On select devices Wi-Fi may be very broken. [hardware?]<a href="https://gitlab.com/LineageOS/issues/android/-/issues/4667" target="_blank" rel="nofollow noopener noreferrer">[upstream tracking]</a></li>
						</ul>
						<h4 id="op7-common">guacamole*/hotdog*<a href="#op7-common">¶</a></h4>
						<ul>
							<li>(reported) Having fingerprints registered can cause the sensor to trigger at random causing the screen to flicker green. [???]</li>
							<li>Second SIM non-functional. [disabled, some variants lack the necessary firmware]</li>
						</ul>
						<h4 id="flox">flox<a href="#flox">¶</a></h4>
						<ul>
							<li>Device powers off after sleeping for an unknown time. [???]</li>
						</ul>
						<h4 id="grouper">grouper<a href="#grouper">¶</a></h4>
						<ul>
							<li>Camera is non-functional. [upstream kernel]</li>
							<li>Device is extremely slow. [hardware?]</li>
							<li>Relocking bootloader with an AOSP/Lineage/DivestOS recovery flashed will result in a *permanent hard brick* unless you have acquired your NvFlash recovery token! [bootloader]<a href="https://web.archive.org/web/20171225183216/http://www.androidroot.mobi/pages/guides/tegra3-guide-nvflash-jellybean/" target="_blank" rel="nofollow noopener noreferrer">[guide]</a></li>
						</ul>
						<h4 id="hammerhead">hammerhead<a href="#hammerhead">¶</a></h4>
						<ul>
							<li>15.1: Wi-Fi tethering doesn't work. [???]</li>
							<li>16.0: Camera, Bluetooth, and Wi-Fi tethering doesn't work. [???]</li>
						</ul>
						<h4 id="s7-common">herolte/hero2lte/S7<a href="#s7-common">¶</a></h4>
						<ul>
							<li>(reported) bootloops. [???]<a href="https://forum.f-droid.org/t/divestos-an-aftermarket-system/10105/62" target="_blank" rel="nofollow noopener noreferrer">[report]</a></li>
						</ul>
						<h4 id="s3-common">i9300/i9305/S3<a href="#s3-common">¶</a></h4>
						<ul>
							<li>No web browsers open at all. [kernel? memory?]</li>
							<li>USB MTP is likely not functioning. [SELinux?]</li>
							<li>NFC is likely not functioning. [SELinux?]</li>
							<li>(reported) SIM card detection issues. Likely fixed in 2021-06 build. [SELinux]<a href="https://github.com/divestos/divestos/issues/1" target="_blank" rel="nofollow noopener noreferrer">[report]</a></li>
						</ul>
						<h4 id="lavender">lavender<a href="#lavender">¶</a></h4>
						<ul>
							<li>Recovery doesn't update on system update due to missing install-recovery.sh. [upstream]<a href="https://gist.github.com/SkewedZeppelin/504c0a197c39ea0be59dcb813e3b303a" target="_blank" rel="nofollow noopener noreferrer">[repro script]</a></li>
						</ul>
						<h4 id="klte">klte<a href="#klte">¶</a></h4>
						<ul>
							<li>SD cards might fail to mount or format. [vold + selinux?]</li>
							<li>USB ADB only works when MTP mode isn't set. [FunctionFS corruption?]</li>
						</ul>
						<h4 id="m8">m8/m8d<a href="#m8">¶</a></h4>
						<ul>
							<li>Screen artifacting when using video camera. [???]</li>
						</ul>
						<h4 id="maguro">maguro/toro/toroplus<a href="#maguro">¶</a></h4>
						<ul>
							<li>Not encrypted by default. [OMAP SMC limitation]</li>
							<li>Camera unavailable until reboot occasionally. [ducati cma issues?]</li>
						</ul>
						<h4 id="mako">mako<a href="#mako">¶</a></h4>
						<ul>
							<li>/system needs to be resized to fit 17.1 or higher. [too small partition]</li>
							<li>Will fail to boot on first boot. Force off once after 3 minutes. Likely fixed in 2022-01 builds. [modem subsystem service startup failure with forceencrypt]</li>
						</ul>
						<h4 id="mata">mata<a href="#mata">¶</a></h4>
						<ul>
							<li>Images will often fail to install via recovery. [fstab /vendor/firmware_mnt]</li>
							<li>Speaker phone volume cannot be changed from maximum.</li>
						</ul>
						<h4 id="nexn900">nex/n900<a href="#nexn900">¶</a></h4>
						<ul>
							<li>Camera is non-functional. [upstream blobs?]</li>
							<li>Encryption is not supported. [upstream device tree?]</li>
							<li>GPS is non-functional. [deblobber]</li>
						</ul>
						<h4 id="pixel2">taimen/walleye<a href="#pixel2">¶</a></h4>
						<ul>
							<li>(reported) APN persistence issues. [???]</li>
							<li>(reported) SIM detection issues. [???][upstream]</li>
						</ul>
						<h4 id="starlte">star*lte<a href="#starlte">¶</a></h4>
						<ul>
							<li>Uses the stock /vendor partition, making many of the deblobber benefits unavailable. [upstream]</li>
						</ul>
					</div>
				</div>
