				<div class="card fluid">
					<h2>Browser Comparison Table</h2>
					<p>All of the available browsers have each of their own faults as documented in the table below.<br>While DivestOS includes a Gecko based browser for privacy reasons, Chromium based browsers have many security advantages. It is up to the user to choose their preference.</p>
					<p>Fennec based browsers should not be considered for use, as upstream no longer receives security updates. Please use a Fenix based browser instead.<br>Fennec F-Droid <strong>is Fenix based, not Fennec based</strong> despite its name.</p>
					<p>Both lists are sorted by order of recommendation, closer to the top the more we'd recommend.<br>For more detailed privacy related technical information please reference the <a href="https://privacytests.org/android.html" target="_blank" rel="nofollow noopener noreferrer">PrivacyTests</a> website.<br>Extra reading on <a href="https://grapheneos.org/usage#web-browsing" target="_blank" rel="nofollow noopener noreferrer">mobile browsers</a>, an in-depth <a href="https://arxiv.org/pdf/2112.15561.pdf" target="_blank" rel="nofollow noopener noreferrer">security comparison of the leading engines</a>, and a fun <a href="https://contrachrome.com/ContraChrome_en.pdf" target="_blank" rel="nofollow noopener noreferrer">webcomic against the Chromium monoculture</a>.<br>Release comparisons are also available for <a href="/misc/ffa-dates.txt" target="_blank">Firefox</a> and <a href="/misc/ch-dates.txt" target="_blank">Chromium</a>.</p>
					<p>Disclosure: Mull and Mulch, noted below, are projects of DivestOS.</p>
					<p>Last updated: 2022/11/23</p>
					<hr>
					<h4 id="processIsolation">What is per-site process isolation?<a href="#processIsolation">¶</a></h4>
					<p>Per-site process isolation is a powerful security feature that seeks to limit exposure of a malicious website/script abusing a security vulnerability.<br>Firefox calls per-site process isolation <a href="https://wiki.mozilla.org/Project_Fission" target="_blank" rel="nofollow noopener noreferrer">Fission</a> and is enabled by default on desktop. Fission is <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1610822" target="_blank" rel="nofollow noopener noreferrer">not yet</a> enabled by default on Android, and when manually enabled it results in a severely degraded/broken experience. Furthermore Firefox on Android does <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1565196" target="_blank" rel="nofollow noopener noreferrer">not</a> take advantage of Android's <a href="https://developer.android.com/guide/topics/manifest/service-element" target="_blank" rel="nofollow noopener noreferrer">isolatedProcess</a> flag for completely sandboxing application services.<br>Standalone Chromium based browsers strictly isolate websites to their own process.</p>
					<p>The lack of per-site process isolation means a successful exploit is likely able to gain more access (to other site data/browser settings/passwords) without needing a second exploit. It would still need an Android system/kernel exploit to further escape the system sandbox. It is an important hardening feature, but the browser isn't completely insecure without it assuming it is up-to-date and that you aren't on the receiving end of targeted/zero-day attacks. Furthermore (in Chromium) with isolated renderer processes there is still <a href="https://security.googleblog.com/2022/09/use-after-freedom-miracleptr.html" target="_blank" rel="nofollow noopener noreferrer">some inherent</a> attack surface of the main process that can allow a single exploit, just like in Firefox.</p>
					<h4 id="dataIsolation">What is per-site data isolation?<a href="#dataIsolation">¶</a></h4>
					<p>The goal of per-site data isolation is to prevent say a third party script from being able to store data and use that to track you across many websites, instead any data set will be keyed to the website it was set from. This concept is further detailed <a href="https://github.com/michaelkleber/privacy-model" target="_blank" rel="nofollow noopener noreferrer">here</a>.<br>Firefox calls per-site data isolation first party isolation (FPI) or enhanced tracking protection (ETP) strict/dynamic FPI. Fenix does support dFPI but it is currently in a <a href="https://github.com/mozilla-mobile/fenix/blob/v109.1.1/nimbus.fml.yaml#L197" target="_blank" rel="nofollow noopener noreferrer">staged rollout</a> via Nimbus, Focus however enables it by default.<br>Chromium calls per-site data isolation (network) state partitioning.</p>
					<hr>
					<h3>Full Fledged Browsers</h3>
					<div class="section" id="fenix-based">
						<h4>Gecko Based Browsers<a href="#fenix-based">¶</a></h4>
						<p>Note: uBlock Origin is not included by default and must be installed by the user. No other extensions are recommended.</u>
						<table class="striped" style="max-height: 100%;">
							<thead>
								<tr>
									<th>Name</th>
									<th>Free and Open Source</th>
									<th>Per-Site Data Isolation <small>(Privacy)</small></th>
									<th>Per-Site Process Isolation <small>(Security)</small></th>
									<th>Fingerprinting Protection <small>(Privacy)</small></th>
									<th>Content Blocker <small>(Privacy)</small></th>
									<th>Maintained <small>(Security)</small></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td data-label="Name"><a href="index.php?page=our_apps#mull" target="_blank" rel="nofollow noopener noreferrer">Mull</a> ★</td>
									<td data-label="FOSS" style="color:#4CAF50;">Yes: <a href="https://gitlab.com/divested-mobile/mull-fenix/-/blob/master/fenix-liberate.patch" target="_blank" rel="nofollow noopener noreferrer">1</a>, <a href="https://gitlab.com/divested-mobile/mull-fenix/-/blob/master/gecko-liberate.patch" target="_blank" rel="nofollow noopener noreferrer">2</a></td>
									<td data-label="Per-Site Data Isolation" style="color:#4CAF50;">Strong</td>
									<td data-label="Per-Site Process Isolation" style="color:#f44336;">No</td>
									<td data-label="Fingerprinting Protection" style="color:#4CAF50;">Strong</td>
									<td data-label="Content Blocker" style="color:#4CAF50;">Basic + uBlock Origin</td>
									<td data-label="Maintained">Within a week</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://www.torproject.org" target="_blank" rel="nofollow noopener noreferrer">Tor Browser</a> ★</td>
									<td data-label="FOSS" style="color:#FFC107;">Proprietary Libraries: <a href="https://gitlab.torproject.org/tpo/applications/fenix/-/blob/tor-browser-96.3.0-11.0-1/buildSrc/src/main/java/Dependencies.kt#L248" target="_blank" rel="nofollow noopener noreferrer">1</a>, <a href="https://gitlab.torproject.org/tpo/applications/fenix/-/commit/eb540c7ab1d4a924a79ddb70fdeb6184ff043657" target="_blank" rel="nofollow noopener noreferrer">2</a></td>
									<td data-label="Per-Site Data Isolation" style="color:#4CAF50;">Strong</td>
									<td data-label="Per-Site Process Isolation" style="color:#f44336;">No</td>
									<td data-label="Fingerprinting Protection" style="color:#4CAF50;">Strong</td>
									<td data-label="Content Blocker" style="color:#4CAF50;">uBlock Origin</td>
									<td data-label="Maintained">Within a month</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/en/packages/org.mozilla.fennec_fdroid" target="_blank" rel="nofollow noopener noreferrer">Fennec F-Droid</a> (Fenix)</td>
									<td data-label="FOSS" style="color:#4CAF50;">Yes: <a href="https://gitlab.com/relan/fennecbuild/-/blob/master/fenix-liberate.patch" target="_blank" rel="nofollow noopener noreferrer">1</a>, <a href="https://gitlab.com/relan/fennecbuild/-/blob/master/gecko-liberate.patch" target="_blank" rel="nofollow noopener noreferrer">2</a></td>
									<td data-label="Per-Site Data Isolation" style="color:#FFC107;">Basic</td>
									<td data-label="Per-Site Process Isolation" style="color:#f44336;">No</td>
									<td data-label="Fingerprinting Protection" style="color:#673AB7;">Very basic</td>
									<td data-label="Content Blocker" style="color:#4CAF50;">Basic + uBlock Origin</td>
									<td data-label="Maintained">Within a week</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://www.mozilla.org/en-US/firefox/" target="_blank" rel="nofollow noopener noreferrer">Firefox</a></td>
									<td data-label="FOSS" style="color:#FFC107;">Proprietary Libraries</td>
									<td data-label="Per-Site Data Isolation" style="color:#FFC107;">Basic</td>
									<td data-label="Per-Site Process Isolation" style="color:#f44336;">No</td>
									<td data-label="Fingerprinting Protection" style="color:#673AB7;">Very basic</td>
									<td data-label="Content Blocker" style="color:#4CAF50;">Basic + uBlock Origin</td>
									<td data-label="Maintained">Yes</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://www.mozilla.org/en-US/firefox/browsers/mobile/focus/" target="_blank" rel="nofollow noopener noreferrer">Firefox Focus/Klar</a></td>
									<td data-label="FOSS" style="color:#FFC107;">Proprietary Libraries</td>
									<td data-label="Per-Site Data Isolation" style="color:#4CAF50;">Strong</td>
									<td data-label="Per-Site Process Isolation" style="color:#f44336;">No</td>
									<td data-label="Fingerprinting Protection" style="color:#673AB7;">Very basic</td>
									<td data-label="Content Blocker" style="color:#FFC107;">Basic</td>
									<td data-label="Maintained">Yes</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://github.com/fork-maintainers/iceraven-browser" target="_blank" rel="nofollow noopener noreferrer">Iceraven</a></td>
									<td data-label="FOSS" style="color:#FFC107;">Proprietary Libraries: <a href="/images/Iceraven-GMS.png" target="_blank" rel="nofollow noopener noreferrer">1</a></td>
									<td data-label="Per-Site Data Isolation" style="color:#FFC107;">Basic</td>
									<td data-label="Per-Site Process Isolation" style="color:#f44336;">No</td>
									<td data-label="Fingerprinting Protection" style="color:#673AB7;">Very basic</td>
									<td data-label="Content Blocker" style="color:#4CAF50;">Basic + uBlock Origin</td>
									<td data-label="Maintained">Within two months</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/packages/org.gnu.icecat" target="_blank" rel="nofollow noopener noreferrer">Icecat</a> (Fennec)</td>
									<td data-label="FOSS" style="color:#4CAF50;">Yes</td>
									<td data-label="Per-Site Data Isolation" style="color:#f44336;">No</td>
									<td data-label="Per-Site Process Isolation" style="color:#f44336;">No</td>
									<td data-label="Fingerprinting Protection" style="color:#f44336;">No</td>
									<td data-label="Content Blocker" style="color:#4CAF50;">uBlock Origin</td>
									<td data-label="Maintained" style="color:red;">4+ years behind</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="section" id="chromium-based">
						<h4>Chromium Based Browsers<a href="#chromium-based">¶</a></h4>
						<table class="striped" style="max-height: 100%;">
							<thead>
								<tr>
									<th>Name</th>
									<th>Free and Open Source</th>
									<th>Per-Site Data Isolation <small>(Privacy)</small></th>
									<th>Per-Site Process Isolation <small>(Security)</small></th>
									<th>Fingerprinting Protection <small>(Privacy)</small></th>
									<th>Content Blocker <small>(Privacy)</small></th>
									<th>Maintained <small>(Security)</small></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td data-label="Name"><a href="https://www.bromite.org" target="_blank" rel="nofollow noopener noreferrer">Bromite</a> ★</td>
									<td data-label="FOSS" style="color:#4CAF50;">Yes: <a href="https://github.com/bromite/bromite/blob/master/build/patches/Remove-binary-blob-integrations.patch" target="_blank" rel="nofollow noopener noreferrer">1</a></td>
									<td data-label="Per-Site Data Isolation" style="color:#4CAF50;">Strong</td>
									<td data-label="Per-Site Process Isolation" style="color:#4CAF50;">Strong</td>
									<td data-label="Fingerprinting Protection" style="color:#FFC107;">Basic</td>
									<td data-label="Content Blocker" style="color:#FFC107;">Basic</td>
									<td data-label="Maintained">Within two weeks</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="index.php?page=our_apps#mulch" target="_blank" rel="nofollow noopener noreferrer">Mulch</a> ★</td>
									<td data-label="FOSS" style="color:#FFC107;">Proprietary Libraries</td>
									<td data-label="Per-Site Data Isolation" style="color:#4CAF50;">Strong</td>
									<td data-label="Per-Site Process Isolation" style="color:#4CAF50;">Strong</td>
									<td data-label="Fingerprinting Protection" style="color:#f44336;">No</td>
									<td data-label="Content Blocker" style="color:#f44336;">No</td>
									<td data-label="Maintained">Within a week</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://www.chromium.org/Home/" target="_blank" rel="nofollow noopener noreferrer">Chromium</a></td>
									<td data-label="FOSS" style="color:#FFC107;">Proprietary Libraries</td>
									<td data-label="Per-Site Data Isolation" style="color:#FFC107;">Basic</td>
									<td data-label="Per-Site Process Isolation" style="color:#4CAF50;">Strong</td>
									<td data-label="Fingerprinting Protection" style="color:#f44336;">No</td>
									<td data-label="Content Blocker" style="color:#f44336;">No</td>
									<td data-label="Maintained">Yes</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://brave.com" target="_blank" rel="nofollow noopener noreferrer">Brave</a></td>
									<td data-label="FOSS" style="color:#FFC107;">Proprietary Libraries: <a href="/images/Brave-GMS.png" target="_blank" rel="nofollow noopener noreferrer">1</a></td>
									<td data-label="Per-Site Data Isolation" style="color:#4CAF50;">Strong</td>
									<td data-label="Per-Site Process Isolation" style="color:#4CAF50;">Strong</td>
									<td data-label="Fingerprinting Protection" style="color:#4CAF50;">Strong</td>
									<td data-label="Content Blocker" style="color:#4CAF50;">Strong</td>
									<td data-label="Maintained">Yes</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="section" id="webview">
						<h3>WebView Browsers<a href="#webview">¶</a></h3>
						<p>These browsers <b>must</b> be combined with an <a href="/misc/ch-dates.txt" target="_blank">up to date</a> WebView provider to be secure.<br>If you are on stock/OEM version of Android or have Google Apps installed, you are likely using the Google/Chrome WebView with extra telemetry.<br>While WebView browsers utilize the Chromium WebView, they cannot offer any per-site process isolation.</p>
						<table class="striped" style="max-height: 100%;">
							<thead>
								<tr>
									<th>Name</th>
									<th>Free and Open Source</th>
									<th>Per-Site Data Isolation <small>(Privacy)</small></th>
									<th>Fingerprinting Protection <small>(Privacy)</small></th>
									<th>Content Blocker <small>(Privacy)</small></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/packages/com.stoutner.privacybrowser.standard" target="_blank" rel="nofollow noopener noreferrer">Privacy Browser</a></td>
									<td data-label="FOSS" style="color:#4CAF50;">Yes</td>
									<td data-label="Per-Site Data Isolation" style="color:#673AB7;">Very basic</td>
									<td data-label="Fingerprinting Protection" style="color:#f44336;">No</td>
									<td data-label="Content Blocker" style="color:#FFC107;">Basic</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/packages/de.baumann.browser" target="_blank" rel="nofollow noopener noreferrer">FOSS Browser</a></td>
									<td data-label="FOSS" style="color:#4CAF50;">Yes</td>
									<td data-label="Per-Site Data Isolation" style="color:#673AB7;">Very basic</td>
									<td data-label="Fingerprinting Protection" style="color:#673AB7;">Very basic</td>
									<td data-label="Content Blocker" style="color:#FFC107;">Basic</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/packages/com.duckduckgo.mobile.android" target="_blank" rel="nofollow noopener noreferrer">DuckDuckGo Browser</a></td>
									<td data-label="FOSS" style="color:#4CAF50;">Yes</td>
									<td data-label="Per-Site Data Isolation" style="color:#673AB7;">Very basic</td>
									<td data-label="Fingerprinting Protection" style="color:#f44336;">No</td>
									<td data-label="Content Blocker" style="color:#4CAF50;">Strong</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/packages/acr.browser.lightning" target="_blank" rel="nofollow noopener noreferrer">Lightning</a></td>
									<td data-label="FOSS" style="color:#4CAF50;">Yes</td>
									<td data-label="Per-Site Data Isolation" style="color:#673AB7;">Very basic</td>
									<td data-label="Fingerprinting Protection" style="color:#f44336;">No</td>
									<td data-label="Content Blocker" style="color:#FFC107;">Basic</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://github.com/LineageOS/android_packages_apps_Jelly" target="_blank" rel="nofollow noopener noreferrer">Jelly</a></td>
									<td data-label="FOSS" style="color:#4CAF50;">Yes</td>
									<td data-label="Per-Site Data Isolation" style="color:#673AB7;">Very basic</td>
									<td data-label="Fingerprinting Protection" style="color:#f44336;">No</td>
									<td data-label="Content Blocker" style="color:#f44336;">No</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
