				<div class="card fluid">
					<h2>Bug Reporting</h2>
					<div class="section" id="links">
						<h3>Links<a href="#links">¶</a></h3>
						<h4>Check for known issues first<a href="#known">¶</a></h4>
						<p>Please check to see if your issue is already documented on one of the following pages.</p>
						<ul>
							<li><a href="index.php?page=broken">Known Issues</a></li>
							<li><a href="index.php?page=functionality_tables">Functionality Tables</a></li>
							<li><a href="index.php?page=faq">FAQ</a></li>
							<li><a href="index.php?page=troubleshooting">Troubleshooting</a></li>
						</ul>

						<h4>Where to report bugs<a href="#report">¶</a></h4>
						<p>If you did not find your issue there please report it using one of the links below.</p>
						<ul>
							<li>Issues with the system: <a href="https://github.com/divested-mobile/divestos-build/issues" target="_blank" rel="nofollow noopener noreferrer">GitHub Issues</a>, <a href="https://gitlab.com/divested-mobile/divestos-build/issues" target="_blank" rel="nofollow noopener noreferrer">GitLab Issues</a></li>
							<li>Issues with the website: <a href="https://github.com/divested-mobile/divestos-website/issues" target="_blank" rel="nofollow noopener noreferrer">GitHub Issues</a>, <a href="https://gitlab.com/divested-mobile/divestos-website/issues" target="_blank" rel="nofollow noopener noreferrer">GitLab Issues</a></li>
							<li>Issues with Mull: <a href="https://github.com/divested-mobile/mull-fenix/issues" target="_blank" rel="nofollow noopener noreferrer">GitHub Issues</a>, <a href="https://gitlab.com/divested-mobile/mull-fenix/issues" target="_blank" rel="nofollow noopener noreferrer">GitLab Issues</a></li>
							<li>Issues with Mulch: <a href="https://gitlab.com/divested-mobile/mulch/issues" target="_blank" rel="nofollow noopener noreferrer">GitLab Issues</a></li>
							<li>Issues with Hypatia: <a href="https://github.com/divested-mobile/hypatia/issues" target="_blank" rel="nofollow noopener noreferrer">GitHub Issues</a>, <a href="https://gitlab.com/divested-mobile/hypatia/issues" target="_blank" rel="nofollow noopener noreferrer">GitLab Issues</a></li>
							<li>Issues with Extirpater: <a href="https://github.com/divested-mobile/extirpater/issues" target="_blank" rel="nofollow noopener noreferrer">GitHub Issues</a>, <a href="https://gitlab.com/divested-mobile/extirpater/issues" target="_blank" rel="nofollow noopener noreferrer">GitLab Issues</a></li>
							<li>Issues with GMaps WV: <a href="https://github.com/divested-mobile/maps/issues" target="_blank" rel="nofollow noopener noreferrer">GitHub Issues</a>, <a href="https://gitlab.com/divested-mobile/maps/issues" target="_blank" rel="nofollow noopener noreferrer">GitLab Issues</a></li>
							<li>Issues with MergedWiFiNLP: <a href="https://github.com/divested-mobile/wlanbackend/issues" target="_blank" rel="nofollow noopener noreferrer">GitHub Issues</a>, <a href="https://gitlab.com/divested-mobile/wlanbackend/issues" target="_blank" rel="nofollow noopener noreferrer">GitLab Issues</a></li>
							<li>Issues with MotionLock: <a href="https://github.com/divested-mobile/motionlock/issues" target="_blank" rel="nofollow noopener noreferrer">GitHub Issues</a>, <a href="https://gitlab.com/divested-mobile/motionlock/issues" target="_blank" rel="nofollow noopener noreferrer">GitLab Issues</a></li>
						</ul>
					</div>
					<div class="section" id="logs">
						<h3>Collecting logs<a href="#logs">¶</a></h3>
						<h4>Commands for collecting logs</h4>
						<ul>
							<li>All errors: <code>adb logcat -b all -d *:E</code></li>
							<li>SELinux denials: <code>adb logcat -b all -d | grep -i audit</code></li>
							<li>GPS issues: <code>adb logcat -b all -d | grep -i -e locsvc -e izat -e gps -e gnss -e location -e xtra</code></li>
							<li>Radio issues: <code>adb logcat -b all -d | grep -i -e radio -e modem -e network -e connect -e phone -e tele</code></li>
							<li>Library issues: <code>adb logcat -b all -d | grep -i -e dlopen</code></li>
							<li>hardened_malloc terminations: <code>adb logcat -b all -d | grep -i -e hardened_malloc</code></li>
						</ul>
					</div>
				</div>
