				<div class="card fluid">
					<h2>Build Guide</h2>
					<div class="section" id="intro">
						<h3>Introduction<a href="#intro">¶</a></h3>
						<p>You want to build for yourself? Awesome!
						<br>First things first, you're going to need a pretty decent computer if you want timely builds.</p>
						<ul>
							<li>For builds under 3 hours you'll want to have at least a powerful quad core processor, 32GB of RAM, and a 7200RPM drive.</li>
							<li>For builds under an hour you'll want to have a processor that gets a score of 30k+ or higher on <a href="https://www.cpubenchmark.net/cpu_list.php" target="_blank" rel="nofollow noopener noreferrer">Passmark</a>, 64GB of RAM, and a large SSD.</li>
							<li>It may be possible to get by with 16GB + zram, regardless zram is recommended in all cases.</li>
							<li>If you plan on building in a virtual machine, in terms of performance: KVM > Hyper-V > VMWare > VirtualBox</li>
							<li>You'll need a lot of available free space on your drives</li>
							<ul>
								<li>Source Code: 200GB + ~3GB per device</li>
								<li>~100GB per device for building</li>
								<li>~10GB per device for optional ccache</li>
								<li>~1-4GB for each resulting build</li>
								<li>~4-8GB for two target-files for a device to optionally generate incremental updates</li>
								<li>Cheap: ~$60 2TB 7200RPM HDD (non-SMR)</li>
								<li>Fast: ~$120 1TB SSD (MLC/"enterprise" preferred)</li>
								<li>If you plan on having multiple versions available btrfs+zstd:1+duperemove is strongly recommended.</li>
							</ul>
						</ul>
						<p>Second you'll want to have a fast Internet connection to download the source code and OS dependencies, 100Mbps is recommended.
						<br>Lastly you'll need to have an excellent cooling solution, your computer will be running at full load for quite some time.</p>
					</div>
					<div class="section" id="deps">
						<h3>Installing Dependencies<a href="#deps">¶</a></h3>
						<p>Run the few commands below to get your system up to date and install all necessary dependencies. Of note the DivestOS build scripts are only tested on Fedora.</p>
						<h4>On Fedora (strongly recommended)</h4>
							<p>The latest Fedora release is recommended.</p>
							<pre><code>sudo dnf update;

sudo dnf install @development-tools android-tools automake bc bison bzip2 bzip2-libs ccache curl dpkg-dev flex gcc gcc-c++ git git-lfs glibc-devel.{x86_64,i686} gnupg gperf ImageMagick ImageMagick-c++-devel ImageMagick-devel java-1.8.0-openjdk java-1.8.0-openjdk-devel libgcc.{x86_64,i686} libstdc++.{x86_64,i686} libX11-devel.{x86_64,i686} libxml2-devel libXrandr.{x86_64,i686} libXrender.{x86_64,i686} libxslt lz4-libs lzop make maven mesa-libGL-devel.{x86_64,i686} ncurses ncurses-compat-libs ncurses-devel.{x86_64,i686} ninja-build openssl-devel optipng jpegoptim perl-Digest-MD5-File perl-Switch pngcrush python python2-virtualenv python3 python3-mako python-mako python-markdown python-networkx readline-devel.{x86_64,i686} rsync schedtool SDL squashfs-tools syslinux-devel unzip wxGTK xml2 xz-lzma-compat zip zlib zlib-devel.{x86_64,i686} vim-common vboot-utils;

curl https://storage.googleapis.com/git-repo-downloads/repo >> ~/bin/repo;
chmod a+x ~/bin/repo;
sudo ln -sf /usr/share/crypto-policies/LEGACY/java.txt /etc/crypto-policies/back-ends/java.config;</code></pre>
						<h4>On Arch Linux (not recommended)</h4>
							<p>@p4block has created a handy metapackage for installing the necessary dependencies, use your favorite AUR helper to install it. There is also a more minimal one included in our build repository that you can install with makepkg.</p>
							<pre><code>sudo pacman -Syu;
aurman -S lineageos-devel firejail;
sudo paccache -rk0;</code></pre>
						<h4>On Ubuntu (not recommended)</h4>
							<p>Ubuntu <strike>18.04</strike> is recommended, newer should work fine with little change.</p>
							<pre><code>sudo apt update && sudo apt upgrade && sudo apt full-upgrade && sudo apt -f install && sudo apt autoremove;
sudo ln -s /usr/include/asm-generic /usr/include/asm;

sudo apt install autoconf automake bc bison build-essential ccache curl expat flex g++ gawk gcc gcc-multilib git-core git-lfs g++-multilib gnupg gperf lib32ncurses5-dev lib32z1-dev lib32z-dev libc6-dev libc6-dev-i386 libcap-dev libcloog-isl-dev libesd0-dev libexpat1-dev libgcc1:i386 libgl1-mesa-dev libgmp-dev libmpc-dev libmpfr-dev libncurses5-dev libsdl1.2-dev libtool libx11-dev libxml2 libxml2-utils lzop maven ncurses-dev openjdk-8-jdk patch pkg-config pngcrush python-all-dev schedtool squashfs-tools subversion texinfo unzip x11proto-core-dev xsltproc zip zlib1g-dev imagemagick repo firejail optipng jpegoptim;

sudo apt clean;</code></pre>
					</div>
					<div class="section" id="init">
						<h3>Creating a Workspace<a href="#init">¶</a></h3>
						<h4>Setting up Firejail (optional)</h4>
						<p>For extra security of your host machine, you can run the entire build process in a fairly restricted sandbox with minimal performance impact. We've already upstreamed a profile for just this task.</p>
						<pre><code>echo 'if [ $container="firejail" ]; then unset PROMPT_COMMAND; fi;' >> .bashrc;
firejail --profile=/etc/firejail/aosp.profile bash;</code></pre>
						<h4>Checking out the code</h4>
						<p>Okay, now you'll want to create the workspace. This is highly recommended to be on a separate drive from your system drive. Bash or a similar shell is required.</p>
						<pre><code>umask 0022;
git clone https://gitlab.com/divested-mobile/divestos-build.git DivestOS;
cd DivestOS;
git submodule update --init --recursive; #must have git-lfs installed
mkdir -p Build/LineageOS-20.0/.repo/local_manifests Builds Signing_Keys .Signing_Keys;
gocryptfs -init .Signing_Keys;
gocryptfs .Signing_Keys/ Signing_Keys/;
nano Scripts/init.sh; #Choose your options and update paths
cd Build/LineageOS-20.0;
cat ../../Manifests/Manifest_LAOS-20.0.xml > .repo/local_manifests/local_manifest.xml;
repo init -u https://github.com/LineageOS/android.git -b lineage-20.0;
repo sync; #This part will take a while

#Some systems have python3 set as default, the build scripts require python2
virtualenv venv --python=python2; #not necessary for 18.1 and higher


#Generate signing keys
source ../../Scripts/init.sh;
nano Generate_Signing_Keys.sh; #Update description
source build/envsetup.sh && breakfast lineage_sailfish-user && make -j20 generate_verity_key; #edit device if not available, can be any
sh Generate_Signing_Keys.sh $device; #repeat as needed for other devices
</code></pre>
					<h4>Setting up ccache (Optional)</h4>
						<p>Use of ccache is highly recommended, it's an easy way to dramatically reduce build time and power usage. This is extremely recommended to be on a separate drive from your system drive and your build drive.</p>
						<pre><code>mkdir ccache;
echo "export USE_CCACHE=1;" >> .bashrc;
echo "export CCACHE_COMPRESS=1;" >> .bashrc;
echo "export CCACHE_COMPRESSLEVEL=1;" >> .bashrc;
echo "export CCACHE_EXEC=/usr/bin/ccache;" >> .bashrc;
echo "export CCACHE_DIR=[PATH TO CCACHE DIRECTORY];" >> .bashrc;
source ~/.bashrc;
ccache -M 128GB; #Optionally set a size limit</code></pre>
					</div>
					<div class="section" id="paths">
						<h3>About the Workspace<a href="#paths">¶</a></h3>
						<p>You should become familiar with the workspace.</p>
						<ul>
							<li>/Build - This is where source code and working directory is stored</li>
							<li>/Builds - This is where signed release builds are copied to</li>
							<li>/Manifests - This is where working repo manifests are stored</li>
							<li>/Misc - This is for storing misc. snippets of anything</li>
							<li>/Patches - This is where all repo patches are stored</li>
							<li>/Scripts - This is where all scripts are stored</li>
							<li>/Signing_Keys - This is the default signing key store, it's recommended to store these using gocryptfs or similar.</li>
						</ul>
					</div>
					<div class="section" id="compile">
						<h3>Building<a href="#compile">¶</a></h3>
						<p>Now that you've got your workspace ready, lets make an image. Use of bash is required, and you may need to use a Python virtualenv.</p>
						<pre><code>cd Build/LineageOS-20.0;
source venv/bin/activate; #Only for python3 default systems, not needed for 18.1 and higher
source ../../Scripts/init.sh;
resetWorkspace;
patchWorkspace;
buildDevice [device]; #or buildAll for all supported devices</code></pre>
						<p>Afterwards you should have flashable zips located in $DOS_BUILDS</p>
					</div>
					<div class="section" id="install">
						<h3>Installing<a href="#install">¶</a></h3>
						<p>(Optional) Flash the recovery: <code>fastboot flash recovery divested*$device-recovery.img;</code></p>
						<p>Reboot into recovery on your device and <code>$ adb sideload divested*$device.zip;</code></p>
					</div>
				</div>
