				<div class="card fluid">
					<h2>Community</h2>
					<p>Here are places you can discuss topics with other DivestOS users</p>
					<div class="section" id="rules">
						<h3>Rules for participating in the communities surrounding projects by Divested Computing Group.<a href="#rules">¶</a></h3>
						<p>Effective December 9th 2022<br>Please keep all personal aspects to a minimum and instead focus on productive, civil, and technical talks.<br>The following are considered unacceptable behavior.</p>
						<ul>
							<!-- This is an excerpt from the Citizen Code of Conduct, licensed CC BY-SA 3.0 -->
							<li>Violence, threats of violence or violent language directed against another person.</li>
							<li>Sexist, racist, homophobic, transphobic, ableist or otherwise discriminatory jokes and language.</li>
							<li>Posting or displaying sexually explicit or violent material.</li>
							<li>Posting or threatening to post other people's personally identifying information ("doxing").</li>
							<li>Posting grossly unsubstantiated claims ("FUD") or deliberate misinformation.</li>
							<li>Personal insults, particularly those related to gender, sexual orientation, race, religion, or disability.</li>
							<li>Inappropriate recording, including photography.</li>
							<li>Unwelcome sexual attention. This includes sexualized comments or jokes and unwelcomed sexual advances.</li>
							<li>Deliberate intimidation, stalking or following (online or in person).</li>
							<li>Sustained disruption of community areas.</li>
							<li>Advocating for, or encouraging, any of the above behavior.</li>
						</ul>
					</div>
					<div class="section" id="chat">
						<h3>Chat<a href="#chat">¶</a></h3>
						<ul>
							<li>XMPP Chat Room: <a href="xmpp:divestos-mobile@conference.konvers.me?join">divestos-mobile@conference.konvers.me</a> If you have issues with the captcha please e-mail your JID to <script>document.write(atob("PGEgaHJlZj0ibWFpbHRvOnN1cHBvcnQrY2FwdGNoYUBrb252ZXJzLm1lIj5zdXBwb3J0K2NhcHRjaGFAa29udmVycy5tZTwvYT4="));</script><noscript>JavaScript Protected</noscript></li>
							<li>Matrix via Bifrost (pick one): <a href="https://app.element.io/#/room/#xmpp_divestos-mobile_conference.konvers.me:matrix.org" target="_blank" rel="nofollow noopener noreferrer">#xmpp_divestos-mobile_conference.konvers.me:matrix.org</a> or <a href="https://app.element.io/#/room/#_bifrost_divestos-mobile_conference.konvers.me:aria-net.org" target="_blank" rel="nofollow noopener noreferrer">#_bifrost_divestos-mobile_conference.konvers.me:aria-net.org</a></li>
						</ul>
					</div>
					<div class="section" id="links">
						<h3>Forum<a href="#forum">¶</a></h3>
						<ul>
							<li>Reddit: <a href="https://old.reddit.com/r/DivestOS" target="_blank" rel="nofollow noopener noreferrer">official subreddit</a></li>
							<li>F-Droid Forum: <a href="https://forum.f-droid.org/t/divestos-an-aftermarket-system/10105" target="_blank" rel="nofollow noopener noreferrer">General Release Thread</a></li>
							<li>Fairphone Forum: <a href="https://forum.fairphone.com/t/divest-os-everything-about-divest-os-on-the-fairphones/83675" target="_blank" rel="nofollow noopener noreferrer">FP2/FP3/FP4 Release Thread</a></li>
							<li>XDA Forum: <a href="https://forum.xda-developers.com/t/4249431/" target="_blank" rel="nofollow noopener noreferrer">Hypatia</a>, <a href="https://forum.xda-developers.com/t/4249547/" target="_blank" rel="nofollow noopener noreferrer">CVE Patcher</a>, <a href="https://forum.xda-developers.com/t/4249559/" target="_blank" rel="nofollow noopener noreferrer">Deblobber</a></li>
							<li>XDA Forum (devices): <a href="https://forum.xda-developers.com/t/4250083/" target="_blank" rel="nofollow noopener noreferrer">bacon</a>, <a href="https://forum.xda-developers.com/t/4511543/" target="_blank" rel="nofollow noopener noreferrer">beryllium</a>, <a href="https://forum.xda-developers.com/t/4285911/" target="_blank" rel="nofollow noopener noreferrer">cheeseburger/dumpling</a>, <a href="https://forum.xda-developers.com/t/4285905/" target="_blank" rel="nofollow noopener noreferrer">clark</a>, <a href="https://forum.xda-developers.com/t/4251499/" target="_blank" rel="nofollow noopener noreferrer">dragon</a>, <a href="https://forum.xda-developers.com/t/4261703/" target="_blank" rel="nofollow noopener noreferrer">ether</a>, <a href="https://forum.xda-developers.com/t/4250077/" target="_blank" rel="nofollow noopener noreferrer">flo</a>, <a href="https://forum.xda-developers.com/t/4249429/" target="_blank" rel="nofollow noopener noreferrer">flounder</a>, <a href="https://forum.xda-developers.com/t/4249519/" target="_blank" rel="nofollow noopener noreferrer">FP2</a>, <a href="https://forum.xda-developers.com/t/4249635/" target="_blank" rel="nofollow noopener noreferrer">FP3</a>, <a href="https://forum.xda-developers.com/t/4285893/" target="_blank" rel="nofollow noopener noreferrer">grouper</a>, <a href="https://forum.xda-developers.com/t/4285903/" target="_blank" rel="nofollow noopener noreferrer">hammerhead</a>, <a href="https://forum.xda-developers.com/t/4249507/" target="_blank" rel="nofollow noopener noreferrer">klte</a>, <a href="https://forum.xda-developers.com/t/4285925/" target="_blank" rel="nofollow noopener noreferrer">m8</a>, <a href="https://forum.xda-developers.com/t/4249415/" target="_blank" rel="nofollow noopener noreferrer">maguro/toro*</a>, <a href="https://forum.xda-developers.com/t/4249409/" target="_blank" rel="nofollow noopener noreferrer">mako</a>, <a href="https://forum.xda-developers.com/t/4249419/" target="_blank" rel="nofollow noopener noreferrer">mata</a>, <a href="https://forum.xda-developers.com/t/4285921/" target="_blank" rel="nofollow noopener noreferrer">oneplus2</a>, <a href="https://forum.xda-developers.com/t/4285915/" target="_blank" rel="nofollow noopener noreferrer">oneplus3</a>, <a href="https://forum.xda-developers.com/t/4249631/" target="_blank" rel="nofollow noopener noreferrer">pro1</a>, <a href="https://forum.xda-developers.com/t/4250081/" target="_blank" rel="nofollow noopener noreferrer">shamu</a>, <a href="https://forum.xda-developers.com/t/4286013/" target="_blank" rel="nofollow noopener noreferrer">taimen</a>, <a href="https://forum.xda-developers.com/t/4249511/" target="_blank" rel="nofollow noopener noreferrer">thor</a>, <a href="https://forum.xda-developers.com/t/4286011/" target="_blank" rel="nofollow noopener noreferrer">walleye</a></li>
						</ul>
					</div>
					<div class="section" id="links">
						<h3>Other<a href="#Other">¶</a></h3>
						<ul>
							<li><a href="index.php?page=bug_reporting">Bug Reporting</a></li>
							<li>GitHub Discussions: <a href="https://github.com/Divested-Mobile/DivestOS-Build/discussions" target="_blank" rel="nofollow noopener noreferrer">System Relations</a>, <a href="https://github.com/Divested-Mobile/CVE_Checker/discussions" target="_blank" rel="nofollow noopener noreferrer">CVE Checker</a>, <a href="https://github.com/Divested-Mobile/Extirpater/discussions" target="_blank" rel="nofollow noopener noreferrer">Extirpater</a>, <a href="https://github.com/Divested-Mobile/Hypatia/discussions" target="_blank" rel="nofollow noopener noreferrer">Hypatia</a>, <a href="https://github.com/Divested-Mobile/Maps/discussions" target="_blank" rel="nofollow noopener noreferrer">GMaps WV</a>, <a href="https://github.com/Divested-Mobile/Mulch/discussions" target="_blank" rel="nofollow noopener noreferrer">Mulch</a>, <a href="https://github.com/Divested-Mobile/Mull-Fenix/discussions" target="_blank" rel="nofollow noopener noreferrer">Mull</a></li>
							<li>Email: Basic RFC 2142 email addresses are available. Support and solicitation messages will be ignored.</li>
						</ul>
					</div>
				</div>
