				<div class="card fluid">
					<h2>Frequently Asked Questions</h2>
					<div class="section">
						<h3 id="deviceChoice">Device Choice<a href="#deviceChoice">¶</a></h3>

						<h4 id="guidelines">Any guidelines for choosing a device?<a href="#guidelines">¶</a></h4>
						<p>Yes, please for your own sake avoid devices with the following:</p>
						<ul>
							<li>Carrier branding</li>
							<li>No access to fastboot and/or requiring to create an account</li>
							<li>Less than 4GB of RAM</li>
							<li>Less than 64GB of storage</li>
							<li>Less than a 2000mAh battery</li>
							<li>Released before 2017</li>
							<li>Non-Qualcomm SoC, eg. MediaTek/Exynos/Tegra/OMAP</li>
							<li>Kernel older than 4.4</li>
						</ul>
						<p>And for the best experience:</p>
						<ul>
							<li>At least 6GB of RAM</li>
							<li>At least 128GB of storage</li>
							<li>At least an SD845 SoC</li>
							<li>At least kernel 4.9, preferably newer.</li>
						</ul>

						<h4 id="recommendPhone">What phone do you recommend?<a href="#recommendPhone">¶</a></h4>
						<p>If you can acquire/afford a Pixel 6/6a/7, go buy one and use GrapheneOS. Otherwise please see the <a href="index.php?page=devices&base=LineageOS&golden=true">list of "golden" devices</a>.</p>

						<h4 id="recommendTablet">What tablet do you recommend?<a href="#recommendTablet">¶</a></h4>
						<ul>
							<li>Google Pixel C (dragon)</li>
							<li>Note: The below devices only have 2GB of RAM.</li>
							<li>Google Nexus 9 (flounder)</li>
							<li>Google Nexus 7 2013 (flox)</li>
						</ul>

						<h4 id="install">Can I send you my phone to install DivestOS for me?<a href="#install">¶</a></h4>
						<p>Not at the moment, maybe in the future. You can however join the chat room and ask for install help.</p>

						<h4 id="pixelWarning">A note on Google Pixels<a href="#pixelWarning">¶</a></h4>
						<p>Seemingly any Verizon, Telus, Rogers, or EE carrier variants cannot be bootloader unlocked. In general always avoid such.</p>
					</div>

					<div class="section">
						<h3 id="deviceSupport">Device Support<a href="#deviceSupport">¶</a></h3>

						<h4 id="supportStatus">Are all devices supported equally?<a href="#supportStatus">¶</a></h4>
						<p>No, some devices have much better support than others.</p>

						<h4 id="deviceStatus">What is the difference between the different device statuses on the downloads page?<a href="#deviceStatus">¶</a></h4>
						<ul>
							<li>Tested Working: This is a device we've personally tested working.</li>
							<li>Reported Working: A user has come forward and reported the device working.</li>
							<li>Very Likely Working: The device has had many updater checks for it over a prolonged period.</li>
							<li>Likely Working: A similar device in its series is at least `Very Likely Working`.</li>
							<li>Mostly Working: The device is daily drivable, but some functionality may be unavailable such as the camera.</li>
							<li>Untested: The device hasn't been tested, reported, or had any updater checks for it.</li>
							<li>Broken: The device doesn't boot or has critical functionality impacted.</li>
						</ul>

						<h4 id="incrementalSupport">What devices support incremental/delta OTA updates?<a href="#incrementalSupport">¶</a></h4>
						<p>Previously all devices were supported, however there were issues on many legacy devices failing to properly apply them leaving the install in an inconsistent state. Now only update_engine devices have incrementals generated.<br>As of 2023/02/01 that is: <code>'akari, alioth, Amber, aura, aurora, avicii, barbet, bluejay, blueline, bonito, bramble, cheetah, cheryl, coral, crosshatch, davinci, discovery, enchilada, fajita, flame, FP3, FP4, guacamole, guacamoleb, hotdog, hotdogb, instantnoodle, instantnoodlep, kebab, lemonade, lemonadep, marlin, mata, oriole, panther, pioneer, pro1, raven, redfin, sailfish, sargo, sunfish, taimen, vayu, voyager, walleye, xz2c'</code></p>

						<h4 id="randomMAC">What devices support Wi-Fi MAC randomization?<a href="#randomMAC">¶</a></h4>
						<p>As of 2023/02/01: <code>akari, alioth, Amber, aura, aurora, avicii, barbet, beryllium, bluejay, blueline, bonito, bramble, cheeseburger, cheetah, cheryl, coral, crosshatch, davinci, discovery, dumpling, enchilada, fajita, flame, FP4, guacamole, guacamoleb, hotdog, hotdogb, instantnoodle, instantnoodlep, kebba, lavender, lemonade, lemonadep, lmi, mata, oriole, panther, pioneer, pro1, raven, redfin, sargo, star2lte, starlte, sunfish, taimen, vayu, voyager, walleye, xz2c</code></p>

						<h4 id="kernelCFI">What devices have CFI enabled kernels?<a href="#kernelCFI">¶</a></h4>
						<p>As of 2023/02/01:</p>
						<ul>
							<li>CFI enabled: none yet</li>
							<li>CFI and SCS enabled: blueline/crosshatch, bonito/sargo, coral/flame/sunfish, bramble/redfin/barbet, oriole/raven/bluejay, cheetah/panther, FP4, lemonade*</li>
							<li>CFI supported, but not enabled: akari/aurora/xz2c, avicii, cheryl, beryllium, davinci, FP3</li>
							<li>CFI and SCS supported, but not enabled: alioth/lmi, guacamole*/hotdog*, vayu, instantnoodle*/kebab</li>
							<li>CFI supported, but tested non-functional as is: enchilada/fajita</li>
						</ul>

						<h4 id="mallocUse">What memory allocator is used?<a href="#mallocUse">¶</a></h4>
						<p>As of 2023/02/01:</p>
						<ul>
							<li>jemalloc for 32-bit and 64-bit: all 14.1 and 15.1 devices</li>
							<li>jemalloc for 32-bit and hardened_malloc for 64-bit: all 16.0 devices</li>
							<li>scudo for 32-bit and hardened_malloc for 64-bit: all 17.1, 18.1, 19.1, and 20.0 devices</li>
							<li>Exception: These devices use jemalloc for 32-bit instead of scudo: akari/aurora/xz2c, cheryl, klte</li>
						</ul>

						<h4 id="volte">Why does VoLTE not work on my device?<a href="#volte">¶</a></h4>
						<ul>
							<li>The device may lack the necessary configuration files for your carrier and will never work.</li>
							<li>VoLTE may be default disabled for your line. You can check your carrier website or call them to activate it if so.</li>
							<li>Your carrier may only activate VoLTE on "approved" devices.</li>
							<li>Your carrier hasn't actually rolled out VoLTE yet.</li>
						</ul>

						<h4 id="volteTested">What devices is VoLTE known to be working on assuming everything else is in-place?<a href="#volteTested">¶</a></h4>
						<p>As of 2023/02/01: <code>bluejay, cheeseburger, fajita, mata, taimen</code><br>Can be assumed working: <code>dumpling, enchilada, walleye</code></p>

						<h4 id="noVolte">My device has LTE without VoLTE but my carrier has phased out 2G/3G calling, what can I do?<a href="#noVolte">¶</a></h4>
						<ul>
							<li>Acquire a newer device if possible.</li>
							<li>Otherwise consider a VoIP service like <a href="https://jmp.chat" target="_blank" rel="nofollow noopener noreferrer">JMP.chat</a>.</li>
						</ul>

						<h4 id="gsi">Will you provide GSI images?<a href="#gsi">¶</a></h4>
						<p>No, many of the features in DivestOS such as the deblobber and kernel patching/hardening are incompatible with how GSI images work.</p>

						<h4 id="x86">Will you provide X86 images?<a href="#x86">¶</a></h4>
						<p>No, there is no support in AOSP for running on traditional desktop/laptop computers. It is recommended you instead use <a href="https://getfedora.org/" target="_blank" rel="nofollow noopener noreferrer">Fedora</a> with our <a href="https://divested.dev/index.php?page=software#brace" target="_blank" rel="nofollow noopener noreferrer">Brace</a> package.</p>

						<h4 id="supportOfficial">Can you support X device, that does have an official LineageOS port?<a href="#supportOfficial">¶</a></h4>
						<p>If there is enough demand, yes.</p>

						<h4 id="supportUnofficial">Can you support X device, that doesn't have an (un)official LineageOS port?<a href="#supportUnofficial">¶</a></h4>
						<p>No.</p>
					</div>

					<div class="section">
						<h3 id="system">Operating System<a href="#system">¶</a></h3>

						<h4 id="bugReport">I found a bug! Where do I report it?<a href="#bugReport">¶</a></h4>
						<p>Please see the <a href="index.php?page=bug_reporting">bug reporting</a> page.</p>

						<h4 id="releaseTesting">What devices do you test on before release?<a href="#releaseTesting">¶</a></h4>
						<ul>
							<li>14.1: toroplus</li>
							<li>15.1: bullhead, dragon, flounder, hammerhead</li>
							<li>16.0: untested</li>
							<li>17.1: clark</li>
							<li>18.1: bacon, d852, flox, klte, mako, sailfish</li>
							<li>19.1: cheeseburger, mata</li>
							<li>20.0: bluejay, fajita, cheeseburger, taimen</li>
							<li>Have an unused device? Please consider donating it for better test coverage.</li>
						</ul>

						<h4 id="privateDNS">Should I use Private DNS?<a href="#privateDNS">¶</a></h4>
						<p>Generally yes you should, otherwise whatever DNS server is advertised by your carrier or Wi-Fi network will be used.<br>Do note however that Private DNS despite its name has limited privacy benefits (due to lack of ESNI/ECH), but does have security benefits and when combined with a DNSSEC enabled resolver will better ensure your DNS requests are not tampered with.</p>

						<h4 id="privateDNSwVPN">Should I use Private DNS when using a VPN/Tor?<a href="#privateDNSwVPN">¶</a></h4>
						<ul>
							<li>If you want to use the built-in content blocker of DivestOS you must enable Private DNS.</li>
							<li>If you use NetGuard/RethinkDNS/DNS66/Blokada or any VPN provider with a built-in content blocker you should disable Private DNS.</li>
							<li>If you're using Tor via Orbot's VPN mode and want an app to access Onion Services you must disable Private DNS.</li>
							<li>Otherwise you should consider what you value more: the content blocker or ensuring the VPN handles DNS.</li>
							<li>In the case you do use Private DNS with Tor or a real VPN, the Private DNS host will not learn your true IP as the requests will be routed over the VPN slot.</li>
						</ul>

						<h4 id="btCodecs">What Bluetooth audio codecs are available (if supported by device)?<a href="#btCodecs">¶</a></h4>
						<ul>
							<li>SBC is available on all versions.</li>
							<li>SBC-XQ is available on select versions, see <a href="#btSBCXQ">below</a>.</li>
							<li>AAC, aptX, and LDAC are available on 15.1 and higher.</li>
							<li>LC3 (LE Audio) is available on 20.0 and higher.</li>
						</ul>

						<h4 id="btSBCXQ">Is Bluetooth SBC-XQ (dual channel SBC) available?<a href="#btSBCXQ">¶</a></h4>
						<ul>
							<li><a href="https://review.lineageos.org/q/topic:bt-sbc-hd-dualchannel-nougat" target="_blank" rel="nofollow noopener noreferrer">14.1</a> has the patches included, but it can only be enabled globally with root which is not supported.</li>
							<li><a href="https://review.lineageos.org/q/topic:bt-sbc-hd-dualchannel" target="_blank" rel="nofollow noopener noreferrer">15.1</a>, <a href="https://review.lineageos.org/q/topic:bt-sbc-hd-dualchannel-pie" target="_blank" rel="nofollow noopener noreferrer">16.0</a>, and <a href="https://review.lineageos.org/q/topic:eleven-bt-sbc-hd-dualchannel" target="_blank" rel="nofollow noopener noreferrer">18.1</a> have it in the per-device Bluetooth settings menu.</li>
							<li><a href="https://review.lineageos.org/q/topic:ten-bt-sbc-hd-dualchannel" target="_blank" rel="nofollow noopener noreferrer">17.1</a> and <a href="https://review.lineageos.org/q/topic:twelve-bt-sbc-hd-dualchannel" target="_blank" rel="nofollow noopener noreferrer">19.1</a> had incomplete patches made, and not merged.</li>
							<li>20.0 has not yet received a port of it.</li>
						</ul>

						<h4 id="FDroidIssues">Why is F-Droid used?<a href="#FDroidIssues">¶</a></h4>
						<p>While F-Droid currently has _<a href="https://gitlab.com/fdroid/fdroidserver/-/issues/1004" target="_blank" rel="nofollow noopener noreferrer">some</a>_ _<a href="https://privsec.dev/posts/android/f-droid-security-issues/" target="_blank" rel="nofollow noopener noreferrer">major</a>_ _<a href="https://gitlab.com/fdroid/fdroiddata/-/issues/2753" target="_blank" rel="nofollow noopener noreferrer">issues</a>_, it is the largest repository of FOSS apps around with <em>some</em> rails in place along with an active community.</p>

						<h4 id="altDroid">Should I use an alternative F-Droid client?<a href="#altDroid">¶</a></h4>
						<p>While the official F-Droid client currently has issues as linked above, it is not recommend to use an alternative client due to how DivestOS utilizes its own F-Droid repos for updates. If you do want to use one anyway, you MUST do the following:</p>
						<ul>
							<li>Add the `DivestOS WebView` repo to receive Mulch WebView updates: <a href="https://divestos.org/fdroid/webview?fingerprint=FB426DA1750A53D7724C8A582B4D34174E64A84B38940E5D5A802E1DFF9A40D2" target="_blank">https://divestos.org/fdroid/webview</a></li>
							<li>Add the `DivestOS Official` repo to receive Mull updates: <a href="https://divestos.org/fdroid/official/?fingerprint=E4BE8D6ABFA4D9D4FEEF03CDDA7FF62A73FD64B75566F6DD4E5E577550BE8467" target="_blank">https://divestos.org/fdroid/official</a></li>
						</ul>

						<h4 id="networkOnly">Should I use the 'XG only' network mode option (if available)?<a href="#networkOnly">¶</a></h4>
						<p>2G has no encryption, 3G has decent encryption, and LTE has end-to-end encryption (simplified, 3G and LTE still have many leaks). Malicious cell interception devices capable of intercepting 3G/LTE are very expensive kits, so the lesser ones downgrade you to 2G where they can work. These network modes offer enhanced protection against interception by pinning to a mode. As always there are various other ways for your device to be compromised or to have your data intercepted.</p>
						<p>Which to use? If your device has VoLTE available, you should choose 'LTE only'. If it has LTE but you can make calls over 3G, choose 'LTE/3G only'. If it does not have LTE, but can make calls over 3G, choose '3G only'. If you can't make calls over 3G, you will sadly have to use the regular LTE or 3G modes (which happily downgrade to 2G).</p>

						<h4 id="dns">Why haven't you completely changed the default DNS servers?<a href="#dns">¶</a></h4>
						<p>Currently Quad9 is used for DNS fallback and for tethering. Switching it by default for cell would break VoLTE, SMS, MMS, and Visual Voicemail. And switching it for Wi-Fi could potentially break access to some LAN devices.</p>

						<h4 id="base">Why isn't DivestOS based on X operating system?<a href="#base">¶</a></h4>
						<p>LineageOS has superb device compatibility across the board, along with a strict set of <a href="https://github.com/LineageOS/charter/blob/master/device-support-requirements.md" target="_blank" rel="nofollow noopener noreferrer">baseline requirements</a>. Our build scripts are mostly universal so adding an alternate base if needed is easily doable.</p>

						<h4 id="volte">Why did you only partially remove VoLTE?<a href="#volte">¶</a></h4>
						<p>Many carriers are phasing out their 2G/3G cell towers. Soon it will only be possible to make calls using VoLTE.</p>

						<h4 id="weather">Why did you remove the weather providers?<a href="#weather">¶</a></h4>
						<p>Because they all transmit your location on a somewhat fixed schedule over HTTP.</p>

						<h4 id="theming">Will you add that one theme engine?<a href="#theming">¶</a></h4>
						<p>No.</p>

						<h4 id="rootSupport">Why isn't root included/supported?<a href="#rootSupport">¶</a></h4>
						<p>DivestOS does not support or encourage the use of root or runtime modification frameworks.
						<br>Such tools will break the following functions:
							<ul>
								<li>Bootloader locking on verified boot capable devices, preventing the system from booting.</li>
								<li>Verified boot on capable devices, preventing the system from booting.</li>
								<li>Incremental delta OTA updates, will fail to flash.</li>
								<li>You will not be able to use the DivestOS recovery. DivestOS recovery only flashes same-signed ZIPs.</li>
								<li>Lineage add-on backuptool is removed from DivestOS, you will have to reflash your changes every update.</li>
								<li>Will break the trust model that AOSP employs and reduce the integrity of the system.</li>
							</ul>
						Here are some common use cases of rooting and alternatives if available:
							<ul>
								<li>Network Restriction: DivestOS already lets you restrict network for each app by connection type (cellular/Wi-Fi/VPN), when in the background, and optionally completely revoke NETWORK permission.</li>
								<li>Ad/Tracker Blocking: DivestOS includes a tailored <a href="https://divested.dev/index.php?page=dnsbl" target="_blank" rel="nofollow noopener noreferrer">HOSTS</a> file by default for such blocking. The user can further choose to use an alternative DNS or use a local VPN app such as <a href="https://f-droid.org/en/packages/org.jak_linux.dns66" target="_blank" rel="nofollow noopener noreferrer">DNS66</a> or <a href="https://f-droid.org/en/packages/eu.faircode.netguard" target="_blank" rel="nofollow noopener noreferrer">NetGuard</a>.</li>
								<li>Permission Control: Modern AOSP provides far more control of permissions than older versions.</li>
								<li>Data Spoofing: You can run apps in a work profile via <a href="https://f-droid.org/en/packages/net.typeblog.shelter" target="_blank" rel="nofollow noopener noreferrer">Shelter</a>/<a href="https://f-droid.org/en/packages/com.oasisfeng.island.fdroid" target="_blank" rel="nofollow noopener noreferrer">Insular</a> or in a separate user profile to minimize data available to apps when granted related permissions.</li>
								<li>Backup: DivestOS includes <a href="https://calyxinstitute.org/projects/seedvault-encrypted-backup-for-android" target="_blank" rel="nofollow noopener noreferrer">SeedVault</a> on Q/R/S/T for backing up apps and their data to Nextcloud or USB OTG.</li>
								<li>Overclocking: Most mobile system-on-chips have their RAM stacked above the processor. Heat kills. Overclocking can and will reduce the life-span of your device.</li>
								<li>App Removal: Modern AOSP already lets you strictly disable most system installed apps. Furthermore DivestOS already includes <a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/Common/Deblob.sh" target="_blank" rel="nofollow noopener noreferrer">far fewer</a> system apps compared to most other operating systems.</li>
								<li>Battery Saving: Modern AOSP lets you prohibit apps from running in the background completely and has more advanced idle battery saving features.</li>
								<li>Battery Analysis: You can use <a href="https://developer.android.com/topic/performance/power/setup-battery-historian" target="_blank" rel="nofollow noopener noreferrer">Battery Historian</a> via ADB for extremely detailed battery usage reports.</li>
							</ul>
						</p>
					</div>

					<div class="section">
						<h3 id="security">Security<a href="#security">¶</a></h3>

						<h4 id="modem">What about that gaping hole that is the baseband processor?<a href="#modem">¶</a></h4>
						<p>We are in dire need of free hardware, but we don't have many options available currently.</p>
					</div>

					<div class="section">
						<h3 id="freedom">Freedom<a href="#freedom">¶</a></h3>

						<h4 id="proprietary-git">Why are you hosting on GitHub.com and GitLab.com if they are proprietary?<a href="#proprietary-git">¶</a></h4>
						<p>Because a lot of people have existing accounts on them which reduces the barrier to entry for contributing. You are otherwise free to e-mail patches to us if you prefer.</p>

						<h4 id="slowDeath">Why are you wasting your time with Android? It's clear that Google has been slowly killing AOSP every release!<a href="#slowDeath">¶</a></h4>
						<p>Android is a legitimately fantastic operating system and no other mobile platform has as many open source apps as it does. F-Droid as of March 2021 has over 3,000 FOSS apps!</p>
					</div>

					<div class="section">
						<h3 id="other">Other Things<a href="#other">¶</a></h3>

						<h4 id="community">Where can I talk to other users?<a href="#community">¶</a></h4>
						<p>Please see the <a href="index.php?page=community">community</a> page.</p>

						<h4 id="pronounce">How do you say DivestOS?<a href="#pronounce">¶</a></h4>
						<ul>
							<li>[die-vEst OH ES]</li>
							<li>/daɪˈvɛstˌoʊ ˈɛs/</li>
						</ul>

						<h4 id="recommendedServices">What VPN/email/boat rental services do you recommend?<a href="#recommendedServices">¶</a></h4>
						<p>¯\_(ツ)_/¯</p>

						<h4 id="rom">Why does DivestOS not use the word "ROM" anywhere on its website?<a href="#rom">¶</a></h4>
						<p>DivestOS is an aftermarket operating system with a strict set of standards it strives to achieve.<br>Not a poorly documented, code over the wall, haphazardly maintained "ROM".</p>

						<h4 id="misconceptions">What are some misconceptions I should be aware of?<a href="#misconceptions">¶</a></h4>
						<ul>
							<li>If you encounter a serious issue, wiping is almost never the solution.</li>
							<li>In-place upgrades are supported whenever possible.</li>
							<li>Wiping cache does absolutely nothing.</li>
							<li>You can still install updates when the bootloader is locked.</li>
							<li>`fastboot update xyz.zip` does not replace your bootloader.</li>
							<li>UnifiedNlp is not required for apps to acquire location.</li>
							<li>Network location providers, such as Play and UnifiedNlp, do not make GPS acquire a lock quicker.</li>
						</ul>

						<h4 id="preloading">I want to sell devices with DivestOS preloaded, what should I know?<a href="#preloading">¶</a></h4>
						<p>Selling devices with official builds of DivestOS installed is OKAY and within the license. Some preferred suggestions:</p>
						<ul>
							<li>Handle the sale in good faith.</li>
							<li>Do not market DivestOS as a magic bullet of privacy and/or security.</li>
							<li>Verify the GPG signature and checksums of the builds you download/install.</li>
							<li>Use Extirpater + factory reset to ensure no previous user data remains.</li>
							<li>Ensure the device firmware is up to date before flashing.</li>
							<li>Use the DivestOS recovery if supported.</li>
							<li>Do not modify any system or firmware partitions such as /system, /vendor, or /boot.</li>
							<li>Lock the bootloader if supported.</li>
							<li>If the device requires a token or keyfile to unlock the bootloader, provide it to the user.</li>
							<li>Leave it at the setup screen.</li>
							<li>Leave the default wallpaper.</li>
							<li>If you preload apps only source from the existing F-Droid repositories.</li>
						</ul>
						<p>If you are not using official builds of DivestOS:</p>
						<ul>
							<li>Make it clear to your users that it is unofficial.</li>
							<li>Use the branding variables in the scripts to rebrand it.</li>
							<li>You must make your sources available to your users as per the original repositories' respective licenses. Compliance is mandatory!</li>
							<li>Consider upstreaming any appropriate changes.</li>
						</ul>
					</div>
				</div>
