				<div class="card fluid" style="text-align: center;">
					<?php if($saveData === false) : ?>
					<div class="card large"><img class="section media" style="height:auto;" src="images/Tri_Mako-By_Victor_Stuber-Small.png" title="Nexus 4 Mockup Copyright (c) 2013 Victor Stuber" alt="Nexus 4 Mockups with screenshots of DivestOS" integrity="sha384-v6gCuHmA7tq/mG9jW5hvzQOqdZarKlW8BF5UEsRPIiVH3cJKlahc2oq4HNaTAtuB"/></div>
					<?php endif; ?>
					<h2>Key Features</h2>
					<p>DivestOS is a <em>vastly diverged unofficial soft fork</em> of <a href="https://lineageos.org" target="_blank" rel="nofollow noopener noreferrer">LineageOS</a>.</p>
					<hr>
					<h3>Security</h3>
					<div class="row">
						<div class="card centero large" id="updates">
							<h3>Monthly Updates<a href="#updates">¶</a></h3>
							<p>All supported devices receive <a href="index.php?page=patch_levels#branchPatchLevels">monthly</a> security updates. Select <a href="index.php?page=faq#incrementalSupport">devices</a> support incremental updates for smaller update downloads. DivestOS however cannot and does not include all ASB patches as detailed <a href="index.php?page=patch_levels#secure">here</a>.</p>
						</div>
						<div class="card centero large" id="kernel">
							<h3>Automated Kernel CVE Patching<a href="#kernel">¶</a></h3>
							<p>We've developed an automated patch <a href="https://gitlab.com/divested-mobile/cve_checker" target="_blank" rel="nofollow noopener noreferrer">checker</a> along with an extensive database of fixes for over <a href="https://gitlab.com/divested-mobile/kernel_patches/-/raw/master/Kernel_CVE_Patch_List.txt" target="_blank" rel="nofollow noopener noreferrer">3,150</a> Linux kernel security issues. These are automatically applied where possible to <a href="index.php?page=patch_levels#devices">all devices</a>.</p>
						</div>
						<div class="card centero large" id="bootloader">
							<h3>Bootloader Relocking<a href="#bootloader">¶</a></h3>
							<p>Bootloader relocking is restored and has been tested working on 23 devices and is available for 26 more. Verified boot is also restored on 36 of those devices and is enforcing once locked.</p>
						</div>
						<div class="card centero large" id="webview">
							<h3>System WebView<a href="#webview">¶</a></h3>
							<p>The <a href="index.php?page=our_apps#mulch">Mulch</a> hardened Chromium WebView is included with features like control-flow integrity and network state partitioning enabled. Furthermore Mulch is updated independently of the system image via an F-Droid repository for <a href="/misc/ch-dates.txt" target="_blank">rapid</a> security updates.</p>
						</div>
					</div>
					<hr>
					<h3>Privacy</h3>
					<div class="row">
						<div class="card centero large" id="hosts">
							<h3>Powerful Tracker Blocker<a href="#hosts">¶</a></h3>
							<p>A custom wildcard-optimized <a href="https://divested.dev/index.php?page=dnsbl" target="_blank" rel="nofollow noopener noreferrer">hosts</a> file created by <a href="https://gitlab.com/divested/DNSBLFilter" target="_blank" rel="nofollow noopener noreferrer">analyzing</a> over 180 million domains is included that blocks over 900,000 advertising and tracking servers.</p>
						</div>
						<div class="card centero large" id="mull">
							<h3>Privacy Oriented Browser<a href="#mull">¶</a></h3>
							<p><a href="index.php?page=our_apps#mull">Mull</a> is a browser based on Mozilla technology that is hardened against fingerprinting techniques thanks to the <a href="https://wiki.mozilla.org/Security/Tor_Uplift" target="_blank" rel="nofollow noopener noreferrer">Tor uplift project</a> and <a href="https://github.com/arkenfox/user.js" target="_blank" rel="nofollow noopener noreferrer">arkenfox-user.js project</a>.</p>
						</div>
					</div>
					<hr>
					<h3>Freedom</h3>
					<div class="row">
						<div class="card centero large" id="foss">
							<h3>FOSS Focused<a href="#foss">¶</a></h3>
							<p>DivestOS ensures to uphold the <a href="https://www.gnu.org/philosophy/free-sw.html" target="_blank" rel="nofollow noopener noreferrer">four freedoms</a> of free software through and through. We also encourage and help other projects in this space to re-use our work.</p>
						</div>
						<div class="card centero large" id="deblobbed">
							<h3>Deblobbed<a href="#deblobbed">¶</a></h3>
							<p>Over 700 proprietary blobs are <a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/Common/Deblob.sh" target="_blank" rel="nofollow noopener noreferrer">removed</a> during build time. Removal of these proprietary blobs increase security by reducing attack surface and increase privacy by removing untrusted code.</p>
						</div>
						<div class="card centero large" id="fdroid">
							<h3>F-Droid Included<a href="#fdroid">¶</a></h3>
							<p><a href="https://f-droid.org" target="_blank" rel="nofollow noopener noreferrer">F-Droid</a> is an app catalog that specializes in delivery of FOSS apps. For the most part all apps available through F-Droid respect your privacy and device.</p>
						</div>
					</div>
					<hr>
					<h3>Extras</h3>
					<div class="row">
						<div class="card centero large" id="extirpater">
							<h3>Free Space Eraser<a href="#extirpater">¶</a></h3>
							<p><a href="index.php?page=our_apps#extirpater">Extirpater</a> is the first free space eraser for Android. It helps prevent deleted files from being recovered. Perfect for migrating from an unencrypted install or before selling your device.</p>
						</div>
						<div class="card centero large" id="hypatia">
							<h3>Malware Scanner<a href="#hypatia">¶</a></h3>
							<p>We created <a href="index.php?page=our_apps#hypatia">Hypatia</a>, the first ever open source real-time malware scanner for Android. Backed by the standard and independent <a href="https://www.clamav.net/" target="_blank" rel="nofollow noopener noreferrer">ClamAV</a> signatures, it can detect over 450,000 Android-related malware signatures.</p>
						</div>
					</div>
				</div>
