				<div class="card fluid">
					<h2>Messenger Comparison Table</h2>
					<p>This is not intended to be an extremely comprehensive list, but enough to get a grasp on the situation.</p>
					<p>The only client for now that we recommend is Conversations, a top notch XMPP client, fully supports the OMEMO XEP, is easy on the battery, and doesn't force you into a walled garden. It is not the easiest thing getting your friends and family to switch apps, so at the very least any apps with end-to-end encryption (E2EE) support should always be preferred over apps without.</p>
					<p>For a much larger list of messengers, albeit in German, see this <a href="https://www.freie-messenger.de/en/systemvergleich/" target="_blank" rel="nofollow noopener noreferrer">overview</a> and their <a href="https://www.freie-messenger.de/en/warumnicht/" target="_blank" rel="nofollow noopener noreferrer">"Why Not?" list</a>.</p>
					<p>Last updated: 2022/12/17</p>
					<div class="section">
						<table class="striped horizontal" style="max-height: 100%;">
							<thead>
								<tr>
									<th>Name</th>
									<th>FOSS Client</th>
									<th>Non-Free Dependencies</th>
									<th>FOSS Server</th>
									<th>Protocol</th>
									<th>Federated</th>
									<th>Decentralized</th>
									<th>Encryption</th>
									<th>E2EE by Default</th>
									<th>Desktop Client</th>
									<th>File Sharing</th>
									<th>Voice Calling</th>
									<th>Video Calling</th>
									<th>Multi-Device Support</th>
									<th>Offline Messaging</th>
									<!-- TODO: Audited?, Leaky?, Track Record, Origin Country -->
									<!-- TODO: Mumble, Discord, Slack, RocketChat -->
								</tr>
							</thead>
							<tbody>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/en/packages/eu.siacs.conversations" target="_blank" rel="nofollow noopener noreferrer">Conversations</a></td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">F-Droid: No, Play: Yes</td>
									<td data-label="FOSS Server" style="color:#4CAF50;">Yes: <a href="https://prosody.im/" target="_blank" rel="nofollow noopener noreferrer">prosody</a>/<a href="https://www.ejabberd.im/" target="_blank" rel="nofollow noopener noreferrer">ejabberd</a></td>
									<td data-label="Protocol"><a href="https://xmpp.org/" target="_blank" rel="nofollow noopener noreferrer">XMPP</a></td>
									<td data-label="Federated" style="color:#4CAF50;">Yes</td>
									<td data-label="Decentralized" style="color:#4CAF50;">Yes</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + <a href="https://en.wikipedia.org/wiki/OMEMO" target="_blank" rel="nofollow noopener noreferrer">OMEMO</a> E2EE</td>
									<td data-label="E2EE by Default" style="color:#4CAF50;">In private chats</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support" style="color:#4CAF50;">Yes</td>
									<td data-label="Offline Messaging" style="color:#4CAF50;">Yes</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/en/packages/im.vector.app" target="_blank" rel="nofollow noopener noreferrer">Element</a></td>
									<td data-label="FOSS Client" style="color:#4CAF50;">Apache</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">F-Droid: No, Play: Yes</td>
									<td data-label="FOSS Server" style="color:#4CAF50;">Yes: <a href="https://github.com/matrix-org/synapse" target="_blank" rel="nofollow noopener noreferrer">synapse</a></td>
									<td data-label="Protocol"><a href="https://matrix.org/" target="_blank" rel="nofollow noopener noreferrer">Matrix</a></td>
									<td data-label="Federated" style="color:#4CAF50;">Yes</td>
									<td data-label="Decentralized" style="color:#4CAF50;">Yes</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + <a href="https://gitlab.matrix.org/matrix-org/olm/blob/master/docs/olm.md" target="_blank" rel="nofollow noopener noreferrer">Olm</a>/<a href="https://gitlab.matrix.org/matrix-org/olm/blob/master/docs/megolm.md" target="_blank" rel="nofollow noopener noreferrer">Megolm</a> E2EE</td>
									<td data-label="E2EE by Default" style="color:#4CAF50;">In private chats</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support" style="color:#4CAF50;">Yes</td>
									<td data-label="Offline Messaging" style="color:#4CAF50;">Yes</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://signal.org" target="_blank" rel="nofollow noopener noreferrer">Signal</a></td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#f44336;">Play/Website: Yes, GMS</td>
									<td data-label="FOSS Server" style="color:#FFC107;">Code over wall</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + Signal E2EE</td>
									<td data-label="E2EE by Default" style="color:#4CAF50;">Always</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support"  style="color:#FFC107;">With Phone</td>
									<td data-label="Offline Messaging" style="color:#4CAF50;">Yes</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://github.com/simplex-chat/simplex-chat" target="_blank" rel="nofollow noopener noreferrer">SimpleX</a></td>
									<td data-label="FOSS Client" style="color:#4CAF50;">AGPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">No</td>
									<td data-label="FOSS Server" style="color:#4CAF50;">Yes: <a href="https://github.com/simplex-chat/simplexmq" target="_blank" rel="nofollow noopener noreferrer">SimpleXMQ SMP</a></td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#4CAF50;">Yes</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">Custom E2EE</td>
									<td data-label="E2EE by Default" style="color:#4CAF50;">Always</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support" style="color:#673AB7;">WIP</td>
									<td data-label="Offline Messaging"  style="color:#FFC107;">Maybe</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/en/packages/cx.ring" target="_blank" rel="nofollow noopener noreferrer">Jami/Ring</a></td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">No</td>
									<td data-label="FOSS Server" style="color:#4CAF50;">Yes: <a href="https://github.com/savoirfairelinux/opendht" target="_blank" rel="nofollow noopener noreferrer">opendht</a></td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated">N/A</td>
									<td data-label="Decentralized" style="color:#4CAF50;">Yes</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + Custom E2EE</td>
									<td data-label="E2EE by Default" style="color:#4CAF50;">Always</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support" style="color:#4CAF50;">Yes</td>
									<td data-label="Offline Messaging" style="color:#f44336;">No</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/en/packages/network.loki.messenger.fdroid" target="_blank" rel="nofollow noopener noreferrer">Session</a></td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">F-Droid: No, Play: Yes</td>
									<td data-label="FOSS Server" style="color:#673AB7;">Unclear</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated">N/A</td>
									<td data-label="Decentralized" style="color:#4CAF50;">Yes</td>
									<td data-label="Encryption" style="color:#4CAF50;">Custom E2EE</td>
									<td data-label="E2EE by Default" style="color:#4CAF50;">In private chats</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#673AB7;">WIP</td>
									<td data-label="Video Calling" style="color:#673AB7;">WIP</td>
									<td data-label="Multi-Device Support" style="color:#4CAF50;">Yes</td>
									<td data-label="Offline Messaging" style="color:#4CAF50;">Yes</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/en/packages/com.b44t.messenger" target="_blank" rel="nofollow noopener noreferrer">Delta Chat</a></td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">No</td>
									<td data-label="FOSS Server" style="color:#673AB7;">N/A</td>
									<td data-label="Protocol">E-Mail</td>
									<td data-label="Federated" style="color:#4CAF50;">Yes</td>
									<td data-label="Decentralized" style="color:#4CAF50;">Yes</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + OpenPGP E2EE</td>
									<td data-label="E2EE by Default" style="color:#FFC107;">To contacts with AutoCrypt</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#f44336;">No</td>
									<td data-label="Video Calling" style="color:#f44336;">No</td>
									<td data-label="Multi-Device Support" style="color:#4CAF50;">Yes</td>
									<td data-label="Offline Messaging" style="color:#4CAF50;">Yes</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/en/packages/org.briarproject.briar.android" target="_blank" rel="nofollow noopener noreferrer">Briar</a></td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">No</td>
									<td data-label="FOSS Server" style="color:#673AB7;">N/A</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated">N/A</td>
									<td data-label="Decentralized" style="color:#4CAF50;">Yes</td>
									<td data-label="Encryption" style="color:#4CAF50;">Custom E2EE</td>
									<td data-label="E2EE by Default" style="color:#4CAF50;">Always</td>
									<td data-label="Desktop Client" style="color:#673AB7;">WIP</td>
									<td data-label="File Sharing" style="color:#FFC107;">Images Only</td>
									<td data-label="Voice Calling" style="color:#f44336;">No</td>
									<td data-label="Video Calling" style="color:#f44336;">No</td>
									<td data-label="Multi-Device Support" style="color:#f44336;">No</td>
									<td data-label="Offline Messaging" style="color:#f44336;">No</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/en/packages/org.smssecure.smssecure" target="_blank" rel="nofollow noopener noreferrer">Silence (deprecated)</a></td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">No</td>
									<td data-label="FOSS Server" style="color:#673AB7;">N/A</td>
									<td data-label="Protocol">SMS</td>
									<td data-label="Federated" style="color:#4CAF50;">Yes</td>
									<td data-label="Decentralized" style="color:#4CAF50;">Yes</td>
									<td data-label="Encryption" style="color:#4CAF50;">Signal E2EE</td>
									<td data-label="E2EE by Default" style="color:#FFC107;">To contacts with Silence</td>
									<td data-label="Desktop Client" style="color:#f44336;">No</td>
									<td data-label="File Sharing" style="color:#FFC107;">Images Only</td>
									<td data-label="Voice Calling" style="color:#f44336;">No</td>
									<td data-label="Video Calling" style="color:#f44336;">No</td>
									<td data-label="Multi-Device Support">N/A</td>
									<td data-label="Offline Messaging" style="color:#FFC107;">Maybe</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/en/packages/com.wire" target="_blank" rel="nofollow noopener noreferrer">Wire</a></td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">F-Droid: No, Play: Yes</td>
									<td data-label="FOSS Server" style="color:#4CAF50;">Yes</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + Custom E2EE</td>
									<td data-label="E2EE by Default" style="color:#4CAF50;">Always</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support" style="color:#4CAF50;">Yes</td>
									<td data-label="Offline Messaging" style="color:#4CAF50;">Yes</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://threema.ch" target="_blank" rel="nofollow noopener noreferrer">Threema</a></td>
									<td data-label="FOSS Client" style="color:#4CAF50;">AGPLv3</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">F-Droid: No, Play: Yes</td>
									<td data-label="FOSS Server" style="color:#f44336;">No</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + Custom E2EE</td>
									<td data-label="E2EE by Default" style="color:#4CAF50;">Always</td>
									<td data-label="Desktop Client" style="color:#FFC107;">Web</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support" style="color:#4CAF50;">Yes</td>
									<td data-label="Offline Messaging" style="color:#4CAF50;">Yes</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://f-droid.org/en/packages/org.telegram.messenger" target="_blank" rel="nofollow noopener noreferrer">Telegram</a></td>
									<td data-label="FOSS Client" style="color:#4CAF50;">GPLv2</td>
									<td data-label="Non-Free Dependencies" style="color:#4CAF50;">F-Droid: No, Play: Yes</td>
									<td data-label="FOSS Server" style="color:#f44336;">No</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + Custom E2EE</td>
									<td data-label="E2EE by Default" style="color:#f44336;">No</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support" style="color:#4CAF50;">Yes</td>
									<td data-label="Offline Messaging" style="color:#4CAF50;">Yes</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://www.whatsapp.com" target="_blank" rel="nofollow noopener noreferrer">WhatsApp</a></td>
									<td data-label="FOSS Client" style="color:#f44336;">No</td>
									<td data-label="Non-Free Dependencies" style="color:#f44336;">Yes</td>
									<td data-label="FOSS Server" style="color:#f44336;">No</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + Signal E2EE</td>
									<td data-label="E2EE by Default" style="color:#4CAF50;">Always</td>
									<td data-label="Desktop Client" style="color:#FFC107;">Web</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support" style="color:#FFC107;">With Phone</td>
									<td data-label="Offline Messaging" style="color:#4CAF50;">Yes</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://www.messenger.com" target="_blank" rel="nofollow noopener noreferrer">Facebook Messenger</a></td>
									<td data-label="FOSS Client" style="color:#f44336;">No</td>
									<td data-label="Non-Free Dependencies" style="color:#f44336;">Yes</td>
									<td data-label="FOSS Server" style="color:#f44336;">No</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + Signal E2EE</td>
									<td data-label="E2EE by Default" style="color:#f44336;">No</td>
									<td data-label="Desktop Client" style="color:#FFC107;">Web</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support" style="color:#4CAF50;">Yes</td>
									<td data-label="Offline Messaging" style="color:#4CAF50;">Yes</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://hangouts.google.com" target="_blank" rel="nofollow noopener noreferrer">Google Chat</a></td>
									<td data-label="FOSS Client" style="color:#f44336;">No</td>
									<td data-label="Non-Free Dependencies" style="color:#f44336;">Yes</td>
									<td data-label="FOSS Server" style="color:#f44336;">No</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#673AB7;">TLS</td>
									<td data-label="E2EE by Default" style="color:#f44336;">No</td>
									<td data-label="Desktop Client" style="color:#FFC107;">Web</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support" style="color:#4CAF50;">Yes</td>
									<td data-label="Offline Messaging" style="color:#4CAF50;">Yes</td>
								</tr>
								<tr>
									<td data-label="Name"><a href="https://www.skype.com" target="_blank" rel="nofollow noopener noreferrer">Skype</a></td>
									<td data-label="FOSS Client" style="color:#f44336;">No</td>
									<td data-label="Non-Free Dependencies" style="color:#f44336;">Yes</td>
									<td data-label="FOSS Server" style="color:#f44336;">No</td>
									<td data-label="Protocol">Custom</td>
									<td data-label="Federated" style="color:#f44336;">No</td>
									<td data-label="Decentralized">No</td>
									<td data-label="Encryption" style="color:#4CAF50;">TLS + Custom E2EE</td>
									<td data-label="E2EE by Default" style="color:#f44336;">No</td>
									<td data-label="Desktop Client" style="color:#4CAF50;">Yes</td>
									<td data-label="File Sharing" style="color:#4CAF50;">Yes</td>
									<td data-label="Voice Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Video Calling" style="color:#4CAF50;">Yes</td>
									<td data-label="Multi-Device Support" style="color:#4CAF50;">Yes</td>
									<td data-label="Offline Messaging" style="color:#4CAF50;">Yes</td>
								</tr>
							</tbody>
						</table>
						<p>Criteria:
							<ul>
								<li>Offline messaging is the ability for a party to send a message to an offline party, go offline themself, and the other party to later receive the message when back online while the sending party was still offline.</li>
							</ul>
						</p>
					</div>
				</div>
