				<div class="card fluid">
					<h2>Patch Counts</h2>
					<p>Below are counts and links to the corresponding ASB patchsets included in each branch every month.<br>A historical comparison of operating system patch levels is available <a href="/misc/a-dates.txt" target="_blank">here</a>, along with patch levels <a href="index.php?page=patch_levels" target="_blank">here</a>.</p>
					<p>Notes:
					<ul>
						<li>First column are CVE counts</li>
						<li>Version columns are PATCH counts</li>
						<li>Excludes date bumps and manifest changes</li>
						<li>Only counts system + kernel CVEs, vendor counts are not included</li>

					</ul></p>
					<p>Key:
					<ul>
						<li>s: system CVEs</li>
						<li>sp: system patches</li>
						<li>k: kernel CVEs</li>
						<li>kp: kernel patches</li>
						<li>b: alternate branch patches</li>
					</ul></p>
					<div class="section" id="branchPatchCounts">
						<h3>Branches<a href="#branchPatchCounts">¶</a></h3>
						<p>Last updated: 2023-02-01</p>
						<table class="striped" style="max-height: 100%;">
							<thead>
								<tr>
									<th>ASB</th>
									<th>14.1</th>
									<th>15.1</th>
									<th>16.0</th>
									<th>17.1</th>
									<th>18.1</th>
									<th>19.1</th>
									<th>20.0</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2023-01-01" target="_blank" rel="nofollow noopener noreferrer">2023-01: 19s/6k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2023-01" target="_blank" rel="nofollow noopener noreferrer">7sp</a></td>
									<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/b143ffcd8b3e58aaf29f72362949b31016ad413a" target="_blank" rel="nofollow noopener noreferrer">12sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">13sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">16sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">17sp</a></td>
									<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">16sp</a></td>
									<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">merge</a></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-12-01" target="_blank" rel="nofollow noopener noreferrer">2022-12: 41s/1k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-12" target="_blank" rel="nofollow noopener noreferrer">14sp</a></td>
									<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/1eb373d1e0d966e48f261f762fdd8d002742bbe3" target="_blank" rel="nofollow noopener noreferrer">21sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-12" target="_blank" rel="nofollow noopener noreferrer">26sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-12" target="_blank" rel="nofollow noopener noreferrer">35sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-12" target="_blank" rel="nofollow noopener noreferrer">49sp/2b</a></td>
									<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-12" target="_blank" rel="nofollow noopener noreferrer">43sp/2b</a></td>
									<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2022-12" target="_blank" rel="nofollow noopener noreferrer">merge</a></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-11-01" target="_blank" rel="nofollow noopener noreferrer">2022-11: 17s/0k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-11" target="_blank" rel="nofollow noopener noreferrer">11sp</a></td>
									<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/9d1efb33c30775b0f9bd92e1a8daa4a0338e7ca9" target="_blank" rel="nofollow noopener noreferrer">15sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-11" target="_blank" rel="nofollow noopener noreferrer">16sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-11" target="_blank" rel="nofollow noopener noreferrer">22sp/2b</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-11" target="_blank" rel="nofollow noopener noreferrer">22sp/2b</a></td>
									<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-11" target="_blank" rel="nofollow noopener noreferrer">22sp/2b</a></td>
									<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2022-11" target="_blank" rel="nofollow noopener noreferrer">merge</a></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-10-01" target="_blank" rel="nofollow noopener noreferrer">2022-10: 15s/5k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-10" target="_blank" rel="nofollow noopener noreferrer">2sp</a></td>
									<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/006f128fc55f69be144290fd5453c23f843b715e" target="_blank" rel="nofollow noopener noreferrer">2sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-10" target="_blank" rel="nofollow noopener noreferrer">5sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-10" target="_blank" rel="nofollow noopener noreferrer">15sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-10" target="_blank" rel="nofollow noopener noreferrer">16sp</a></td>
									<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-10" target="_blank" rel="nofollow noopener noreferrer">15sp</a></td>
									<td data-label="20.0"><a href="https://review.lineageos.org/q/topic:T_asb_2022-10" target="_blank" rel="nofollow noopener noreferrer">merge</a></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-09-01" target="_blank" rel="nofollow noopener noreferrer">2022-09: 12s/4k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-09" target="_blank" rel="nofollow noopener noreferrer">7sp</a></td>
									<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/e2b314da3c1ed3ab5e600d01cb7b56eba7ea16bd" target="_blank" rel="nofollow noopener noreferrer">8sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-09" target="_blank" rel="nofollow noopener noreferrer">11sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-09" target="_blank" rel="nofollow noopener noreferrer">12sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-09" target="_blank" rel="nofollow noopener noreferrer">12sp</a></td>
									<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-09" target="_blank" rel="nofollow noopener noreferrer">12sp</a></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-08-01" target="_blank" rel="nofollow noopener noreferrer">2022-08: 17s/1k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-08" target="_blank" rel="nofollow noopener noreferrer">7sp</a></td>
									<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/ebdf629cbc0887f9ba353582412e29cfcf081b98" target="_blank" rel="nofollow noopener noreferrer">9sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-08" target="_blank" rel="nofollow noopener noreferrer">13sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-08" target="_blank" rel="nofollow noopener noreferrer">18sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-08" target="_blank" rel="nofollow noopener noreferrer">21sp</a></td>
									<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-08" target="_blank" rel="nofollow noopener noreferrer">27sp</a></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-07-01" target="_blank" rel="nofollow noopener noreferrer">2022-07: 12s/1k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-07" target="_blank" rel="nofollow noopener noreferrer">6sp</a></td>
									<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/ebdf629cbc0887f9ba353582412e29cfcf081b98" target="_blank" rel="nofollow noopener noreferrer">6sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-07" target="_blank" rel="nofollow noopener noreferrer">12sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-07" target="_blank" rel="nofollow noopener noreferrer">16sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-07" target="_blank" rel="nofollow noopener noreferrer">15sp</a></td>
									<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-07" target="_blank" rel="nofollow noopener noreferrer">merge</a></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-06-01" target="_blank" rel="nofollow noopener noreferrer">2022-06: 20s/6k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-06" target="_blank" rel="nofollow noopener noreferrer">16sp</a></td>
									<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/ebdf629cbc0887f9ba353582412e29cfcf081b98" target="_blank" rel="nofollow noopener noreferrer">18sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-06" target="_blank" rel="nofollow noopener noreferrer">24sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-06" target="_blank" rel="nofollow noopener noreferrer">24sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-06" target="_blank" rel="nofollow noopener noreferrer">23sp</a></td>
									<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-06" target="_blank" rel="nofollow noopener noreferrer">merge/7sp</a></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-05-01" target="_blank" rel="nofollow noopener noreferrer">2022-05: 13s/4k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-05" target="_blank" rel="nofollow noopener noreferrer">1sp</a></td>
									<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/ebdf629cbc0887f9ba353582412e29cfcf081b98" target="_blank" rel="nofollow noopener noreferrer">2sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-05" target="_blank" rel="nofollow noopener noreferrer">5sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-05" target="_blank" rel="nofollow noopener noreferrer">7sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-05" target="_blank" rel="nofollow noopener noreferrer">7sp</a></td>
									<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-05" target="_blank" rel="nofollow noopener noreferrer">merge</a></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-04-01" target="_blank" rel="nofollow noopener noreferrer">2022-04: 12s/4k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-04" target="_blank" rel="nofollow noopener noreferrer">2sp</a></td>
									<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/ebdf629cbc0887f9ba353582412e29cfcf081b98" target="_blank" rel="nofollow noopener noreferrer">3sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-04" target="_blank" rel="nofollow noopener noreferrer">4sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-04" target="_blank" rel="nofollow noopener noreferrer">8sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-04" target="_blank" rel="nofollow noopener noreferrer">13sp</a></td>
									<td data-label="19.1"><a href="https://review.lineageos.org/q/topic:S_asb_2022-04" target="_blank" rel="nofollow noopener noreferrer">merge/2sp</a></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-03-01" target="_blank" rel="nofollow noopener noreferrer">2022-03: 17s/5k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-03" target="_blank" rel="nofollow noopener noreferrer">3sp</a></td>
									<td data-label="15.1"><a href="https://gitlab.com/divested-mobile/divestos-build/-/commit/ebdf629cbc0887f9ba353582412e29cfcf081b98" target="_blank" rel="nofollow noopener noreferrer">3sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-03" target="_blank" rel="nofollow noopener noreferrer">9sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-03" target="_blank" rel="nofollow noopener noreferrer">14sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-03" target="_blank" rel="nofollow noopener noreferrer">19sp</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-02-01" target="_blank" rel="nofollow noopener noreferrer">2022-02: 15s/0k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-02" target="_blank" rel="nofollow noopener noreferrer">8sp</a></td>
									<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2022-02" target="_blank" rel="nofollow noopener noreferrer">7sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-02" target="_blank" rel="nofollow noopener noreferrer">8sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-02" target="_blank" rel="nofollow noopener noreferrer">12sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-02" target="_blank" rel="nofollow noopener noreferrer">1sp/previous</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2022-01-01" target="_blank" rel="nofollow noopener noreferrer">2022-01: 16s/2k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2022-01" target="_blank" rel="nofollow noopener noreferrer">4sp</a></td>
									<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2022-01" target="_blank" rel="nofollow noopener noreferrer">8sp/5b</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2022-01" target="_blank" rel="nofollow noopener noreferrer">9sp/6b</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2022-01" target="_blank" rel="nofollow noopener noreferrer">12sp/8b</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2022-01" target="_blank" rel="nofollow noopener noreferrer">13sp/10b</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-12-01" target="_blank" rel="nofollow noopener noreferrer">2021-12: 16s/3k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-12" target="_blank" rel="nofollow noopener noreferrer">7sp</a></td>
									<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-12" target="_blank" rel="nofollow noopener noreferrer">9sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-12" target="_blank" rel="nofollow noopener noreferrer">10sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-12" target="_blank" rel="nofollow noopener noreferrer">15sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2021-12" target="_blank" rel="nofollow noopener noreferrer">19sp</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-11-01" target="_blank" rel="nofollow noopener noreferrer">2021-11: 18s/3k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-11" target="_blank" rel="nofollow noopener noreferrer">5sp</a></td>
									<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-12" target="_blank" rel="nofollow noopener noreferrer">9sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-11" target="_blank" rel="nofollow noopener noreferrer">10sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-11" target="_blank" rel="nofollow noopener noreferrer">8sp/2b</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:R_asb_2021-11" target="_blank" rel="nofollow noopener noreferrer">16sp/2b</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-10-01" target="_blank" rel="nofollow noopener noreferrer">2021-10: 10s/3k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-10" target="_blank" rel="nofollow noopener noreferrer">6sp</a></td>
									<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-10" target="_blank" rel="nofollow noopener noreferrer">7sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-10" target="_blank" rel="nofollow noopener noreferrer">7sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-10" target="_blank" rel="nofollow noopener noreferrer">11sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r46" target="_blank" rel="nofollow noopener noreferrer">merge/1b</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-09-01" target="_blank" rel="nofollow noopener noreferrer">2021-09: 16s/1k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-09" target="_blank" rel="nofollow noopener noreferrer">10sp</a></td>
									<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-09" target="_blank" rel="nofollow noopener noreferrer">11sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-09" target="_blank" rel="nofollow noopener noreferrer">13sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-09" target="_blank" rel="nofollow noopener noreferrer">18sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic::android-11.0.0_r43" target="_blank" rel="nofollow noopener noreferrer">merge/1b</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-08-01" target="_blank" rel="nofollow noopener noreferrer">2021-08: 9s/3k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-08" target="_blank" rel="nofollow noopener noreferrer">5sp</a></td>
									<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-08" target="_blank" rel="nofollow noopener noreferrer">6sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-08" target="_blank" rel="nofollow noopener noreferrer">7sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-08" target="_blank" rel="nofollow noopener noreferrer">8sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r40" target="_blank" rel="nofollow noopener noreferrer">merge</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-07-01" target="_blank" rel="nofollow noopener noreferrer">2021-07: 21s/0k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-07" target="_blank" rel="nofollow noopener noreferrer">8sp</a></td>
									<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-07" target="_blank" rel="nofollow noopener noreferrer">17sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-07" target="_blank" rel="nofollow noopener noreferrer">17sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-07" target="_blank" rel="nofollow noopener noreferrer">22sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r39" target="_blank" rel="nofollow noopener noreferrer">merge/1sp</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-06-01" target="_blank" rel="nofollow noopener noreferrer">2021-06: 18s/2k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-06" target="_blank" rel="nofollow noopener noreferrer">6sp</a></td>
									<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-06" target="_blank" rel="nofollow noopener noreferrer">13sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-06" target="_blank" rel="nofollow noopener noreferrer">18sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-06" target="_blank" rel="nofollow noopener noreferrer">21sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r38" target="_blank" rel="nofollow noopener noreferrer">merge/2sp/6b</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-05-01" target="_blank" rel="nofollow noopener noreferrer">2021-05: 14s/1k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-05" target="_blank" rel="nofollow noopener noreferrer">4sp</a></td>
									<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-05" target="_blank" rel="nofollow noopener noreferrer">6sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-05" target="_blank" rel="nofollow noopener noreferrer">9sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-05" target="_blank" rel="nofollow noopener noreferrer">22sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r37" target="_blank" rel="nofollow noopener noreferrer">merge/5sp</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-04-01" target="_blank" rel="nofollow noopener noreferrer">2021-04: 19s/2k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-04" target="_blank" rel="nofollow noopener noreferrer">8sp</a></td>
									<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-04" target="_blank" rel="nofollow noopener noreferrer">16sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-04" target="_blank" rel="nofollow noopener noreferrer">17sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-04" target="_blank" rel="nofollow noopener noreferrer">28sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r34" target="_blank" rel="nofollow noopener noreferrer">merge/3sp</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-03-01" target="_blank" rel="nofollow noopener noreferrer">2021-03: 10s/1k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-03" target="_blank" rel="nofollow noopener noreferrer">9sp</a></td>
									<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-03" target="_blank" rel="nofollow noopener noreferrer">11sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-03" target="_blank" rel="nofollow noopener noreferrer">11sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-03" target="_blank" rel="nofollow noopener noreferrer">13sp</a></td>
									<td data-label="18.1"><a href="https://review.lineageos.org/q/topic:android-11.0.0_r32" target="_blank" rel="nofollow noopener noreferrer">merge/2sp/2b</a></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-02-01" target="_blank" rel="nofollow noopener noreferrer">2021-02: 20s/1k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-02" target="_blank" rel="nofollow noopener noreferrer">11sp</a></td>
									<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-02" target="_blank" rel="nofollow noopener noreferrer">13sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-02" target="_blank" rel="nofollow noopener noreferrer">17sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-02" target="_blank" rel="nofollow noopener noreferrer">20sp</a></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td data-label="ASB"><a href="https://source.android.com/security/bulletin/2021-01-01" target="_blank" rel="nofollow noopener noreferrer">2021-01: 22s/3k</a></td>
									<td data-label="14.1"><a href="https://review.lineageos.org/q/topic:n-asb-2021-01" target="_blank" rel="nofollow noopener noreferrer">13sp</a></td>
									<td data-label="15.1"><a href="https://review.lineageos.org/q/topic:O_asb_2021-01" target="_blank" rel="nofollow noopener noreferrer">18sp</a></td>
									<td data-label="16.0"><a href="https://review.lineageos.org/q/topic:P_asb_2021-01" target="_blank" rel="nofollow noopener noreferrer">21sp</a></td>
									<td data-label="17.1"><a href="https://review.lineageos.org/q/topic:Q_asb_2021-01" target="_blank" rel="nofollow noopener noreferrer">23sp</a></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
