				<div class="card fluid">
					<h2>Patch Levels</h2>
					<p>Below is version information for branches and devices for you to judge your device's security upon.</p>
					<div class="section">
						<h3 id="osSecurity">A note on operating system security<a href="#osSecurity">¶</a></h3>
						<p>There is a singular all-or-nothing, all-encompassing Android security bulletin released every month that covers security issues across the entire system.<br>Below we break it into five parts solely for ease of understanding for you to determine the general security of a given operating system.<br>Being behind on any one part means the system <i>is</i> inherently insecure.
							<ol>
								<li>the version of Android itself, newer versions have more security features/hardening</li>
								<li>the <a href="https://source.android.com/security/bulletin" target="_blank" rel="nofollow noopener noreferrer">ASB</a> patch level, these are essential security patches</li>
								<li>the <a href="https://source.android.com/security/bulletin/pixel" target="_blank" rel="nofollow noopener noreferrer">Pixel ASB</a> patch level, these are recommended security patches and are only provided for the latest Android version</li>
								<li>the vendor ASB patch level, see <a href="https://www.qualcomm.com/company/product-security/bulletins" target="_blank" rel="nofollow noopener noreferrer">Qualcomm</a></li>
								<li>and lastly the <a href="https://www.kernel.org" target="_blank" rel="nofollow noopener noreferrer">Linux kernel</a> version</li>
							</ol>
						Briefly for each operating system:
							<ul>
								<li><a href="https://grapheneos.org" target="_blank" rel="nofollow noopener noreferrer">GrapheneOS</a>, with the exception of the Pixel 3/4 series, strictly only supports devices that have all parts updated.</li>
								<li><a href="https://calyxos.org" target="_blank" rel="nofollow noopener noreferrer">CalyxOS</a>, with the exception of the Pixel 3/4 series and other non-Pixel devices, in theory only supports devices that have all parts updated.</li>
								<li><a href="https://lineageos.org" target="_blank" rel="nofollow noopener noreferrer">LineageOS</a> can help with 1, 2, 3, and usually 5, but if a device is out of support by its manufacturer it cannot help with 4.</li>
								<li>DivestOS, being Lineage based helps with 1, 2, 3, can minimize 4 via the <a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/Common/Deblob.sh" target="_blank" rel="nofollow noopener noreferrer">deblobber</a>, and improve 5 significantly using the <a href="https://gitlab.com/divested-mobile/cve_checker" target="_blank" rel="nofollow noopener noreferrer">CVE auto-patcher</a>.</li>
								<li>Any of the above operating systems will be an improvement for any device that is no longer receiving support from its manufacturer if they continue to offer monthly updates with at least some parts covered.</li>
							</ul>
						Furthermore GrapheneOS is a substantially hardened operating system. DivestOS includes some of the security features from GrapheneOS along with its own.<br>Such hardening changes can prevent exploitation of both known and unknown issues and are not found in LineageOS, CalyxOS, or most other aftermarket systems.<br><br>If you are choosing an operating system for security the order is GrapheneOS, then DivestOS, then official LineageOS, with the choice depending on what device you have or can acquire/afford.<br>At the potential cost of freedom and/or privacy, you may even want to consider the stock OS as long as it is not end-of-life.</p>

						<h3 id="others">What about this other OS?<a href="#others">¶</a></h3>
						<ul>
							<li>CalyxOS occasionally falls behind updates (see <a href="/misc/ch-dates.txt" target="_blank">1</a> and <a href="/misc/a-dates.txt" target="_blank">2</a>), has no added hardening features, and primarily only supports Pixels which are better supported by GrapheneOS.</li>
							<li><a href="https://e.foundation/" target="_blank" rel="nofollow noopener noreferrer">/e/OS</a> has many severe issues as documented <a href="/misc/e.txt" target="_blank">here</a>.</li>
							<li><a href="https://ubports.com/" target="_blank" rel="nofollow noopener noreferrer">UBports</a>, based on Ubuntu 16.04, lacks <a href="https://github.com/ubports/ubuntu-touch/issues/178" target="_blank" rel="nofollow noopener noreferrer">encryption support</a>, retains many of the Android components via <a href="https://halium.org/" target="_blank" rel="nofollow noopener noreferrer">Halium</a>, and uses <a href="https://github.com/ubports/ubuntu-touch/issues/1566" target="_blank" rel="nofollow noopener noreferrer">unpatched & end of life kernels</a> in many of its featured devices.</li>
							<li><a href="https://replicant.us" target="_blank" rel="nofollow noopener noreferrer">Replicant</a> 6.0, based on LineageOS-13.0, hasn't received any security patches in <a href="https://git.replicant.us/replicant/build/commit/?id=4ff5dd802bf2006d17111e519c2bf83a85d85fd6" target="_blank" rel="nofollow noopener noreferrer">years</a> and the devices run near decade old Linux 3.0 kernels.</li>
							<!-- needs a tactful reason <li>Proprietary aftermarket systems should be avoided, they generally do not provide anything of value over the existing open source options that are available.</li>-->
							<li>GSIs should be avoided, they do not provide the kernel or vendor components and cannot utilize many security features.</li>
							<!-- ianal, needs review <li>GSIs based on "treble experimentations" (such as LeOS) should be considered proprietary due to the <a href="https://github.com/phhusson/treble_experimentations/issues/1965" target="_blank" rel="nofollow noopener noreferrer">lack of license</a>.</li>-->
							<li>Lastly many aftermarket systems often do not provide consistent and timely updates to the system WebView component as documented <a href="/misc/ch-dates.txt" target="_blank">here</a>. This is a security critical component of the system not included in the ASB that is frequently overlooked and/or ignored.</li>
						</ul>

						<h3 id="secure">Does DivestOS make my device secure?<a href="#secure">¶</a></h3>
						<p>The short answer: No.<br>The long answer is that DivestOS is likely the best harm reduction option if your device is no longer in support by its manufacturer or vendor.<br>Any project or product claiming they make end-of-life devices secure should be rigorously scrutinized.<br>If you want a reasonably secure and well-maintained device, please acquire a newer Pixel (6/6a/7) that is fully supported by GrapheneOS and use it instead.<br>Lastly it must be noted that privacy and security go hand-in-hand, there is a fundamental limit of how much privacy you can achieve if you do not have security backing it up.</p>
					</div>
					<div class="section" id="branchPatchLevels">
						<h3>Branches<a href="#branchPatchLevels">¶</a></h3>
						<p>Last updated: 2023-02-01<br>Asterisk* denotes known missing patches<br>DivestOS inherently cannot and does <i>not</i> include all patches from the monthly Android Security Bulletin.<br>The patch level shown in the Settings app on DivestOS should not be regarded as accurate, in favor of this page. It merely conveys the most recent month that it may contain patches from.<br>Also of note, DivestOS typically takes eight months to stabilize after a new Android version is released.<br><br>A historical comparison of operating system patch levels is available <a href="/misc/a-dates.txt" target="_blank">here</a>, along with patch counts documented <a href="index.php?page=patch_counts" target="_blank">here</a>.</p>
						<table class="striped" style="max-height: 100%;">
							<thead>
								<tr>
									<th>Version</th>
									<th>End of Life</th>
									<th><a href="https://source.android.com/security/bulletin" target="_blank" rel="nofollow noopener noreferrer">Android Security Bulletin</a></th>
									<th><a href="https://source.android.com/security/bulletin/pixel" target="_blank" rel="nofollow noopener noreferrer">Pixel Security Bulletin</a></tb>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td data-label="Version">20.0 / 13.0 ★</td>
									<td data-label="End of Life">Late ~2026?</td>
									<td data-label="ASB">LOS: <a href="https://review.lineageos.org/q/topic:T_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">2023-01</a>, DOS: 2023-01</td>
									<td data-label="PSB"><a href="https://github.com/LineageOS/android_build/commit/5ed2e756ae242b4e222f4e0ef1ec6628db194566" target="_blank" rel="nofollow noopener noreferrer">2023-01</a></td>
								</tr>
								<tr>
									<td data-label="Version">19.1 / 12.1</td>
									<td data-label="End of Life">Mid ~2025</td>
									<td data-label="ASB">LOS: <a href="https://review.lineageos.org/q/topic:S_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">2023-01</a>, DOS: 2023-01</td>
									<td data-label="PSB" style="color:red;"><a href="https://github.com/LineageOS/android/commit/d66ede3722dfadc8c9959355d100ae147379b650" target="_blank" rel="nofollow noopener noreferrer">2022-07</a>, <?php print(humanTiming(strtotime('2022-07-05'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">18.1 / 11.0</td>
									<td data-label="End of Life">Late ~2023</td>
									<td data-label="ASB">LOS: <a href="https://review.lineageos.org/q/topic:R_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">2023-01</a>, DOS: 2023-01</td>
									<td data-label="PSB" style="color:red;"><a href="https://github.com/LineageOS/android/commit/baa6c6b88e1b0a5bd5b05eecee8c56151a535424" target="_blank" rel="nofollow noopener noreferrer">2021-10</a>, <?php print(humanTiming(strtotime('2021-10-05'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">17.1 / 10.0</td>
									<td data-label="End of Life">Late ~2022, EOL soon!</td>
									<td data-label="ASB">LOS: <a href="https://review.lineageos.org/q/topic:Q_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">2023-01</a>, DOS: 2023-01</td>
									<td data-label="PSB" style="color:red;"><a href="https://github.com/LineageOS/android/commit/486feedcc841f404c35e4321fd6db7fca55b7621" target="_blank" rel="nofollow noopener noreferrer">2020-08</a>, <?php print(humanTiming(strtotime('2020-08-05'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">16.0 / 9.0</td>
									<td data-label="End of Life" style="color:red;"><a href="https://source.android.com/security/bulletin/2022-01-01" target="_blank" rel="nofollow noopener noreferrer">2022-01</a>, <?php print(humanTiming(strtotime('2022-01-01'))); ?> ago</td>
									<td data-label="ASB">LOS: <a href="https://review.lineageos.org/q/topic:P_asb_2022-05+OR+topic:P_asb_2022-06+OR+topic:P_asb_2022-07+OR+topic:P_asb_2022-08+OR+topic:P_asb_2022-09+OR+topic:P_asb_2022-10+OR+topic:P_asb_2022-11+OR+topic:P_asb_2022-12+OR+topic:P_asb_2023-01" target="_blank" rel="nofollow noopener noreferrer">2022-01</a>, DOS: 2023-01*</td>
									<td data-label="PSB" style="color:red;"><a href="https://github.com/LineageOS/android/commit/f41bb3a16a28ffafb4c09754b4f6a865340725b0" target="_blank" rel="nofollow noopener noreferrer">2019-08</a>, <?php print(humanTiming(strtotime('2019-08-05'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">15.1 / 8.1.0</td>
									<td data-label="End of Life" style="color:red;"><a href="https://source.android.com/security/bulletin/2021-10-01" target="_blank" rel="nofollow noopener noreferrer">2021-10</a>, <?php print(humanTiming(strtotime('2021-10-05'))); ?> ago</td>
									<td data-label="ASB">LOS: <a href="https://review.lineageos.org/q/topic:O_asb_2022-02" target="_blank" rel="nofollow noopener noreferrer">2021-10</a>, DOS: 2023-01*</td>
									<td data-label="PSB" style="color:red;"><a href="https://github.com/LineageOS/android/commit/86e8f7bff944b9ba333cc98d7389708945994015" target="_blank" rel="nofollow noopener noreferrer">2018-12</a>, <?php print(humanTiming(strtotime('2018-12-05'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">14.1 / 7.1.2</td>
									<td data-label="End of Life" style="color:red;"><a href="https://source.android.com/security/bulletin/2019-10-01" target="_blank" rel="nofollow noopener noreferrer">2019-10</a>, <?php print(humanTiming(strtotime('2019-10-05'))); ?> ago</td>
									<td data-label="ASB">LOS: <a href="https://review.lineageos.org/q/topic:n-asb-2021-07+OR+topic:n-asb-2021-08" target="_blank" rel="nofollow noopener noreferrer">2021-06</a>, DOS: <a href="https://review.lineageos.org/q/topic:n-asb-2021-09+OR+topic:n-asb-2021-10+OR+topic:n-asb-2021-11+OR+topic:n-asb-2021-12+OR+topic:n-asb-2022-01+OR+topic:n-asb-2022-02+OR+topic:n-asb-2022-03+OR+topic:n-asb-2022-04+OR+topic:n-asb-2022-05+OR+topic:n-asb-2022-06+OR+topic:n-asb-2022-07+OR+topic:n-asb-2022-08+OR+topic:n-asb-2022-09+OR+topic:n-asb-2022-10+OR+topic:n-asb-2022-11+OR+topic:n-asb-2022-12+OR+topic:n-asb-2023-01" target="_blank" rel="nofollow noopener noreferrer">2023-01*</a></td>
									<td data-label="PSB" style="color:red;"><a href="https://github.com/LineageOS/android/commit/11d2ce3ca02dd8b8866e275d86020d6388b22fe9" target="_blank" rel="nofollow noopener noreferrer">2017-12</a>, <?php print(humanTiming(strtotime('2017-12-05'))); ?> ago</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="section" id="kernelStatus">
						<h3>Linux Version Status<a href="#kernelStatus">¶</a></h3>
						<p>Last updated: 2023-02-01</p>
						<table class="striped" style="max-height: 100%;">
							<thead>
								<tr>
									<th>Version</th>
									<th>Last</th>
									<th>End of Life</tb>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td data-label="Version">5.15</td>
									<td data-label="Last">5.15.91</td>
									<td data-label="EOL">2023-10</td>
								</tr>
								<tr>
									<td data-label="Version">5.10</td>
									<td data-label="Last">5.10.166</td>
									<td data-label="EOL">2026-12</td>
								</tr>
								<tr>
									<td data-label="Version">5.4</td>
									<td data-label="Last">5.4.230</td>
									<td data-label="EOL">2025-12</td>
								</tr>
								<tr>
									<td data-label="Version">4.19</td>
									<td data-label="Last">4.19.271</td>
									<td data-label="EOL">2024-12</td>
								</tr>
								<tr>
									<td data-label="Version">4.14</td>
									<td data-label="Last">4.14.304</td>
									<td data-label="EOL">2024-01</td>
								</tr>
								<tr>
									<td data-label="Version">4.9</td>
									<td data-label="Last">4.9.337</td>
									<td data-label="EOL" style="color:red;">2023-01-07, <?php print(humanTiming(strtotime('2023-01-07'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">4.4</td>
									<td data-label="Last">4.4.302</td>
									<td data-label="EOL" style="color:red;">2022-02-03 + 2027-01 (CIP), <?php print(humanTiming(strtotime('2022-02-03'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">3.18</td>
									<td data-label="Last">3.18.140</td>
									<td data-label="EOL" style="color:red;">2019-05-16 + 2021-10 (Google/Linaro), <?php print(humanTiming(strtotime('2021-10-05'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">3.10</td>
									<td data-label="Last">3.10.108</td>
									<td data-label="EOL" style="color:red;">2017-11-04, <?php print(humanTiming(strtotime('2017-11-04'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">3.4</td>
									<td data-label="Last">3.4.113</td>
									<td data-label="EOL" style="color:red;">2016-10-26, <?php print(humanTiming(strtotime('2016-10-26'))); ?> ago</td>
								</tr>
								<tr>
									<td data-label="Version">3.0</td>
									<td data-label="Last">3.0.101</td>
									<td data-label="EOL" style="color:red;">2013-10-22, <?php print(humanTiming(strtotime('2013-10-22'))); ?> ago</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="section" id="devices">
						<h3>Devices<a href="#devices">¶</a></h3>
						<p>Last updated: 2023-01-23<br>Of note, DivestOS only includes firmware on select devices as documented <a href="https://gitlab.com/divested-mobile/firmware-empty/-/blob/master/STATUS" target="_blank" rel="nofollow noopener noreferrer">here</a>.<br>Devices listed below denoted with a '★' can be considered reasonably secure if firmware is included and the device is relocked.</p>
						<table class="striped" style="max-height: 100%;">
							<thead>
								<tr>
									<th>Device</th>
									<th>Branch</th>
									<th>Vendor ASB</th>
									<th>Kernel</tb>
								</tr>
							</thead>
							<tbody>
<tr>
	<td data-label="Device">akari</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-09-01</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_sony_sdm845.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.9.227 + 389 patches</td>
</tr>
<tr>
	<td data-label="Device">alioth</td>
	<td data-label="Version" style="color:#FFC107;">19.1</td>
	<td data-label="V-ASB" style="color:#FFC107;">2022-08-01</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-19.1/CVE_Patchers/android_kernel_xiaomi_sm8250.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.19.113 + 513 patches</td>
</tr>
<tr>
	<td data-label="Device">Amber</td>
	<td data-label="Version" style="color:#FFC107;">17.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-10-05</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_yandex_sdm660.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.4.205 + 403 patches</td>
</tr>
<tr>
	<td data-label="Device">angler</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_huawei_angler.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.73 + 567 patches</td>
</tr>
<tr>
	<td data-label="Device">apollo</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_amazon_hdx-common.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.0 + 790 patches</td>
</tr>
<tr>
	<td data-label="Device">aura</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2021-02-05</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_razer_sdm845.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.9.336 + 81 patches</td>
</tr>
<tr>
	<td data-label="Device">aurora</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-09-01</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_sony_sdm845.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.9.227 + 389 patches</td>
</tr>
<tr>
	<td data-label="Device">avicii</td>
	<td data-label="Version" style="color:#FFC107;">17.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-12-01</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_oneplus_sm7250.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.19.81 + 570 patches</td>
</tr>
<tr>
	<td data-label="Device">axon7</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_zte_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.71 + 692 patches</td>
</tr>
<tr>
	<td data-label="Device">bacon</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2016-09-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_oppo_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 362 patches</td>
</tr>
<tr>
	<td data-label="Device">barbet ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2023-01</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_redbull.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.19.252 + 118 patches</td>
</tr>
<tr>
	<td data-label="Device">beryllium</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-12-01</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_xiaomi_sdm845.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.9.337 + 80 patches</td>
</tr>
<tr>
	<td data-label="Device">bluejay ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2023-01</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_gs101_private_gs-google.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">5.10.107</td>
</tr>
<tr>
	<td data-label="Device">blueline</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2021-10-05</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_msm-4.9.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.9.336 + 88 patches</td>
</tr>
<tr>
	<td data-label="Device">bonito</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#FFC107;">2022-05-05</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_msm-4.9.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.9.336 + 88 patches</td>
</tr>
<tr>
	<td data-label="Device">bramble ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2023-01</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_redbull.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.19.252 + 118 patches</td>
</tr>
<tr>
	<td data-label="Device">bullhead</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_lge_bullhead.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.73 + 578 patches</td>
</tr>
<tr>
	<td data-label="Device">cheeseburger</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-09-01</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_oneplus_msm8998.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.4.302 + 126 patches</td>
</tr>
<tr>
	<td data-label="Device">cheetah ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2023-01</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_gs201_private_gs-google.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">5.10.107</td>
</tr>
<tr>
	<td data-label="Device">cheryl</td>
	<td data-label="Version" style="color:#FFC107;">19.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2019-11-05</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-19.1/CVE_Patchers/android_kernel_razer_msm8998.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.4.302 + 136 patches</td>
</tr>
<tr>
	<td data-label="Device">clark</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_motorola_msm8992.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.102 + 676 patches</td>
</tr>
<tr>
	<td data-label="Device">clark</td>
	<td data-label="Version" style="color:#FFC107;">17.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2017-10-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_motorola_msm8992.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 406 patches</td>
</tr>
<tr>
	<td data-label="Device">coral ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2022-10-05</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_msm-4.14.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.14.289 + 111 patches</td>
</tr>
<tr>
	<td data-label="Device">crackling</td>
	<td data-label="Version" style="color:#FFC107;">17.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2016-12-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_cyanogen_msm8916.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 439 patches</td>
</tr>
<tr>
	<td data-label="Device">crosshatch</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2021-10-05</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_msm-4.9.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.9.336 + 88 patches</td>
</tr>
<tr>
	<td data-label="Device">d2att</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_d2.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.112 + 558 patches</td>
</tr>
<tr>
	<td data-label="Device">d2spr</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_d2.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.112 + 558 patches</td>
</tr>
<tr>
	<td data-label="Device">d2tmo</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_d2.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.112 + 558 patches</td>
</tr>
<tr>
	<td data-label="Device">d2vzw</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_d2.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.112 + 558 patches</td>
</tr>
<tr>
	<td data-label="Device">d800</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2015-12-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 421 patches</td>
</tr>
<tr>
	<td data-label="Device">d801</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2015-12-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 421 patches</td>
</tr>
<tr>
	<td data-label="Device">d802</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2015-12-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 421 patches</td>
</tr>
<tr>
	<td data-label="Device">d803</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2015-12-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 421 patches</td>
</tr>
<tr>
	<td data-label="Device">d850</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_g3.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 436 patches</td>
</tr>
<tr>
	<td data-label="Device">d851</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_g3.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 436 patches</td>
</tr>
<tr>
	<td data-label="Device">d852</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_g3.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 436 patches</td>
</tr>
<tr>
	<td data-label="Device">d855</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_g3.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 436 patches</td>
</tr>
<tr>
	<td data-label="Device">davinci</td>
	<td data-label="Version" style="color:#FFC107;">17.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-09-01</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_xiaomi_sm6150.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.14.213 + 351 patches</td>
</tr>
<tr>
	<td data-label="Device">deb</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_google_msm.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 439 patches</td>
</tr>
<tr>
	<td data-label="Device">discovery</td>
	<td data-label="Version" style="color:#FFC107;">19.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-11-01</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-19.1/CVE_Patchers/android_kernel_sony_sdm660.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.4.302 + 140 patches</td>
</tr>
<tr>
	<td data-label="Device">dragon</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_google_dragon.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.0 + 714 patches</td>
</tr>
<tr>
	<td data-label="Device">dumpling</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-09-01</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_oneplus_msm8998.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.4.302 + 126 patches</td>
</tr>
<tr>
	<td data-label="Device">enchilada</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2021-11-01</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_oneplus_sdm845.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.9.336 + 81 patches</td>
</tr>
<tr>
	<td data-label="Device">ether</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2017-04-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_nextbit_msm8992.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 464 patches</td>
</tr>
<tr>
	<td data-label="Device">ether</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2017-04-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_nextbit_msm8992.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 459 patches</td>
</tr>
<tr>
	<td data-label="Device">f400</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_g3.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 436 patches</td>
</tr>
<tr>
	<td data-label="Device">fajita</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2021-11-01</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_oneplus_sdm845.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.9.336 + 81 patches</td>
</tr>
<tr>
	<td data-label="Device">flame ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2022-10-05</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_msm-4.14.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.14.289 + 111 patches</td>
</tr>
<tr>
	<td data-label="Device">flo</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2016-08-05</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_google_msm.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 439 patches</td>
</tr>
<tr>
	<td data-label="Device">flounder</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2017-10-05</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_htc_flounder.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.103 + 437 patches</td>
</tr>
<tr>
	<td data-label="Device">flounder_lte</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2017-10-05</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_htc_flounder.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.103 + 437 patches</td>
</tr>
<tr>
	<td data-label="Device">flox</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2016-08-05</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_google_msm.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 406 patches</td>
</tr>
<tr>
	<td data-label="Device">FP2</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2018-04-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_fairphone_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 221 patches</td>
</tr>
<tr>
	<td data-label="Device">FP3</td>
	<td data-label="Version" style="color:#FFC107;">19.1</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2022-10-05</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-19.1/CVE_Patchers/android_kernel_fairphone_sdm632.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.9.330 + 98 patches</td>
</tr>
<tr>
	<td data-label="Device">FP4 ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2022-11-05</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_fairphone_sm7225.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.19.269 + 74 patches</td>
</tr>
<tr>
	<td data-label="Device">fugu</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2017-11-05</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_asus_fugu.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.20 + 648 patches</td>
</tr>
<tr>
	<td data-label="Device">griffin</td>
	<td data-label="Version" style="color:#FFC107;">17.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2019-11-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_motorola_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.120 + 610 patches</td>
</tr>
<tr>
	<td data-label="Device">grouper</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_asus_grouper.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 446 patches</td>
</tr>
<tr>
	<td data-label="Device">guacamoleb ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2022-12-05</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_oneplus_sm8150.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.14.180 + 415 patches</td>
</tr>
<tr>
	<td data-label="Device">guacamole ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2022-12-05</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_oneplus_sm8150.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.14.180 + 415 patches</td>
</tr>
<tr>
	<td data-label="Device">h811</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_lge_msm8992.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.84 + 636 patches</td>
</tr>
<tr>
	<td data-label="Device">h815</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_lge_msm8992.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.84 + 636 patches</td>
</tr>
<tr>
	<td data-label="Device">h830</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.113 + 587 patches</td>
</tr>
<tr>
	<td data-label="Device">h850</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.113 + 587 patches</td>
</tr>
<tr>
	<td data-label="Device">h870</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.113 + 599 patches</td>
</tr>
<tr>
	<td data-label="Device">h910</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.113 + 587 patches</td>
</tr>
<tr>
	<td data-label="Device">h918</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.113 + 587 patches</td>
</tr>
<tr>
	<td data-label="Device">h990</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.113 + 587 patches</td>
</tr>
<tr>
	<td data-label="Device">ham</td>
	<td data-label="Version" style="color:#F44336;">16.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2016-06-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_cyanogen_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 409 patches</td>
</tr>
<tr>
	<td data-label="Device">hammerhead</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2016-10-05</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_lge_hammerhead.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.0 + 637 patches</td>
</tr>
<tr>
	<td data-label="Device">hammerhead</td>
	<td data-label="Version" style="color:#F44336;">16.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2016-10-05</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_lge_hammerhead.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.0 + 637 patches</td>
</tr>
<tr>
	<td data-label="Device">harpia</td>
	<td data-label="Version" style="color:#FFC107;">17.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2018-06-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_motorola_msm8916.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 491 patches</td>
</tr>
<tr>
	<td data-label="Device">hero2lte</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_universal8890.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.14 + 749 patches</td>
</tr>
<tr>
	<td data-label="Device">herolte</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_universal8890.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.14 + 749 patches</td>
</tr>
<tr>
	<td data-label="Device">himaul</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_htc_msm8994.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.84 + 550 patches</td>
</tr>
<tr>
	<td data-label="Device">himawl</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_htc_msm8994.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.84 + 550 patches</td>
</tr>
<tr>
	<td data-label="Device">hotdogb ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2022-12-05</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_oneplus_sm8150.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.14.180 + 415 patches</td>
</tr>
<tr>
	<td data-label="Device">hotdog ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2022-12-05</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_oneplus_sm8150.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.14.180 + 415 patches</td>
</tr>
<tr>
	<td data-label="Device">i9100</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_smdk4412.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.0.101 + 413 patches</td>
</tr>
<tr>
	<td data-label="Device">i9300</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_smdk4412.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.0.101 + 413 patches</td>
</tr>
<tr>
	<td data-label="Device">i9305</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_smdk4412.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.0.101 + 413 patches</td>
</tr>
<tr>
	<td data-label="Device">instantnoodle ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2022-12-05</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_oneplus_sm8250.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.19.269 + 73 patches</td>
</tr>
<tr>
	<td data-label="Device">instantnoodlep ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2022-12-05</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_oneplus_sm8250.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.19.269 + 73 patches</td>
</tr>
<tr>
	<td data-label="Device">jflteatt</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2017-08-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_samsung_jf.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 444 patches</td>
</tr>
<tr>
	<td data-label="Device">jfltespr</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2016-09-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_samsung_jf.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 444 patches</td>
</tr>
<tr>
	<td data-label="Device">jfltevzw</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2016-12-09</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_samsung_jf.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 444 patches</td>
</tr>
<tr>
	<td data-label="Device">jfltexx</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2017-08-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_samsung_jf.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 444 patches</td>
</tr>
<tr>
	<td data-label="Device">kccat6</td>
	<td data-label="Version" style="color:#F44336;">16.0</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_samsung_apq8084.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 293 patches</td>
</tr>
<tr>
	<td data-label="Device">kebab ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2022-12-05</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_oneplus_sm8250.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.19.269 + 73 patches</td>
</tr>
<tr>
	<td data-label="Device">kipper</td>
	<td data-label="Version" style="color:#F44336;">16.0</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_cyanogen_msm8916.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 439 patches</td>
</tr>
<tr>
	<td data-label="Device">klte</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2017-08-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_samsung_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 247 patches</td>
</tr>
<tr>
	<td data-label="Device">land</td>
	<td data-label="Version" style="color:#F44336;">16.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2017-04-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_xiaomi_msm8937.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.140 + 463 patches</td>
</tr>
<tr>
	<td data-label="Device">lavender</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2021-06-01</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_xiaomi_sdm660.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.4.302 + 134 patches</td>
</tr>
<tr>
	<td data-label="Device">lemonade ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2022-10-05</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_oneplus_sm8350.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">5.4.219 + 56 patches</td>
</tr>
<tr>
	<td data-label="Device">lemonadep ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2022-10-05</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_oneplus_sm8350.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">5.4.219 + 56 patches</td>
</tr>
<tr>
	<td data-label="Device">lentislte</td>
	<td data-label="Version" style="color:#F44336;">16.0</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_samsung_apq8084.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 293 patches</td>
</tr>
<tr>
	<td data-label="Device">lmi</td>
	<td data-label="Version" style="color:#FFC107;">19.1</td>
	<td data-label="V-ASB" style="color:#FFC107;">2022-08-01</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-19.1/CVE_Patchers/android_kernel_xiaomi_sm8250.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.19.113 + 513 patches</td>
</tr>
<tr>
	<td data-label="Device">ls990</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_g3.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 436 patches</td>
</tr>
<tr>
	<td data-label="Device">ls997</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.113 + 587 patches</td>
</tr>
<tr>
	<td data-label="Device">m7</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_htc_msm8960.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 483 patches</td>
</tr>
<tr>
	<td data-label="Device">m8d</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2016-07-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_htc_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 511 patches</td>
</tr>
<tr>
	<td data-label="Device">m8</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2016-07-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_htc_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 511 patches</td>
</tr>
<tr>
	<td data-label="Device">maguro</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_tuna.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.0.101 + 406 patches</td>
</tr>
<tr>
	<td data-label="Device">mako</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2015-09-08</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_mako.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 50 patches</td>
</tr>
<tr>
	<td data-label="Device">manta</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_manta.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 359 patches</td>
</tr>
<tr>
	<td data-label="Device">marlin</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2019-10-06</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_google_marlin.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.137 + 510 patches</td>
</tr>
<tr>
	<td data-label="Device">mata</td>
	<td data-label="Version" style="color:#FFC107;">19.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-02-05</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-19.1/CVE_Patchers/android_kernel_essential_msm8998.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.4.302 + 172 patches</td>
</tr>
<tr>
	<td data-label="Device">merlin</td>
	<td data-label="Version" style="color:#FFC107;">17.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2018-06-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_motorola_msm8916.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 491 patches</td>
</tr>
<tr>
	<td data-label="Device">n5100</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_smdk4412.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.0.101 + 413 patches</td>
</tr>
<tr>
	<td data-label="Device">n5110</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_smdk4412.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.0.101 + 413 patches</td>
</tr>
<tr>
	<td data-label="Device">n5120</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_smdk4412.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.0.101 + 413 patches</td>
</tr>
<tr>
	<td data-label="Device">oneplus2</td>
	<td data-label="Version" style="color:#FFC107;">17.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2017-10-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_oneplus_msm8994.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 408 patches</td>
</tr>
<tr>
	<td data-label="Device">oneplus3</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2019-10-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_oneplus_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.124 + 509 patches</td>
</tr>
<tr>
	<td data-label="Device">oriole ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2023-01</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_gs101_private_gs-google.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">5.10.107</td>
</tr>
<tr>
	<td data-label="Device">osprey</td>
	<td data-label="Version" style="color:#FFC107;">17.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2018-06-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_motorola_msm8916.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 491 patches</td>
</tr>
<tr>
	<td data-label="Device">panther ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2023-01</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_gs201_private_gs-google.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">5.10.107</td>
</tr>
<tr>
	<td data-label="Device">pioneer</td>
	<td data-label="Version" style="color:#FFC107;">19.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-11-01</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-19.1/CVE_Patchers/android_kernel_sony_sdm660.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.4.302 + 140 patches</td>
</tr>
<tr>
	<td data-label="Device">pro1</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-04-05</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_fxtec_msm8998.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.4.302 + 131 patches</td>
</tr>
<tr>
	<td data-label="Device">raven ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2023-01</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_gs101_private_gs-google.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">5.10.107</td>
</tr>
<tr>
	<td data-label="Device">redfin ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2023-01</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_redbull.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.19.252 + 118 patches</td>
</tr>
<tr>
	<td data-label="Device">rs988</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.113 + 587 patches</td>
</tr>
<tr>
	<td data-label="Device">sailfish</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2019-10-06</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_google_marlin.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.137 + 510 patches</td>
</tr>
<tr>
	<td data-label="Device">santoni</td>
	<td data-label="Version" style="color:#F44336;">16.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2018-06-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_xiaomi_msm8937.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.140 + 463 patches</td>
</tr>
<tr>
	<td data-label="Device">sargo</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#FFC107;">2022-05-05</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_msm-4.9.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.9.336 + 88 patches</td>
</tr>
<tr>
	<td data-label="Device">serrano3gxx</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2016-08-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_samsung_msm8930-common.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 525 patches</td>
</tr>
<tr>
	<td data-label="Device">serranoltexx</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2016-08-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_samsung_msm8930-common.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 525 patches</td>
</tr>
<tr>
	<td data-label="Device">shamu</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2017-10-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_moto_shamu.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 346 patches</td>
</tr>
<tr>
	<td data-label="Device">shamu</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2017-10-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_moto_shamu.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 324 patches</td>
</tr>
<tr>
	<td data-label="Device">sunfish ★</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#4CAF50;">2023-01</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_msm-4.14.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.14.289 + 111 patches</td>
</tr>
<tr>
	<td data-label="Device">surnia</td>
	<td data-label="Version" style="color:#FFC107;">17.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2018-06-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-17.1/CVE_Patchers/android_kernel_motorola_msm8916.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 491 patches</td>
</tr>
<tr>
	<td data-label="Device">taimen</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-10-05</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_wahoo.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.4.302 + 144 patches</td>
</tr>
<tr>
	<td data-label="Device">thor</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_amazon_hdx-common.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.0 + 790 patches</td>
</tr>
<tr>
	<td data-label="Device">toro</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_tuna.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.0.101 + 406 patches</td>
</tr>
<tr>
	<td data-label="Device">toroplus</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_tuna.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.0.101 + 406 patches</td>
</tr>
<tr>
	<td data-label="Device">us996</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.113 + 587 patches</td>
</tr>
<tr>
	<td data-label="Device">us997</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.113 + 599 patches</td>
</tr>
<tr>
	<td data-label="Device">v1awifi</td>
	<td data-label="Version" style="color:#F44336;">14.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-14.1/CVE_Patchers/android_kernel_samsung_exynos5420.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 235 patches</td>
</tr>
<tr>
	<td data-label="Device">vayu</td>
	<td data-label="Version" style="color:#FFC107;">19.1</td>
	<td data-label="V-ASB" style="color:#FFC107;">2022-07-01</td>
	<td data-label="Kernel" style="color:#4CAF50;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-19.1/CVE_Patchers/android_kernel_xiaomi_sm8150.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.14.180 + 448 patches</td>
</tr>
<tr>
	<td data-label="Device">victara</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2016-08-01</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_motorola_msm8974.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 488 patches</td>
</tr>
<tr>
	<td data-label="Device">voyager</td>
	<td data-label="Version" style="color:#FFC107;">19.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-11-01</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-19.1/CVE_Patchers/android_kernel_sony_sdm660.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.4.302 + 140 patches</td>
</tr>
<tr>
	<td data-label="Device">vs985</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_g3.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.4.113 + 436 patches</td>
</tr>
<tr>
	<td data-label="Device">vs995</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">Unknown</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_lge_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.18.113 + 587 patches</td>
</tr>
<tr>
	<td data-label="Device">walleye</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-10-05</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_google_wahoo.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.4.302 + 144 patches</td>
</tr>
<tr>
	<td data-label="Device">xz2c</td>
	<td data-label="Version" style="color:#4CAF50;">20.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2020-09-01</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-20.0/CVE_Patchers/android_kernel_sony_sdm845.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.9.227 + 389 patches</td>
</tr>
<tr>
	<td data-label="Device">yellowstone</td>
	<td data-label="Version" style="color:#F44336;">16.0</td>
	<td data-label="V-ASB" style="color:#F44336;">2014-09-30</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-16.0/CVE_Patchers/android_kernel_google_yellowstone.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.96 + 487 patches</td>
</tr>
<tr>
	<td data-label="Device">Z00T</td>
	<td data-label="Version" style="color:#F44336;">15.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2018-02-05</td>
	<td data-label="Kernel" style="color:#F44336;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-15.1/CVE_Patchers/android_kernel_asus_msm8916.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">3.10.108 + 442 patches</td>
</tr>
<tr>
	<td data-label="Device">z2_plus</td>
	<td data-label="Version" style="color:#FFC107;">18.1</td>
	<td data-label="V-ASB" style="color:#F44336;">2018-11-05</td>
	<td data-label="Kernel" style="color:#FFC107;"><a href="https://gitlab.com/divested-mobile/divestos-build/-/blob/master/Scripts/LineageOS-18.1/CVE_Patchers/android_kernel_zuk_msm8996.sh" target="_blank" rel="nofollow noopener noreferrer" style="color: inherit; text-decoration: none;">4.4.205 + 400 patches</td>
</tr>
							</tbody>
						</table>
					</div>
				</div>
