				<div class="card fluid">
					<h2>Post Install</h2>
					<p>Things you should do soon after installing</p>
					<div class="section" id="apps">
						<h3>Install some apps!<a href="#apps">¶</a></h3>
						<p>We created a list of recommended and tested apps <a href="index.php?page=recommended_apps">here</a>.<br>You can also get access to even more apps by enabling the included 'IzzyOnDroid' repo; be warned however that while all apps are largely open source, some may contain proprietary components/libraries/dependencies. Read more <a href="https://apt.izzysoft.de/fdroid/index/info" target="_blank" rel="nofollow noopener noreferrer">here at IzzySoft.</a></p>
					</div>
					<div class="section" id="settings">
						<h3>Settings to optionally change after install<a href="#settings">¶</a></h3>
						<ul>
							<li>Setting a lockscreen password of 12+ characters is extremely recommended, at the minimum please use a 6+ digit pin. Pattern locks are not recommended.</li>
							<li>If your device has 4GB or more RAM, it is strongly recommended to enable 'Secure App Spawning' in Settings > Security.</li>
							<li>Disable the "Allow native debugging" toggle in Settings > Security.</li>
							<li>Relock your <a href="index.php?page=bootloader#fastbootLocking">bootloader</a> if supported.</li>
							<li>Have a limited/expensive mobile data plan? Check out our saving data page <a href="index.php?page=saving_data">here</a>.</li>
							<li>14.1/15.1 only: Enable 'Privacy Guard' for extra control over application permissions.</li>
							<li>Utilizing and configuring 'Profiles' for your uses/environment can increase battery life and potentially enhance security.</li>
							<li>Disabling lockscreen shortcuts can potentially reduce potential lockscreen bypass vulnerabilities.</li>
							<li>Enabling 'Increasing ring volume' is very nice if you don't use it already.</li>
							<li>You may consider disabling Wi-Fi calling to not let your carrier learn such information about IP addresses, access-points, and potentially more accurate location.</li>
						</ul>
					</div>
					<div class="section" id="updates">
						<h3>Update!<a href="#updates">¶</a></h3>
						<p>There are monthly updates. You MUST read the News page and backup your device before each update.</p>
					</div>
					<div class="section" id="community">
						<h3>Join the community!<a href="#community">¶</a></h3>
						<p>Please see the <a href="index.php?page=community">community</a> page for chat rooms and forum threads available.</p>
					</div>
					<div class="section" id="bug">
						<h3>Bugs!<a href="#bug">¶</a></h3>
						<p>Please see the <a href="index.php?page=bug_reporting">bug reporting</a> page.</p>
					</div>
					<div class="section" id="backup">
						<h3>Backup!<a href="#backup">¶</a></h3>
						<p>You are strongly recommended to backup your devices at least once a month or before system updates.</p>
					</div>
					<div class="section" id="physical">
						<h3>Physical Protections<a href="#physical">¶</a></h3>
						<h4>Apply a privacy screen protector</h4>
						<p>Privacy screen protectors limit the viewing angles of the screen they are applied to, resulting in a dramatic reduction of what people and cameras around you can see. They can be purchased for around $8 on eBay and similar sites. The glass ones are the best as always, but some older phones seem to only have the plastic film ones available. Be warned, they noticeably reduce the brightness and add an ever so slight screen door effect. If your phone doesn't have the brightest of screens it will become near-impossible to see in sunlight and also impact camera/videos experience.</p>
						<h4>Keep a faraday bag handy</h4>
						<p>Faraday bags for phones can be purchased for around $10. They are absolutely essential if you have a phone without a removable battery and are in high-risk areas often. Putting your phone in their inner flap will will prevent all relevant radio signals coming/going to your phone.</p>
						<h4>Wear a hat</h4>
						<p>Plain baseball hats can be purchased for around $6 and provide a decent reduction in visibility of your face to cameras.</p>
					</div>
					<div class="section" id="contribute">
						<h3>Contribute!<a href="#contribute">¶</a></h3>
						<p>Please consider contributing in the form of testing, promoting, bug reports, code review, merge requests, translations, mirrors, device donations, and financially to ensure the project's longevity.</p>
						<a href="https://divested.dev/donate" class="button primary" target="_blank" rel="nofollow noopener noreferrer">Donate</a>
					</div>
				</div>
