<h1 id="customization">Customization</h1>
<ul>
<li>Icons: <a href="https://f-droid.org/packages/org.xphnx.ameixa">Ameixa🌐</a>, <a href="https://f-droid.org/packages/com.donnnno.arcticons">Articons</a></li>
<li>Keyboard: <a href="https://f-droid.org/packages/com.menny.android.anysoftkeyboard">AnySoftKeyboard🌐</a>, <a href="https://f-droid.org/packages/dev.patrickgold.florisboard">FlorisBoard🌐</a></li>
<li>Launcher: <a href="https://f-droid.org/packages/fr.neamar.kiss">KISS🌐</a></li>
<li>Wallpaper: <a href="https://f-droid.org/packages/net.nurik.roman.muzei">Muzei</a>, <a href="https://f-droid.org/packages/com.wangdaye.mysplash">Mysplash</a>, <a href="https://f-droid.org/packages/net.glsk.wpgen">WPGen🌐</a></li>
</ul>
<h1 id="development">Development</h1>
<ul>
<li>Bugzilla: <a href="https://f-droid.org/packages/me.johnmh.boogdroid">BoogDroid</a></li>
<li>Gitea: <a href="https://f-droid.org/packages/org.mian.gitnex">GitNex</a></li>
<li>GitHub: <a href="https://f-droid.org/packages/com.gh4a">OctoDroid</a></li>
<li>GitLab: <a href="https://f-droid.org/packages/com.commit451.gitlab">LabCoat</a></li>
</ul>
<h1 id="documents">Documents</h1>
<ul>
<li>General Viewer: <a href="https://f-droid.org/packages/com.foobnix.pro.pdf.reader">Librera🌐</a></li>
<li>Office: <a href="https://f-droid.org/packages/org.documentfoundation.libreoffice">LibreOffice Viewer🌐</a></li>
<li>PDF Editor: <a href="https://f-droid.org/packages/swati4star.createpdf">PDF Converter💀🌐</a></li>
<li>PDF Viewer: <a href="https://github.com/GrapheneOS/PdfViewer/releases">Secure PDF Viewer🌐🔀</a></li>
<li>Printing (Pre Android 8.1): <a href="https://f-droid.org/packages/io.github.benoitduffez.cupsprint">CUPS Print</a></li>
<li>Scanning: <a href="https://f-droid.org/packages/com.todobom.opennotescanner">Open Note Scanner</a></li>
</ul>
<h1 id="files">Files</h1>
<ul>
<li>Encryption: <a href="https://f-droid.org/packages/sushi.hardcore.droidfs">DroidFS⚠️🌐</a>, <a href="https://f-droid.org/packages/com.sovworks.edslite">EDS Lite⚠️🌐</a></li>
<li>Hosted: <a href="https://f-droid.org/packages/com.nextcloud.android.beta">Nextcloud⛅</a></li>
<li>Synced: <a href="https://f-droid.org/packages/com.nutomic.syncthingandroid">Syncthing⛅☔</a></li>
<li>Torrent Client: <a href="https://f-droid.org/packages/org.proninyaroslav.libretorrent">LibreTorrent</a></li>
<li>Torrent Client Manager: <a href="https://f-droid.org/packages/org.transdroid.full">Transdroid</a></li>
</ul>
<h1 id="games">Games</h1>
<ul>
<li>Addictive: <a href="https://f-droid.org/packages/org.pipoypipagames.towerjumper">Tower Jumper🌐</a></li>
<li>Board: <a href="https://f-droid.org/packages/org.secuso.privacyfriendlydame">Checkers🌐</a>, <a href="https://f-droid.org/packages/com.alaskalinuxuser.justchess">Chess🌐</a></li>
<li>Cards: <a href="https://f-droid.org/packages/de.tobiasbielefeld.solitaire">Simple Solitaire🌐</a></li>
<li>Classic: <a href="https://f-droid.org/packages/org.blockinger.game">Blockinger🌐</a>, <a href="https://f-droid.org/packages/br.usp.ime.retrobreaker">Retro Breaker🌐</a>, <a href="https://f-droid.org/packages/com.dozingcatsoftware.bouncy">Vector Pinball🌐</a></li>
<li>Emulator: <a href="https://f-droid.org/packages/com.swordfish.lemuroid">Lemuroid</a>, <a href="https://f-droid.org/packages/org.dolphinemu.dolphinemu">Dolphin</a>, <a href="https://f-droid.org/packages/org.ppsspp.ppsspp">PPSSPP</a></li>
<li>Platformer: <a href="https://f-droid.org/packages/org.pipoypipagames.cowsrevenge">Cow’s Revenge🌐</a>, <a href="https://f-droid.org/packages/com.replica.replicaisland">Replica Island</a></li>
<li>Puzzle: <a href="https://f-droid.org/packages/dev.lonami.klooni">1010! Klooni🌐</a>, <a href="https://f-droid.org/packages/org.secuso.privacyfriendly2048">2048🌐</a>, <a href="https://f-droid.org/packages/dev.lucanlm.antimine">Minesweeper🌐</a>, <a href="https://f-droid.org/packages/org.secuso.privacyfriendlysudoku">Sudoku🌐</a></li>
<li>Quest: <a href="https://f-droid.org/packages/com.gpl.rpg.AndorsTrail">Andor’s Trail🌐</a></li>
<li>Racing: <a href="https://f-droid.org/packages/org.supertuxkart.stk">SuperTuxKart</a>, <a href="https://f-droid.org/packages/com.agateau.tinywheels.android">Pixel Wheels🌐</a></li>
<li>Roguelike: <a href="https://f-droid.org/packages/com.shatteredpixel.shatteredpixeldungeon">Shattered Pixel Dungeon</a></li>
<li>Sandbox: <a href="https://f-droid.org/packages/net.minetest.minetest">Minetest</a></li>
<li>Strategy: <a href="https://f-droid.org/packages/ch.logixisland.anuto">Anuto🌐</a>, <a href="https://f-droid.org/packages/io.anuke.mindustry">Mindustry</a>, <a href="https://f-droid.org/packages/in.p1x.tanks_of_freedom">Tanks of Freedom</a>, <a href="https://f-droid.org/packages/com.unciv.app">UnCiv</a></li>
<li>Trivia: <a href="https://f-droid.org/packages/io.github.trytonvanmeer.libretrivia">LibreTrivia⛅</a></li>
</ul>
<h1 id="health">Health</h1>
<ul>
<li>Cycling: <a href="https://f-droid.org/packages/ch.bailu.aat">AAT</a></li>
<li>Pedometer: Suggestions Welcome!</li>
<li>Workout: Suggestions Welcome!</li>
</ul>
<h1 id="information">Information</h1>
<ul>
<li>Astronomy: <a href="https://f-droid.org/packages/com.forrestguice.suntimeswidget">Suntimes🌐</a>, <a href="https://f-droid.org/packages/com.google.android.stardroid">Sky Map</a></li>
<li>Conversion: <a href="https://f-droid.org/packages/com.physphil.android.unitconverterultimate">Unit Converter Ultimate⛅</a></li>
<li>Survival: <a href="https://f-droid.org/packages/org.ligi.survivalmanual">Survival Manual🌐</a>, <a href="https://f-droid.org/packages/com.kylecorry.trail_sense">Trail Sense🌐</a></li>
<li>Weather: <a href="https://f-droid.org/packages/cz.martykan.forecastie">Forecastie⛅</a>, <a href="https://f-droid.org/packages/wangdaye.com.geometricweather">Geometric Weather⛅</a></li>
<li>Wikipedia: <a href="https://f-droid.org/packages/org.wikipedia">Wikipedia⛅</a>, <a href="https://f-droid.org/packages/org.kiwix.kiwixmobile">Kiwix⛅</a></li>
</ul>
<h1 id="location">Location</h1>
<ul>
<li>Navigation: <a href="https://f-droid.org/packages/net.osmand.plus">OsmAnd⛅☔</a>, <a href="https://f-droid.org/packages/app.organicmaps">Organic Maps⛅</a></li>
<li>Transit: <a href="https://f-droid.org/packages/de.schildbach.oeffi">Offi</a>, <a href="https://f-droid.org/packages/de.grobox.liberario">Transportr</a></li>
</ul>
<h1 id="media">Media</h1>
<ul>
<li>Camera: <a href="https://github.com/GrapheneOS/Camera/releases">Secure Camera🌐🔀</a>, <a href="https://f-droid.org/packages/net.sourceforge.opencamera">Open Camera🌐</a></li>
<li>Libresonic: <a href="https://f-droid.org/packages/org.moire.ultrasonic">UltraSonic⛅</a></li>
<li>MPD: <a href="https://f-droid.org/packages/org.gateshipone.malp">M.A.L.P.</a></li>
<li>Music: <a href="https://f-droid.org/packages/org.oxycblt.auxio">Auxio🌐</a>, <a href="https://f-droid.org/packages/ch.blinkenlights.android.vanilla">Vanilla🌐</a>, <a href="https://f-droid.org/packages/com.iven.musicplayergo">Music Player GO🌐</a></li>
<li>Peertube: <a href="https://f-droid.org/packages/net.schueller.peertube">Thorium</a>, <a href="https://f-droid.org/packages/app.fedilab.tubelab">TubeLab</a></li>
<li>Pictures: <a href="https://f-droid.org/packages/com.simplemobiletools.gallery.pro">Simple Gallery🌐</a></li>
<li>Podcasts: <a href="https://f-droid.org/packages/de.danoeh.antennapod">AntennaPod⛅🥸</a></li>
<li>Radio: <a href="https://f-droid.org/packages/net.programmierecke.radiodroid2">RadioDroid☔</a>, <a href="https://f-droid.org/packages/org.y20k.transistor">Transistor</a></li>
<li>Twitch: <a href="https://f-droid.org/packages/com.perflyst.twire">Twire</a></li>
<li>Universal: <a href="https://f-droid.org/packages/org.videolan.vlc">VLC</a></li>
<li>YouTube: <a href="https://f-droid.org/packages/org.schabi.newpipe">NewPipe⛅</a>, <a href="https://f-droid.org/packages/free.rm.skytube.oss">SkyTube⛅</a></li>
</ul>
<h1 id="miscellaneous">Miscellaneous</h1>
<ul>
<li>Barcode Scanner: <a href="https://f-droid.org/packages/de.markusfisch.android.binaryeye">Binary Eye</a></li>
<li>OBD2 Reader: <a href="https://f-droid.org/packages/com.fr3ts0n.ecu.gui.androbd">AndrOBD</a></li>
<li>RSS: <a href="https://f-droid.org/packages/net.frju.flym">Flym⛅</a>, <a href="https://f-droid.org/packages/net.etuldan.sparss.floss">spaRSS⛅🥸</a></li>
<li>Text to Speech: <a href="https://f-droid.org/packages/com.github.olga_yakovleva.rhvoice.android">RHVoice⛅</a>, <a href="https://f-droid.org/packages/com.reecedunn.espeak">eSpeakNG🌐</a></li>
</ul>
<h1 id="network">Network</h1>
<ul>
<li>Filtering: <a href="https://f-droid.org/packages/com.celzero.bravedns">RethinkDNS</a>, <a href="https://f-droid.org/packages/eu.faircode.netguard">NetGuard</a>, <a href="https://f-droid.org/packages/org.jak_linux.dns66">DNS66</a></li>
<li>Monitor: <a href="https://f-droid.org/packages/com.emanuelef.remote_capture">PCAPdroid</a></li>
<li>Proxies: <a href="https://github.com/guardianproject/orbot/releases">Orbot🔀</a>, <a href="https://f-droid.org/packages/net.i2p.android.router">I2P</a></li>
<li>VPN: <a href="https://f-droid.org/packages/se.leap.bitmaskclient">Bitmask</a></li>
<li>VPN (proper): <a href="https://f-droid.org/packages/com.wireguard.android">WireGuard</a>, <a href="https://f-droid.org/packages/de.blinkt.openvpn">OpenVPN</a>, <a href="https://f-droid.org/packages/org.pacien.tincapp">Tinc</a></li>
</ul>
<h1 id="organization">Organization</h1>
<ul>
<li>Budget: <a href="https://f-droid.org/packages/org.totschnig.myexpenses">My Expenses</a></li>
<li>Habits: <a href="https://f-droid.org/packages/org.isoron.uhabits">Loop Habit Tracker🌐</a></li>
<li>Journal: <a href="https://f-droid.org/packages/org.billthefarmer.diary">Diary</a></li>
<li>Notes: <a href="https://f-droid.org/packages/org.secuso.privacyfriendlynotes">Notes🌐</a>, <a href="https://f-droid.org/packages/com.twistedplane.sealnote">SealNote⚠️🌐</a></li>
<li>Orgmode: <a href="https://f-droid.org/packages/com.orgzly">Orgzly</a></li>
<li>To Do: <a href="https://f-droid.org/packages/org.dmfs.tasks">Tasks🌐</a>, <a href="https://f-droid.org/packages/org.tasks">Tasks.org</a></li>
</ul>
<h1 id="payments">Payments</h1>
<ul>
<li>Bitcoin: <a href="https://f-droid.org/packages/de.schildbach.wallet">Bitcoin Wallet</a></li>
<li>“Loyalty” Cards: <a href="https://f-droid.org/packages/me.hackerchick.catima">Catima🌐</a></li>
</ul>
<h1 id="reading">Reading</h1>
<ul>
<li>E-Books: <a href="https://f-droid.org/packages/com.foobnix.pro.pdf.reader">Librera🌐</a>, <a href="https://f-droid.org/packages/com.github.axet.bookreader">Book Reader🌐</a></li>
<li>Religious Texts: <a href="https://f-droid.org/packages/org.hlwd.bible">The Light🌐</a></li>
</ul>
<h1 id="security">Security</h1>
<ul>
<li>App Isolation: <a href="https://f-droid.org/packages/net.typeblog.shelter">Shelter🌐</a></li>
<li>OpenPGP: <a href="https://f-droid.org/packages/org.sufficientlysecure.keychain">OpenKeychain☔</a></li>
<li>Passwords: <a href="https://f-droid.org/packages/com.kunzisoft.keepass.libre">KeePassDX🌐</a>, <a href="https://f-droid.org/packages/org.secuso.privacyfriendlypasswordgenerator">Password Generator⚠️🌐</a></li>
<li>Steganography: <a href="https://f-droid.org/packages/info.guardianproject.pixelknot">Pixel Knot🌐</a></li>
<li>Two Factor Authenticaton: <a href="https://f-droid.org/packages/com.beemdevelopment.aegis">Aegis🌐</a>, <a href="https://f-droid.org/packages/com.yubico.yubioath">YubiKey🌐</a></li>
<li>Universal E2E Chat: <a href="https://f-droid.org/packages/io.oversec.one">Oversec⚠️🌐</a></li>
</ul>
<h1 id="servers">Servers</h1>
<ul>
<li>Knocker: <a href="https://f-droid.org/packages/me.impa.knockonports">Knock on Ports</a>, <a href="https://f-droid.org/packages/org.cipherdyne.fwknop2">Fwknop2</a></li>
<li>Port Scanner: <a href="https://f-droid.org/packages/com.aaronjwood.portauthority">Port Authority</a></li>
<li>SSH: <a href="https://f-droid.org/packages/org.connectbot">ConnectBot</a></li>
<li>Status: <a href="https://f-droid.org/packages/com.afollestad.nocknock">Nock Nock</a></li>
</ul>
<h1 id="social">Social</h1>
<ul>
<li>Email: <a href="https://f-droid.org/packages/eu.faircode.email">FairEmail</a>, <a href="https://f-droid.org/packages/com.fsck.k9">K-9 Mail</a></li>
<li>Email Chat: <a href="https://f-droid.org/packages/com.b44t.messenger">Delta Chat</a></li>
<li>Facebook: <a href="https://f-droid.org/packages/org.indywidualni.fblite">Face Slim⛅🥸</a></li>
<li>IRC: <a href="https://f-droid.org/packages/io.mrarm.irc">Revolution IRC</a></li>
<li>Matrix: <a href="https://f-droid.org/packages/im.vector.app">Element</a></li>
<li>Mumble: <a href="https://f-droid.org/packages/se.lublin.mumla">Mumla🥸</a></li>
<li>Other: <a href="https://f-droid.org/packages/org.briarproject.briar.android">Briar🥸</a></li>
<li>SIP: <a href="https://f-droid.org/packages/org.linphone">Linphone</a></li>
<li>SMS/MMS: <a href="https://f-droid.org/packages/org.smssecure.smssecure">Silence⚠️</a></li>
<li>Telegram: <a href="https://f-droid.org/packages/org.telegram.messenger">Telegram FOSS Fork</a></li>
<li>Twitter: <a href="https://f-droid.org/packages/org.mariotaku.twidere">Twidere⛅🥸</a></li>
<li>XMPP: <a href="https://f-droid.org/packages/eu.siacs.conversations">Conversations⛅🥸</a>, <a href="https://f-droid.org/packages/com.cheogram.android">Cheogram⛅🥸</a></li>
</ul>
<h1 id="social-forums">Social Forums</h1>
<ul>
<li>Hacker News: <a href="https://f-droid.org/packages/io.github.hidroh.materialistic">Materialistic⛅</a></li>
<li>Reddit: <a href="https://f-droid.org/packages/org.quantumbadger.redreader">RedReader⛅🥸</a>, <a href="https://f-droid.org/packages/me.ccrama.redditslide">Slide⛅</a>, <a href="https://f-droid.org/packages/ml.docilealligator.infinityforreddit">Infinity⛅</a></li>
</ul>
<h1 id="utilities">Utilities</h1>
<ul>
<li>Battery Monitoring: <a href="https://f-droid.org/packages/com.darshancomputing.BatteryIndicatorPro">BatteryBot🌐</a></li>
<li>Clipboard History: <a href="https://f-droid.org/packages/com.catchingnow.tinyclipboardmanager">Clip Stack🌐</a></li>
<li>Contacts Sync: <a href="https://f-droid.org/packages/at.bitfire.davdroid">DAVx5☔</a>, <a href="https://f-droid.org/packages/com.etesync.syncadapter">EteSync🥸</a></li>
<li>File Server: <a href="https://f-droid.org/packages/org.primftpd">primitive ftpd</a></li>
<li>GPS Tester: <a href="https://f-droid.org/packages/com.android.gpstest.osmdroid">GPSTest</a></li>
<li>Screen Sharing: <a href="https://f-droid.org/packages/info.dvkr.screenstream">Screen Stream</a></li>
<li>Terminal: <a href="https://f-droid.org/packages/com.termux">Termux</a></li>
<li>Wi-Fi Analyzer: <a href="https://f-droid.org/packages/com.vrem.wifianalyzer/">WiFiAnalyzer🌐</a></li>
</ul>
<h1 id="web-browsers">Web Browsers</h1>
<ul>
<li>Variety Updater: <a href="https://f-droid.org/packages/de.marmaro.krt.ffupdater">FFUpdater</a></li>
<li>Blink: <a href="https://www.bromite.org/fdroid">Bromite🔀</a>, <a href="https://divestos.org/index.php?page=our_apps#mulch">Mulch🔀</a></li>
<li>Gecko: <a href="https://f-droid.org/packages/us.spotco.fennec_dos">Mull⛅☔</a>, <a href="https://f-droid.org/packages/org.mozilla.fennec_fdroid">Fennec⛅☔</a>, <a href="https://www.torproject.org/download/#android">Tor Browser⛅🥸🔀</a></li>
<li>WebView: <a href="https://f-droid.org/packages/com.stoutner.privacybrowser.standard">Privacy Browser⛅☔</a>, <a href="https://f-droid.org/packages/de.baumann.browser">FOSS Browser⛅</a>, <a href="https://f-droid.org/packages/acr.browser.lightning">Lightning⛅☔</a></li>
</ul>
<h1 id="key">Key</h1>
<ul>
<li>💀 Known security issues, see <a href="https://divestos.org/misc/appsec.txt">appsec.txt</a></li>
<li>⚠️ High risk OR has not been formally audited</li>
<li>🌐 No Network Permission</li>
<li>⛅ Data Friendly (Uses minimal data, provides limits, offers offline support, or respects Data Saver)</li>
<li>🥸 Proxy Support (eg. Tor, HTTP, SOCKS)</li>
<li>☔ Proxy Support, but is <em>not</em> recommended due to potential leaks (eg. location, real IP)</li>
<li>🔀 Not in official F-Droid repository</li>
</ul>
