				<div class="card fluid">
					<h2>Recommended Apps from F-Droid</h2>
					<p>Visit this list after installing DivestOS or F-Droid to your device</p>
					<div class="section">
						<h3 id="messengers">On Messaging Apps</h3>
						<p>Please see the messaging tables page <a href="index.php?page=messengers">here</a></p>
						<h3 id="keyboards">On Keyboard Apps</h3>
						<p>Do not ever use any keyboard apps that are proprietary and/or require network permission. It doesn't matter how great that auto-complete is, it's very bad if it's sending everything you type to a server somewhere just to be data mined. It doesn't even matter if it has a "good" privacy policy or if you trust the creator, sending it away incurs the chance of being intercepted by a less trusted party.</p>
						<h3 id="keyboards">On Web Browsers</h3>
						<p>Please see the browser tables page <a href="index.php?page=browsers">here</a></p>

						<?php print(file_get_contents("pages/recommended_apps_md.html")); ?>
					</div>
				</div>
