				<div class="card centero fluid">
					<h2>Screenshots</h2>
					<p>Various screenshots of the system and apps<br><?php if(!$SBNR_GEN_DARKMODE) { if($pageRaw === "screenshots_dark") { print('<a href="index.php?page=screenshots">View in light mode</a>'); } else { print('<a href="index.php?page=screenshots_dark">View in dark mode</a>'); } } ?></p>
					<div class="section">
						<div class="row">
<?php
$screenshotHTML='
<div class="card centero"><div class="section" id="lockScreen"><h3>Lock Screen<a href="#lockScreen">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Lock_Screen.png"/></div>
<div class="card centero"><div class="section" id="homeScreen"><h3>Home Screen<a href="#homeScreen">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Home_Screen.png"/></div>
<div class="card centero"><div class="section" id="includedApps"><h3>Included Apps<a href="#includedApps">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Default_Apps.png"/></div>
<div class="card centero"><div class="section" id="quickTiles"><h3>Quick Tiles<a href="#quickTiles">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Quick_Tiles.png"/></div>
<div class="card centero"><div class="section" id="settings"><h3>Settings<a href="#settings">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Settings.png"/></div>
<div class="card centero"><div class="section" id="settingsAbout"><h3>Settings - About<a href="#settingsAbout">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/About.png"/></div>
<div class="card centero"><div class="section" id="updater"><h3>Updater<a href="#updater">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Updater.png"/></div>
<div class="card centero"><div class="section" id="backup"><h3>Seedvault - System Backup<a href="#backup">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Backup.png"/></div>
<div class="card centero"><div class="section" id="talkback"><h3>TalkBack Accessibility<a href="#talkback">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/TalkBack.png"/></div>
<div class="card centero"><div class="section" id="networkControl"><h3>Network Control<a href="#networkControl">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Network.png"/></div>
<div class="card centero"><div class="section" id="permissionPrompt"><h3>Permission Prompt<a href="#permissionPrompt">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Permission_Prompt.png"/></div>
<div class="card centero"><div class="section" id="permissionDashboard"><h3>Permissions Dashboard<a href="#permissionDashboard">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Permission_Dashboard.png"/></div>
<div class="card centero"><div class="section" id="permissions"><h3>Permission Control<a href="#permissions">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Permissions.png"/></div>
<div class="card centero"><div class="section" id="settingsSecurity"><h3>Security Options<a href="#settingsSecurity">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Security_Options.png"/></div>
<div class="card centero"><div class="section" id="hypatia"><h3>Hypatia - Malware Scanner<a href="#hypatia">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Hypatia.png"/></div>
<div class="card centero"><div class="section" id="extirpater"><h3>Extirpater - Free Space Eraser<a href="#extirpater">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Extirpater.png"/></div>
<div class="card centero"><div class="section" id="mull"><h3>Mull - Web Browser<a href="#mull">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Mull.png"/></div>
<div class="card centero"><div class="section" id="fdroidRepos"><h3>F-Droid Included Repos<a href="#fdroidRepos">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/F-Droid_Repos.png"/></div>
<div class="card centero"><div class="section" id="dosRepo"><h3>F-Droid App Info<a href="#dosRepo">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/F-Droid_App.png"/></div>
<div class="card centero"><div class="section" id="phone"><h3>Phone<a href="#phone">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Phone.png"/></div>
<div class="card centero"><div class="section" id="sms"><h3>SMS & MMS<a href="#sms">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Messaging.png"/></div>
<div class="card centero"><div class="section" id="contacts"><h3>Contacts<a href="#contacts">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Contacts.png"/></div>
<div class="card centero"><div class="section" id="gallery"><h3>Simple Gallery<a href="#gallery">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Gallery.png"/></div>
<div class="card centero"><div class="section" id="camera"><h3>Secure Camera<a href="#camera">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Camera.png"/></div>
<div class="card centero"><div class="section" id="files"><h3>Files<a href="#files">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Files.png"/></div>
<div class="card centero"><div class="section" id="calendar"><h3>Etar - Calendar<a href="#calendar">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Calendar.png"/></div>
<div class="card centero"><div class="section" id="clock"><h3>Clock<a href="#clock">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Clock.png"/></div>
<div class="card centero"><div class="section" id="calculator"><h3>Calculator<a href="#calculator">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Calculator.png"/></div>
<div class="card centero"><div class="section" id="recorder"><h3>Sound Recorder<a href="#recorder">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Recorder.png"/></div>
<div class="card centero"><div class="section" id="support"><h3>Support<a href="#support">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Support.png"/></div>
<div class="card centero"><div class="section" id="braille"><h3>Braille Keyboard<a href="#braille">¶</a></h3></div><img class="section media" style="height:auto;" loading="lazy" src="images/screenshots/12/Braille.png"/></div>
';
if($SBNR_GEN_DARKMODE || $pageRaw === "screenshots_dark") { $screenshotHTML = str_replace("/12/", "/12-dark/", $screenshotHTML); }
print($screenshotHTML);
?>
						</div>
					</div>
				</div>
