				<div class="card fluid">
					<h2>Technical Details</h2>
					<div class="section" id="overview">
						<h3>Overview<a href="#overview">¶</a></h3>
						<p>An Android operating system is essentially made up of three parts as detailed below.</p>
						<h4 id="kernel">The Linux Kernel<a href="#kernel">¶</a></h4>
						<p>The kernel is a necessary part of any operating system. It provides the essential core functionalities and allows the software to talk to the hardware.</p>
						<p>Due to the extensive modifications made by device manufacturers and upstream hardware creators, the vanilla 'Mainline' kernel cannot be used. This means that most devices use kernels that are outdated and need to be manually maintained. Some kernels can be easily kept up to date by applying kernel version patches, but more often are modified so much that they need to instead have patches manually tweaked (backported) to work. Google, Qualcomm, and other manufacturers do actually do this work but they still need to be manually applied by device maintainers. Due to this most third party and even stock operating systems ship kernels that are littered with known vulnerabilities.</p>
						<p>We however have created a program that eases tracking and applying of these patches massively. Once supplied with a sufficient amount of patches it can can be easily fed kernels and spit out scripts that will automatically apply all applicable patches. It is far from perfect, but with our current set of ~13,400 patches for ~2,800 CVEs it can typically apply between 30 and 300 patches to a kernel. The end result of this is that kernels are much more secure. <b>This is referred to below as our 'CVE patcher'.</b></p>
						<p>The kernel also sports many built-in security features, that most devices actually have disabled! We created a tool that automatically enables as many of these security features as possible. This is an easy way to have a noticeable increase in security with minimal effort. <b>This is referred to below as 'hardenDefconfig()'.</b></p>
						<h4 id="android">Android Itself<a href="#android">¶</a></h4>
						<p>[TO BE COMPLETED]</p>
						<h4 id="vendor">Vendor Blobs<a href="#vendor">¶</a></h4>
						<p>[TO BE COMPLETED]</p>
					</div>
					<div class="section" id="details">
						<h3>The deets<a href="#details">¶</a></h3>
						<p>In order to reduce the need for maintenance of this page, minor tweaks and fixes are not documented; please check the source code for complete details about all the changes made.</p>
						<p>Last updated: 2023-01-23</p>
						<h4 id="workspace">Workspace<a href="#workspace">¶</a></h4>
						<ul>
							<li>Many unneeded repositories are removed from the repo manifests</li>
							<li>The workspace is fully reset and synced before every full build</li>
							<li>Upon starting buildAll a thorough malware scan is performed using ClamAV</li>

						</ul>
						<h4 id="patcher">The Patcher<a href="#patcher">¶</a></h4>
						<p>We do not maintain forks of repos to store modifications. Instead we keep all of our changes and scripts to apply them in a single repository. This has various benefits and downsides, but works best for our needs.</p>
						<h5>Steps performed when running patchWorkspace()</h5>
						<ul>
							<li>Our changes are periodically verified to ensure that they are properly applied and functioning</li>
							<li>Before executing any scripts in the workspace a quick malware scan is performed using ClamAV</li>
							<li>Any cherry picks are applied</li>
							<li>Patch.sh is executed, this applies many .patch files to various repositories and also calls many functions that make further changes</li>
							<li>Copy_Keys.sh is executed, this copies public keys into place to enable verified boot support</li>
							<li>Defaults.sh is executed, this changes various default settings</li>
							<li>Rebrand.sh is executed, this changes many LineageOS references over to DivestOS</li>
							<li>Deblob.sh is executed, this removes many proprietary blob files from the following locations: device, kernel, vendor</li>
							<li>Patch_CVE.sh is executed, this executes scripts created by the CVE patcher to automatically apply many CVE patches to all the kernels</li>
							<li>N: Theme.sh is executed, this changes the teal accents to orange ones</li>
						</ul>
						<h4 id="changes">The Changes<a href="#changes">¶</a></h4>
						<p>We currently support 14.1 (Nougat), 15.1 (Oreo), 16.0 (Pie), 17.1 (Q), 18.1 (R), 19.1 (S), and 20.0 (T). We try our best to ensure parity between them. The below is non-exhaustive and does not include the many changes made using the vendor overlay.</p>
						<h5 id="includedApps">Included Apps<a href="#includedApps">¶</a></h5>
						<ul>
							<li>F-Droid An app catalog for FOSS apps</li>
							<li>Etar: An improved calendar app. Replaces AOSP Calendar</li>
							<li>OpenCamera: An improved camera app. Replaces Camera2/Snap</li>
							<li>GrapheneOS Camera: A secure and user friendly camera app. Replaces OpenCamera on 19.1</li>
							<li>Mull: A browser hardened against trackers by default. Replaces AOSP Browser/LineageOS Jelly</li>
							<li>Simple Gallery: An improved gallery app. Replaces AOSP Gallery</li>
						</ul>

						<h5>android_art</h5>
						<ul>
							<li>N: Workaround for mmap error when building (AOSP)</li>
							<li>P/Q/R/S: GRAPHENE_CONSTIFY=true: Constify JNINativeMethod tables (GrapheneOS)</li>
						</ul>
						<h5>android_bootable_recovery</h5>
						<ul>
							<li>Abort package installs if they are specific to a serial number (GrapheneOS)</li>
							<li>N/O/P: Remove sideload cache</li>
							<li>N: Squash menus</li>
							<li>O/P: Allow 4096-bit keys</li>
							<li>O/P: Resurrect dm-verity</li>
							<li>P: Always enforcing</li>
							<li>P: Fix USB on most devices</li>
							<li>Various rebranding</li>
						</ul>
						<h5>android_bionic</h5>
						<ul>
							<li>P/Q/R/S/T: GRAPHENE_MALLOC=true: Use hardened_malloc (GrapheneOS)</li>
							<li>S/T: Sort and cache hosts file data for fast lookup (tdm)</li>
							<li>N/O/S/T: Support wildcards in cached hosts file (tdm)</li>
							<li>Q/R/S/T: Add a toggle to disable /etc/hosts lookup (DivestOS)</li>
							<li>GRAPHENE_BIONIC=true:</li>
							<li>P/Q/R/S/T: Add a real explicit_bzero implementation (GrapheneOS)</li>
							<!--<li>P/Q/R/S/T: Replace brk and sbrk with stubs (GrapheneOS)</li>-->
							<!--<li>P/Q/R/S/T: Use blocking getrandom and avoid urandom fallback (GrapheneOS)</li>-->
							<li>P/Q/R/S/T: Fix undefined out-of-bounds accesses in sched.h (GrapheneOS)</li>
							<li>P/Q/R/S/T: Stop implicitly marking mappings as mergeable (GrapheneOS)</li>
							<li>P/Q/R/S/T: Replace VLA formatting with dprintf-like function (GrapheneOS)</li>
							<li>P/Q/R/S/T: Increase default pthread stack to 8MiB on 64-bit (GrapheneOS)</li>
							<li>P/Q/R/S/T: Make __stack_chk_guard read-only at runtime (GrapheneOS)</li>
							<li>P/Q/R/S/T: On 64-bit, zero the leading stack canary byte (GrapheneOS)</li>
							<!-- disabled due to boot isssues -->
							<!--<li>P/Q/R: Switch pthread_atfork handler allocation to mmap (GrapheneOS)</li>
							<li>P/Q/R: Add memory protection for pthread_atfork handlers (GrapheneOS)</li>
							<li>P/Q: Add memory protection for at_quick_exit (GrapheneOS)</li>
							<li>P/Q/R: Add XOR mangling mitigation for thread-local dtors (GrapheneOS)</li>
							<li>P/Q/R: Use a better pthread_attr junk filling pattern (GrapheneOS)</li>
							<li>P: Move pthread_internal_t out of the stack mapping (GrapheneOS)</li>
							<li>Q/R: Add guard page(s) between static_tls and stack (GrapheneOS)</li>
							<li>Q/R: Move pthread_internal_t behind guard page (GrapheneOS)</li>
							<li>Q/R: Add secondary stack randomization (GrapheneOS)</li>-->
							<li>S/T: Switch pthread_atfork handler allocation to mmap (GrapheneOS)</li>
							<li>S/T: Add memory protection for pthread_atfork handlers (GrapheneOS)</li>
							<!--<li>S/T: Add XOR mangling mitigation for thread-local dtors (GrapheneOS)</li>
							<li>S/T: Use a better pthread_attr junk filling pattern (GrapheneOS)</li>
							<li>S/T: Add guard page(s) between static_tls and stack (GrapheneOS)</li>
							<li>S/T: Move pthread_internal_t behind guard page (GrapheneOS)</li>
							<li>S/T: Add secondary stack randomization (GrapheneOS)</li>-->

						</ul>
						<h5>android_build_make</h5>
						<ul>
							<li>Re-enable the downgrade check</li>
							<li>P/Q: Add back PicoTTS and language files (DivestOS)</li>
							<li>!N: Use -fwrapv at a minimum (GrapheneOS)</li>
							<li>Add correct keys to recovery for OTA verification (DivestOS)</li>
							<li>R/S/T: GRAPHENE_EXEC=true: Add exec-based spawning support (GrapheneOS)</li>
							<li>Enable auto-add-overlay for packages, this allows the vendor overlay to easily work across all branches.</li>
							<li>Q/R/S: Disable APEX</li>
							<li>T: Only enable APEX on 6th/7th gen Pixel devices (GrapheneOS)</li>
							<li>P/Q/R/S/T: Set the minimum supported target SDK to Pie (GrapheneOS)</li>
							<li>Various rebranding</li>
						</ul>
						<h5>android_build_soong</h5>
						<ul>
							<li>!N: Use -fwrapv at a minimum (GrapheneOS)</li>
							<li>R/S/T: GRAPHENE_MALLOC=true: Make hardened malloc available to apexes (GrapheneOS)</li>
							<li>Q: Enable -ftrivial-auto-var-init=zero (GrapheneOS)</li>
							<li>!N: Disable clang-tidy (kdrag0n)</li>
						</ul>
						<h5>android_device_qcom_sepolicy(-legacy)</h5>
						<ul>
							<li>!S/!T: Fix camera on -user builds (DivestOS)</li>
							<li>P/Q/R: Ignore neverallow violations</li>
							<li>N: Cherrypick 248649: msm_irqbalance: Allow read for stats and interrupts (syphyr)</li>
						</ul>
						<h5>android_external_conscrypt</h5>
						<ul>
							<li>P/Q/R/S/T: GRAPHENE_CONSTIFY=true: Constify JNINativeMethod tables (GrapheneOS)</li>
						</ul>
						<h5>android_external_chromium-webview</h5>
						<ul>
							<li>Update the WebView to latest if available</li>
						</ul>
						<h5>android_external_hardened_malloc</h5>
						<ul>
							<!--<li>O: Compile fixes (DivestOS)</li>-->
							<li>P: GRAPHENE_MALLOC=true: DeviceDescriptor sorting wrongly relies on malloc addresses (GrapheneOS)</li>
							<li>S/T: Workarounds for Pixel 3 SoC era camera driver bugs (GrapheneOS)</li>
							<li>P/Q/R/S/T: GRAPHENE_MALLOC=true: Expand workaround to all camera executables (DivestOS)</li>
							<li>T: Add workaround for OnePlus 8 & 9 display driver crash (DivestOS)</li>
						</ul>
						<h5>android_external_sqlite</h5>
						<ul>
							<li>N: Enable secure_delete by default (AndroidHardening-13.0)</li>
						</ul>
						<h5>android_external_svox</h5>
						<ul>
							<li>O/P/Q: Add back Makefiles</li>
							<li>P/Q: Fix build under Pie</li>
						</ul>
						<h5>android_frameworks_av</h5>
						<ul>
							<li>P: GRAPHENE_MALLOC=true: Don't set RLIMIT_AS for hardened_malloc support (GrapheneOS)</li>
							<li>N: Patch CVE-2017-0592 (AOSP)</li>
						</ul>
						<h5>android_frameworks_base</h5>
						<ul>
							<li>Harden the default GPS config</li>
							<li>N: Re-enable doze on devices without gms</li>
							<li>Disable DropBox internal logging service</li>
							<li>Notify the user if their location is requested via SUPL</li>
							<li>!N: Skip strict update compatibility checks</li>
							<li>!N: Disable partition fingerprint mismatch warnings</li>
							<li>Increase default max password length to 64 (GrapheneOS)</li>
							<li>Decrease the strong auth prompt timeout to occur more often</li>
							<li>N: Cherrypick 248599: Make SET_TIME_ZONE permission match SET_TIME (AOSP)</li>
							<li>N: Allow reducing resolution to save power (DivestOS)</li>
							<li>Change the default DNS servers</li>
							<li>R/S/T: Enable app compaction by default (GrapheneOS)</li>
							<li>R: Enable app freezer by default (GrapheneOS)</li>
							<li>P/Q/R/S/T: Always restrict access to Build.SERIAL (GrapheneOS)</li>
							<li>Don't grant location permission to system browsers (GrapheneOS)</li>
							<li>P/Q/R/S: Allow SystemUI to directly manage Bluetooth/WiFi (GrapheneOS)</li>
							<li>P/Q/R/S/T: GRAPHENE_EXEC=true: Add exec-based spawning support (GrapheneOS)</li>
							<li>Don't send IMSI to SUPL (MSe1969)</li>
							<li>!N: Enable fingerprint lockout after three failed attempts (GrapheneOS)</li>
							<li>P/Q/R/S/T: Allow user logout (GrapheneOS)</li>
							<li>P/Q/R/S/T: Support new special runtime permissions (GrapheneOS)</li>
							<li>S: Extend special runtime permission implementation (GrapheneOS)</li>
							<li>P/Q/R/S/T: Make INTERNET into a special runtime permission (GrapheneOS)</li>
							<li>P/Q/R/S: Add a NETWORK permission group for INTERNET (GrapheneOS)</li>
							<li>Q/R: Enforce INTERNET as a runtime permission. (GrapheneOS)</li>
							<li>Q/R: Fix INTERNET enforcement for secondary users (GrapheneOS)</li>
							<li>Q/R: Send uid for each user instead of just owner/admin user (GrapheneOS)</li>
							<li>Q/R: Skip reportNetworkConnectivity() when permission is revoked (GrapheneOS)</li>
							<li>S: net: Notify ConnectivityService of runtime permission changes (GrapheneOS)</li>
							<li>S: Make DownloadManager.enqueue() a no-op when INTERNET permission is revoked (GrapheneOS)</li>
							<li>S: Make DownloadManager.query() a no-op when INTERNET permission is revoked (GrapheneOS)</li>
							<li>P/Q/R/S/T: Add special runtime permission for other sensors (GrapheneOS)</li>
							<li>Q/R/S/T: Timeout for reboot (GrapheneOS)</li>
							<li>Q/R/S/T: Timeout for Bluetooth (GrapheneOS)</li>
							<li>Q/R/S/T: Timeout for Wi-Fi (GrapheneOS)</li>
							<li>P/Q/R/S/T: GRAPHENE_CONSTIFY=true: Constify JNINativeMethod tables (GrapheneOS)</li>
							<li>Q/R/S:/T Add option of always randomizing MAC addresses (GrapheneOS)</li>
							<li>Q/R: Fix random reboots on broken kernels when an app has data restricted (DivestOS)</li>
							<li>S/T: Don't report statementservice crashes (GrapheneOS)</li>
							<li>S: Skip screen on animation when wake and unlock via biometrics (jesec)</li>
							<li>S/T: SystemUI: Skip screen-on animation in all scenarios (kdrag0n)</li>
							<li>R/S/T: SystemUI: add burnIn protection (arter97)</li>
							<li>S: Make monet based theming user configurable (GrapheneOS)</li>
							<li>S/T: Add an option to show the details of an application error to the user (GrapheneOS)</li>
							<li>T: Make sure PackageInstaller UI returns a result (GrapheneOS)</li>
							<li>T: Don't leak device-wide package list to apps when work profile is present (GrapheneOS)</li>
							<li>T: Don't allow updating system packages to the same versionCode (GrapheneOS)</li>
							<li>T: Prefer package from OS image over equal version of upgraded system package (GrapheneOS)</li>
							<li>T: Replace agnss.goog with the Broadcom PSDS server (heavily based off of a GrapheneOS patch)</li>
							<li>Q/R/S: Warn when running activity from 32 bit app on ARM64 devices. (AOSP)</li>
							<!--<li>N/O: Permission for sensors access (MSe1969)</li>-->
							<li>Q/R: Restore the Sensors Off tile (DivestOS)</li>
							<li>P/Q/R: More 'Private DNS' options (based off of a CalyxOS patch)</li>
							<!--<li>P/Q/R/S: Add Open Camera to aux camera allowlist</li>-->
							<li>Remove CompanionDeviceManager, used to support Android Wear</li>
							<li>N/O/Q: Remove Osu, Automatic Wi-Fi connection non-sense</li>
							<li>Remove PrintRecommendationService, Creates popups to install proprietary print apps</li>
							<li>Set animation scales to 0.5</li>
							<li>Various rebranding</li>
						</ul>
						<h5>android_frameworks_ex</h5>
						<ul>
							<li>R/S/T: GRAPHENE_CONSTIFY=true: Constify JNINativeMethod tables (GrapheneOS)</li>
						</ul>
						<h5>android_frameworks_libs_net</h5>
						<ul>
							<li>S/T: More 'Private DNS' options (heavily based off of a CalyxOS patch)</li>
						</ul>
						<h5>android_frameworks_libs_systemui</h5>
						<ul>
							<li>S/T: Invalidate icon cache between OS releases (GrapheneOS)</li>
						</ul>
						<h5>android_frameworks_native</h5>
						<ul>
							<!--<li>N/O: Permission for sensors access (MSe1969)</li>-->
							<li>P/Q/R/S/T: Require OTHER_SENSORS permission for sensors (GrapheneOS)</li>
							<li>S/T: Protect step sensors with OTHER_SENSORS permission for targetSdk<29 apps (GrapheneOS)</li>
							<li>R: Fix use-after-free in adbd_auth (GrapheneOS)</li>
						</ul>
						<!--<h5>android_frameworks_opt_net_ims</h5>
						<ul>
							<li>DEBLOBBER_REMOVE_IMS=true: Fix calling when IMS is removed (DivestOS)</li>
						</ul>-->
						<h5>android_frameworks_opt_net_wifi</h5>
						<ul>
							<li>P/Q: GRAPHENE_CONSTIFY=true: Constify JNINativeMethod tables (GrapheneOS)</li>
							<li>Q/R/S/T: Add support for always generating new random MAC (GrapheneOS)</li>
						</ul>
						<h5>android_hardware_ti_omap4</h5>
						<ul>
							<li>N: Fix camera on tuna (repinski)</li>
						</ul>
						<h5>android_hardware_ti_wlan</h5>
						<ul>
							<li>N: Cherrypick 209209: wl12xx: Update SR and MR firmwares versions (Texas Instruments)</li>
							<li>N: Cherrypick 209210: wl12xx: Update SR PLT firmwares (Texas Instruments)</li>
						</ul>
						<h5>android_hardware_qcom_audio</h5>
						<ul>
							<li>Q/R/S/T: audio_extn: Fix unused parameter warning in utils.c (codeworkx)</li>
						</ul>
						<h5>android_hardware_qcom_display</h5>
						<ul>
							<li>!S/!T: Patch CVE-2019-2306 (Qualcomm)</li>
						</ul>
						<h5>android_hardware_qcom_gps</h5>
						<ul>
							<li>N/O: Fix week rollover (jlask)</li>
						</ul>
						<h5>android_libcore</h5>
						<ul>
							<li>Q/R/S/T: GRAPHENE_EXEC=true: Add exec-based spawning support (GrapheneOS)</li>
							<li>P/Q/R/S/T: Expose the NETWORK permission (GrapheneOS)</li>
							<li>P/Q/R/S/T: GRAPHENE_CONSTIFY=true: Constify JNINativeMethod tables (GrapheneOS)</li>
						</ul>
						<h5>android_lineage-sdk</h5>
						<ul>
							<li>Disable Weather</li>
							<li>DEBLOBBER_REMOVE_AUDIOFX=true: Remove AudioFX</li>
							<li>Various rebranding</li>
						</ul>
						<h5>android_packages_apps_Aperture</h5>
						<ul>
							<li>T: Enable stabilization by default (DivestOS)</li>
						</ul>
						<h5>android_packages_apps_Bluetooth</h5>
						<ul>
							<li>P/Q/R/S: GRAPHENE_CONSTIFY=true: Constify JNINativeMethod tables (GrapheneOS)</li>
						</ul>
						<h5>android_packages_apps_Contacts</h5>
						<ul>
							<li>!N: Remove Privacy Policy and Terms of Service links (GrapheneOS)</li>
							<li>Q/R/S/T: Backups are not sent to Google (GrapheneOS)</li>
							<li>!N: Don't prompt to add account when creating a contact (CalyxOS)</li>
							<li>Use common intent for directions instead of Google Maps URL (GrapheneOS)</li>
						</ul>
						<h5>android_packages_apps_Dialer</h5>
						<ul>
							<li>P/Q/R/S/T: Add a privacy warning banner to calls (CalyxOS)</li>
							<li>Disable FLP</li>
							<li>Disable PLP</li>
							<li>Disable RLP</li>
							<li>S/T: temporary workaround for black screen on incoming calls https://gitlab.com/LineageOS/issues/android/-/issues/4632</li>
						</ul>
						<h5>android_packages_apps_CMParts</h5>
						<ul>
							<li>N: Remove analytics (DivestOS)</li>
							<li>N: Allow reducing resolution to save power (DivestOS)</li>
							<li>N: Various rebranding</li>
							<li>N: Update LineageOS contributors cloud</li>
						</ul>
						<h5>android_packages_apps_LineageParts</h5>
						<ul>
							<li>Remove analytics (DivestOS)</li>
							<li>Various rebranding</li>
							<li>Update LineageOS contributors cloud</li>
						</ul>
						<h5>android_packages_apps_Nfc</h5>
						<ul>
							<li>Disable NFC by default</li>
							<li>Disable NDEF Push by default</li>
							<li>P/Q/R/S/T: GRAPHENE_CONSTIFY=true: Constify JNINativeMethod tables (GrapheneOS)</li>
						</ul>
						<h5>android_packages_apps_PackageInstaller</h5>
						<ul>
							<li>N: Fix an issue with Permission Review (AOSP)</li>
						</ul>
						<h5>android_packages_apps_PermissionController</h5>
						<ul>
							<li>P/Q/R/S: Always treat INTERNET as a runtime permission (GrapheneOS)</li>
							<li>T: Add special handling for INTERNET/OTHER_SENSORS (GrapheneOS)</li>
							<li>P: Add NETWORK permission group (GrapheneOS)</li>
							<li>Q/R/S: Add INTERNET permission toggle (GrapheneOS)</li>
							<li>P/Q/R/S: Add OTHER_SENSORS permission group (GrapheneOS)</li>
							<li>P/Q/R/S: Always treat OTHER_SENSORS as a runtime permission (GrapheneOS)</li>
							<li>R/S: Refactor handling of special runtime permissions (GrapheneOS)</li>
							<li>R/S: Don't auto revoke Network and Sensors (GrapheneOS)</li>
							<li>R/S: UI fix for special runtime permission (GrapheneOS)</li>
							<li>S/T: Fix usage UI summary for Network/Sensors (GrapheneOS)</li>
							<li>S/T: Stop auto-granting location to system browsers (GrapheneOS)</li>
							<li>S/T: SystemUI: Use new privacy indicators for location (GrapheneOS)</li>
						</ul>
						<h5>android_packages_apps_Settings</h5>
						<ul>
							<li>!R/!S/!T: Don't hide OEM unlock</li>
							<li>N: Cherrypick 201113: wifi: Add world regulatory domain country code (syphyr)</li>
							<li>N/O/P/Q: Add option to disable captive portal checks (MSe1969)</li>
							<li>R/S/T: Add option to disable captive portal checks (GrapheneOS + DivestOS modifications for additonal choices)</li>
							<!--<li>N/O: Permission for sensors access (MSe1969)</li>-->
							<li>Q/R: Remove the Sensors Off development tile (DivestOS)</li>
							<li>P/Q/R/S/T: More 'Private DNS' options (based off of a CalyxOS patch)</li>
							<li>Q/R/S/T: Timeout for reboot (GrapheneOS)</li>
							<li>Q/R/S/T: Timeout for Bluetooth (CalyxOS)</li>
							<li>Q/R/S/T: Timeout for Wi-Fi (CalyxOS)</li>
							<li>Q/R/S/T: Add native debugging setting (GrapheneOS)</li>
							<li>Q/R/S/T: GRAPHENE_EXEC=true: Add exec spawning toggle (GrapheneOS)</li>
							<li>Q/R/S/T: Add option to always randomize MAC (GrapheneOS</li>
							<li>R/S/T: UserManager app installation restrictions (GrapheneOS)</li>
							<li>Q/R/S/T: Add a toggle to disable /etc/hosts lookup (based off of a GrapheneOS patch)</li>
							<li>N/O/P/Q: Increase default max password length to 64 (GrapheneOS)</li>
							<li>Q/R/S/T: Add LTE-only mode option (GrapheneOS)</li>
							<li>Never disable secure start-up when enabling an accessibility service</li>
							<li>Disable "Instant Apps"</li>
							<li>Always reset animation scales to 0.5</li>
							<li>Various rebranding</li>
						</ul>
						<h5>android_packages_apps_SetupWizard</h5>
						<ul>
							<li>Remove analytics (DivestOS)</li>
							<li>R/S/T: Always update recovery by default</li>
							<li>Various rebranding</li>
						</ul>
						<h5>android_packages_apps_ThemePicker</h5>
						<ul>
							<li>S: Add a UI for enabling Material You (GrapheneOS)</li>
						</ul>
						<h5>android_packages_apps_Trebuchet</h5>
						<ul>
							<li>Override the default workspace layouts</li>
							<li>O: Disable predictive apps by default</li>
						</ul>
						<h5>android_packages_apps_Updater</h5>
						<ul>
							<li>Switch to our server (DivestOS)</li>
							<li>Add Tor support (DivestOS)</li>
							<li>Q/R/S/T: Remove periods from incremental version</li>
							<li>R/S/T: Always update recovery by default</li>
							<li>R: Add prop for allowing major updates (erfanoabdi)</li>
							<li>Various rebranding</li>
						</ul>
						<h5>android_packages_apps_WallpaperPicker</h5>
						<ul>
							<li>N: Replace the wallpapers with our choices</li>
							<li>N: Allow scrolling</li>
							<li>N: Center aligned by default</li>
						</ul>
						<h5>android_packages_inputmethods_LatinIME</h5>
						<ul>
							<li>Remove voice input key (DivestOS)</li>
							<li>Disable personalization dictionary by default (GrapheneOS)</li>
						</ul>
						<h5>android_packages_modules_Connectivity</h5>
						<ul>
							<li>S: Add callback for enforcing INTERNET permission changes (GrapheneOS)</li>
							<li>S: Use uid instead of app id (GrapheneOS)</li>
							<li>S/T: Skip reportNetworkConnectivity() when permission is revoked (GrapheneOS)</li>
							<li>T: Enforce INTERNET permission per-uid instead of per-appId (GrapheneOS)</li>
							<li>T: Don't crash INTERNET-unaware apps that try to access NsdManager (GrapheneOS)</li>
							<li>S/T: More 'Private DNS' options (based off of a CalyxOS patch)</li>
						</ul>
						<h5>android_packages_modules_DnsResolver</h5>
						<ul>
							<li>S/T: Sort and cache hosts file data for fast lookup (tdm)</li>
							<li>S/T: Support wildcards in cached hosts file (tdm)</li>
							<li>R/S/T: Add a toggle to disable /etc/hosts lookup (DivestOS)</li>
						</ul>
						<h5>android_packages_modules_NetworkStack</h5>
						<ul>
							<li>R/S/T: Avoid reusing DHCP state for full MAC randomization (GrapheneOS)</li>
						</ul>
						<h5>android_packages_modules_Wifi</h5>
						<ul>
							<li>S/T: Add support for always generating new random MAC (GrapheneOS)</li>
							<li>S: Fix MAC address leak after SSR (AOSP)</li>
							<li>S: WifiService: Capture BackendBusyException in MacRandomization (CodeAurora)</li>
						</ul>
						<h5>android_packages_providers_DownloadProvider</h5>
						<ul>
							<li>P/Q/R/S/T: Expose the NETWORK permission (GrapheneOS)</li>
						</ul>
						<h5>android_packages_providers_MediaProvider</h5>
						<ul>
							<li>O: Fix permission denial (luca.stefani)</li>
						</ul>
						<h5>android_packages_providers_TelephonyProvider</h5>
						<ul>
							<li>R: Cherrypick 304614: mcc/mnc fix (Sony)</li>
							<li>R: Cherrypick 312102: mnc fix (Sony)</li>
						</ul>
						<h5>android_packages_services_Telephony</h5>
						<ul>
							<li>N/O/P: Add an LTE only option (DivestOS)</li>
						</ul>
						<h5>android_prebuilts_abi-dumps_vndk</h5>
						<ul>
							<li>Q: Work around ABI changes from compiler hardening (GrapheneOS)</li>
						</ul>
						<h5>android_system_bt</h5>
						<ul>
							<li>N: Add an option to let devices opt-out of the HCI_READ_ENCR_KEY_SIZE_SUPPORTED assert (DivestOS)</li>
							<li>N: Cherrypick topic bt-sbc-hd-dualchannel-nougat (ValdikSS)</li>
							<li>N: Cherrypick 242134: avrc_bld_get_attrs_rsp - fix attribute length position off by one (cprhokie)</li>
							<li>R: Cherrypick topic a2dp-master-fixes (AOSP)</li>
							<li>Q/R/S: Add alloc_size attributes to the allocator (GrapheneOS)</li>
						</ul>
						<h5>android_system_core</h5>
						<ul>
							<li>Merge in our HOSTS file</li>
							<li>Q/R/S/T: Revert some Lineage insanity</li>
							<li>N: Allow 4096-bit keys</li>
							<li>!R/!S/!T: Always update recovery</li>
							<li>P/Q/R/S/T: GRAPHENE_MALLOC=true: Increase max_map_count for hardened_malloc (GrapheneOS)</li>
							<li>Harden mounts with nodev/noexec/nosuid (GrapheneOS)</li>
							<li>Misc sysctl changes</li>
							<li>Q/R/S/T: Add a property for controlling ptrace_scope (GrapheneOS)</li>
							<li>P/Q/R: GRAPHENE_BIONIC=true: Zero sensitive information with explicit_bzero (GrapheneOS)</li>
						</ul>
						<h5>android_system_extras</h5>
						<ul>
							<li>P/Q/R/S/T: File Based Encryption: pad filenames more (GrapheneOS)</li>
						</ul>
						<h5>android_system_netd</h5>
						<ul>
							<li>Q/R/S: Expose the NETWORK permission (GrapheneOS)</li>
							<li>Q: Add a toggle to disable /etc/hosts lookup (DivestOS)</li>
						</ul>
						<h5>android_system_sepolicy</h5>
						<ul>
							<li>N: Cherrypick 248600: Restrict access to timing information in /proc (AndoridHardening)</li>
							<li>Fix -user builds for LGE devices (DivestOS)</li>
							<li>P/Q/R: Allow ignoring neverallows under -user</li>
							<li>label protected_{fifos,regular} as proc_security (GrapheneOS)</li>
							<li>Q/R/S/T: Allow init to control kernel.yama.ptrace_scope (GrapheneOS)</li>
							<li>Q/R/S/T: Allow system to use persist.native_debug (GrapheneOS)</li>
							<li>R/S/T: Disable unused gmscore_app domain (GrapheneOS)</li>
						</ul>
						<h5>android_system_update_engine</h5>
						<ul>
							<li>Q/R/S/T: Do not skip payload signature verification</li>
						</ul>
						<h5>android_system_vold</h5>
						<ul>
							<li>N/O: Add a variable for enabling AES-256 bit encryption (DivestOS)</li>
						</ul>
						<h5>android_vendor_lineage</h5>
						<ul>
							<!--<li>Use the WebView overlay in vendor_divested instead</li>-->
							<li>Remove Lineage keys</li>
							<li>Remove analytics</li>
							<li>Remove Lineage wallpaper</li>
							<li>R/S: Do not set device model as DHCP hostname</li>
							<li>Make sure our hosts is always used</li>
							<li>Remove Weather</li>
							<li>Unset default backup provider</li>
							<li>DEBLOBBER_REMOVE_AUDIOFX=true: Remove AudioFX</li>
							<li>Change buildtype to dos</li>
							<li>Include our customizations</li>
							<li>Update APN list</li>
							<li>Change default notification sound to Pong</li>
							<li>Change default alarm sound to Alarm_Buzzer</li>
							<li>T: Ignore missing packages</li>
							<li>Various rebranding</li>
						</ul>
						<h5>android_vendor_divested</h5>
						<ul>
							<li>Note: these are per branch changes to the overlay itself, not *the* changes made by the overlay</li>
							<li>R/S/T: Remove all lookup provider overrides</li>
							<li>P/Q/R/S: Add deny usb service, all of our kernels the necessary patch</li>
							<li>R/S/T: PicoTTS needs work to compile on 18.1, use eSpeak-NG instead</li>
						</ul>

						<h5>Automated mass changes to android_device_*</h5>
						<ul>
							<!--<li>LOWRAM_ENABLED: enableLowRam()</li>-->
							<li>hardenLocationConf()</li>
							<li>hardenLocationFWB()</li>
							<li>DEBLOBBER_REMOVE_IMS=false: volteOverride()</li>
							<li>enableDexPreOpt()</li>
							<li>hardenUserdata()</li>
							<!--<li>hardenBootArgs()</li>-->
							<li>Q/R/S: disableAPEX()</li>
							<li>removeBuildFingerprints()</li>
							<li>AVB chaining is disabled</li>
							<li>OEM unlocking toggle is made available on supported devices</li>
							<li>P/Q/R/S: GRAPHENE_EXEC=true: disableEnforceRRO() (GrapheneOS)</li>
							<li>Many proprietary blobs are disabled/removed via Deblob.sh</li>
							<li>Camera pinning is disabled for reduced memory usage.</li>
							<li>USAP is disabled for reduced memory usage.</li>
						</ul>
						<h5>Automated mass changes to android_kernel_*</h5>
						<ul>
							<li>hardenDefconfig()</li>
							<li>Fix builds with GCC 10</li>
							<li>Verified boot keys are copied into their respective kernels</li>
							<li>Change the VM_MAX_READAHEAD value from the default 128KB to 512KB</li>
							<li>-ftrivial-auto-var-init=zero is enabled if supported (GrapheneOS)</li>
							<li>Wi-Fi regulations database is updated to latest on supported kernels.</li>
							<li>Many CVE (and some hardening) patches are applied to each and every kernel as applicably determined by the CVE checker.</li>
						</ul>
						<h5>Automated mass changes to android_vendor_*</h5>
						<ul>
							<li>hardenLocationConf()</li>
							<li>Many proprietary blobs are disabled/removed via Deblob.sh</li>
						</ul>
					</div>
				</div>
