				<div class="card fluid">
					<h2>Verified Boot Hashes</h2>
					<p>If you've locked your bootloader on a verified boot enabled device you can verify that the fingerprint displayed on boot matches as below.<br>If your device only has a short ID, it is simply the first eight characters of the first line of the SHA-256 hash.<br>If your fingerprint has colons in it, that is a SHA-1 hash and we haven't figured out exactly how it is calculated.<br>You can view the raw file <a href="misc/vbhashes.txt">here</a>.</p>
					<div class="section">
					<pre><?php echo str_replace("\t", "&#9;", nl2br(file_get_contents("misc/vbhashes.txt"))); ?></pre>
					</div>
				</div>
